.page_size{
width:93%;
margin: 0 auto;
}
.clear{
clear: both;
}
h1{
margin-top: 19px;
text-align: center;
color: #0066ff;
font-size: 22px;
border: 20px;
}
.contact_img{
	padding: 10px;
}
.contact_img img{
	width: 100%;
}
.top_img{
margin-top: 10px;
}
.n_nav{
background:url(../images/mobile_user/nar_bar.png) no-repeat;
}
#com_name{
text-align: center;
margin-top: 10px;
font-size: 20px;
border-radius: 10px;
font-weight: bold;
text-shadow: 2px 2px #d4bab7;
} 
.add_name,.add_namess span{
text-align: left;
font-size: 14px;
padding: 10px;
line-height:6px;
overflow-wrap: break-word;
}
.add_names{
text-align: left;
font-size: 14px;
padding: 10px;
line-height:6px;
padding-bottom:40px;
}
.add_namess{
text-shadow: 0px 0px #c0c0c0;
text-align: left;
font-size: 14px;
padding: 10px;
line-height: 6px;
font-weight: bold;
}
.contant-footer{
margin-top: 20px;
}
#contant{
background:#ffffff;
margin-top: 14px;
border:1px solid #ccc;
}
.free{
min-height:20px;
}
#bootom{
    padding-bottom:47px;
}

table td{
    font-size: 14px;
    line-height:38px;
    text-align: left;
}

.oranges{
  color:#ffffff;
  border: solid 1px #da7c0c;
  
border: none;
}
.txt_edit{
   float: left;
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #cccccc;
  color: black;
  height: 25px;
  margin-top: -5px;
  text-indent: 5px;
  width: 190px;
  margin-top: 10px;
  font-size: 14px;
}
.range{
    color: #0000ff;
  border: solid 1px #da7c0c;
 
  border: none;
}
