/*
 * Copyright 2005-2015 the original author or authors.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* basic settings */

body {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 11px;
    font-family: Tahoma, sans-serif;
    line-height: 1;
    min-width: 280px;
    background-color: #f1f2f2;
	width:100%;
}
body.rtl {
    text-align: right;
    direction: rtl;
}
body.invitation {
    min-width: 0;
    min-height: 0;
}
a {
    text-decoration: underline;
    color: #008ad9;
}
a:hover {
    text-decoration: none;
}
img {
    vertical-align: bottom;
    border: 0 none;
}
.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
}

/* layout of chat */
#top {
    position: relative;
    padding: 5px 14px;
 //   background: #ffffff url("images/topbg.gif") scroll repeat-x 0 100%;
    _zoom: 1; /* IE6 fix */
}
#chat-header {
    position: relative;
    background: #f1f2f2 url("images/chatheaderbg.gif") scroll repeat-x 0 0;
    _zoom: 1; /* IE6 fix */
	width:100%;
}
#chat {
    background: #f1f2f2;
}
#message {
    background: #f1f2f2;
	width:100%;
	margin-top:3px;
}
#send {
    padding: 5px 5px;
	width:80px
	font-size:12px;
}
#footer {
   width:100%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #999999;
	display:none;
}
#footer a {
    color: #999999;
}

/* chat header (#chat-header) */
#chat-header .background-center {
    background: #ffffff url("images/chatheaderbgc.gif") scroll repeat-x 0 0;
}
#chat-header .background-left {
    background: transparent url("images/chatheaderbgl.gif") scroll no-repeat 0 0;
    _zoom: 1; /* IE6 fix */
}
#chat-header .background-right {
    height: 42px;
    background: transparent url("images/chatheaderbgr.gif") scroll no-repeat 100% 0;
}
#logo {
    font-weight: normal;
    font-size: 17px;
    font-family: Arial, sans-serif;
    color: #495151;
	display:none;
}
#logo a {
    float: left;
    text-decoration: none;
	display:none;
}
#page-title {
    float: right;
    margin-top: 5px;
    text-align: right;
}

/* common controls */
#controls-region {
    padding-right: 25px;
}
.control {
    display: inline-block;
    margin: 15px 0 0 11px;
    cursor: pointer;
    float: right;
}
.tpl-image {
    width: 16px;
    height: 16px;
    background: transparent url("images/buttons.gif") scroll no-repeat 0 0;
}
.image-close-window {
	background-position: -128px -16px;
	display:none;
}
a:hover .image-close-window {
	background-position: -128px 0;
}
.close-control .tpl-image {
    background-position: -128px -16px;
}
.active-close-control .tpl-image {
    background-position: -128px 0;
}
.refresh-control .tpl-image {
    background-position: -80px -16px;
}
.active-refresh-control .tpl-image {
    background-position: -80px 0;
}
.secure-mode-control .tpl-image {
    background-position: -144px -16px;
}
.active-secure-mode-control .tpl-image {
    background-position: -144px 0;
}
.history-control .tpl-image {
    background-position: -112px -16px;
}
.active-history-control .tpl-image {
    background-position: -112px 0;
}
.sound-control .sound-control-on {
    background-position: -48px -16px;
}
.active-sound-control .sound-control-on {
    background-position: -48px 0;
}
.sound-control .sound-control-off {
    background-position: -64px -16px;
}
.active-sound-control .sound-control-off {
    background-position: -64px 0;
}
.send-mail-control .tpl-image {
    background-position: -32px -16px;
	display:none;
}
.active-send-mail-control .tpl-image {
    background-position: -32px 0;
}
.redirect-control .tpl-image {
    background-position: -96px -16px;
}
.active-redirect-control .tpl-image {
    background-position: -96px 0;
}
.user-name-control {
cursor: auto;
    display: none;
    float: left;
    font-size: 14px;
    line-height: 22px;
    margin-top: 12px;
}
.user-name-control-set {
    display: inline-block;
    vertical-align: middle;
    background-position: 0 -16px;
}
.user-name-control-set:hover {
    background-position: 0 0;
}
.user-name-control-change {
    display: inline-block;
    vertical-align: middle;
    background-position: -16px -16px;
}
.user-name-control-change:hover {
    background-position: -16px 0;
}
.user-name-control-input-background {
    width: 95px;
    height: 16px;
    padding: 3px;
    background: #ffffff url("images/input_name.gif") scroll no-repeat 0 0;
    display: inline-block;
    _background-color: transparent;
}
#user-name-control-input {
    width: 95px;
    height: 16px;
    margin: 0;
    padding: 0;
    border: 0 none;
    font-weight: normal;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
}
.user-name-control-prefix {
    padding-right: 10px;
}

/* main chat region (#chat) */
#chat .background-left {
    background: #ffffff url("images/chatbgl.gif") scroll repeat-y 0 0;
	width: 100%;
}
#chat .background-right {
    background: transparent url("images/chatbgr.gif") scroll repeat-y 100% 0;
}
#chat .background-shady-center {
   // background: transparent url("images/sdwbgc.png") scroll repeat-x 0 100%;
}
#chat .background-shady-left {
   // background: transparent url("images/sdwbgl.png") scroll no-repeat 0 100%;
}

#chat .background-shady-right {
    position: relative;
    padding: 0 4px 5px;
   // background: transparent url("images/sdwbgr.png") scroll no-repeat 100% 100%;
    _zoom: 1; /* IE6 fix */
}
#status-region {
    position: absolute;
    bottom: 20px;
    left: 14px;
    font-size: 12px;
    color: #333333;
}
.status {
    float: left;
    padding-right: 10px;
}
#avatar-region {
    float: right;
    height: 200px;
    background: #eeeeee url("images/avatarbg.gif") scroll repeat-y 100% 0;
}
.avatar {
    width: 100px;
    height: 100px;
    margin: 10px 10px 0 10px;
    text-align: center;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}
.default-avatar {
    background: transparent url("images/avatar.jpg") scroll no-repeat 50% 10px;
    width: 100px;
    height: 100px;
}
.avatar img {
    max-width: 100px;
    border: none;
}
#messages-region {
    overflow-y: auto;
    padding: 10px 5px 0;
    font-weight: normal;
    font-size: 10px;
    font-family: Tahoma, sans-serif;
    line-height: 1.8em;
    color: #999;
}
#messages-region .message-info {
    font-size: 1.1em;
    color: #7baa0f;
}
#messages-region .message-hidden,
#messages-region .message-event {
    font-size: 1.1em;
}
#messages-region .name-agent {
    font-size: 1.1em;
    font-weight: bold;
    color: #000;
}
#messages-region .name-user {
    font-size: 1.1em;
    font-weight: bold;
    color: #da251d;
}
#messages-region .message-agent,
#messages-region .message-user {
    font-size: 1.1em;
    color: #000;
}

/* message area (#message) */
#message .background-center {
    background: #ffffff url("images/message.png") scroll repeat-x 0 -120px;
}
#message .background-left {
    background: transparent url("images/message.png") scroll no-repeat 0 -25px;
}
#message .background-right {
    height: 58px;
   padding: 1px 8px 0px;
    background: transparent url("images/message.png") scroll no-repeat 100% -215px;
}
#message-input {
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    border: 0 none;
    background: transparent;
    resize: none; /* disable resize textarea in Google Chrome, Safari and Firefox 4 */
}

/* sending message area (#send) */
#post-message {
}
#send-message, .submit-button {
   background-color: #0772ba;
    color: #fff;
    float: right;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 100px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.send-online, .submit-button {
   background-color: #0772ba;
    color: #fff;
    float: right;
    font-family: Arial,sans-serif;
    font-size: 17px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 70px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#submit-survey{
   background-color: #0772ba;
    color: #fff;
    float: right;
    font-family: Arial,sans-serif;
    font-size: 17px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 122px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	  margin-right: 7px;
	  margin-top: 10px;
}
#send-message:hover, .submit-button:hover {
    color: #fff;
}
#predefined-wrapper {
    float: left;
    padding: 5px 0 0 3px;
}
#predefined {
    width: 200px;
}


/* error page (error.tpl) */
#logo-wrapper {
    position: relative;
    background: #ffffff url("images/logobg.gif") scroll repeat-x 0 100%;
    _zoom: 1; /* IE6 fix */
	width:100%;
}
.headers-inwards-wrapper-common {
  background-color: #fff;
  margin-bottom: 10px;

}
.headers-inwards-wrapper-top-left {
    
}
.headers-inwards-wrapper-top-right {
    
}
.headers-inwards-wrapper-bottom-left {
    
}
.headers-inwards-wrapper-bottom-right {
    position: relative;
    padding: 14px;
    
}
.headers-inwards-wrapper-bottom-right .buttons {
    top: 14px;
    position: absolute;
    right: 25px;
}
#headers {
    background: #f1f2f2;
}
#content-wrapper {
 
    background: transparent url("images/content.gif") scroll repeat-x 0 -2px;
}
#content-wrapper {
    font-weight: normal;
    font-size: 13px;
    font-family: Arial, sans-serif;
}
.info-message {
    padding: 0 60px 0 0;
    font-weight: normal;
    font-size: 13px;
    font-family: Arial, sans-serif;
}

/* redirection page (redirect.tpl) */
.left {
    float: left;
    width: 49%;
}
.right {
    float: right;
    width: 49%;
}
.center {
    padding-top: 30px;
    text-align: center;
}
ul {
    margin: 10px 0;
    padding: 0 0 0 10px;
    list-style: none outside none;
}
ul li {
    margin: 0 0 4px;
    padding: 0 0 0 10px;
    list-style: none outside none;
    background: transparent url("images/list.gif") scroll no-repeat 0 5px;
}

/* miscellanea */
.form {
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    vertical-align: top;
	  width: 100%;
}
.form td {
    margin: 0;
    padding: 5px;
    border: 0;
    border-collapse: collapse;
    vertical-align: top;

}
#content-wrapper #send-message {
    float: right;
    margin: 5px 5px 0px 5px;
}
#content-wrapper input,
.headers-inwards-wrapper-bottom-right input {
	border: 1px solid #bbc4c4;
    height: 25px;
    width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#content-wrapper textarea,
.headers-inwards-wrapper-bottom-right input {
	border: 1px solid #bbc4c4;
    width: 99%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	resize: none;
	font-family: Tahoma, sans-serif;
    font-size: 13px;
}

.class_label{
	font-size:14px;
	font-weight:bold;
}

#ajax-loader {
    display: none;
    position: absolute;
    top: 200px;
    left: 115px;
}


/* invitations */
#invitation-messages-region {
    height: 150px;
    min-height: 150px;
    width: 388px;
    overflow-y: auto;
    padding: 0;
    font-weight: normal;
    font-size: 10px;
    font-family: Tahoma, sans-serif;
    line-height: 1.8em;
    color: #999999;
    background-color: #ffffff;
}
#invitation-messages-region .message-info {
    font-size: 1.1em;
    color: #7baa0f;
}
#invitation-messages-region .message-hidden,
#invitation-messages-region .message-event {
    font-size: 1.1em;
}
#invitation-messages-region .name-agent {
    font-size: 1.1em;
    font-weight: bold;
    color: #000000;
}
#invitation-messages-region .name-user {
    font-size: 1.1em;
    font-weight: bold;
    color: #da251d;
}
#invitation-messages-region .message-agent,
#invitation-messages-region .message-user {
    font-size: 1.1em;
    color: #000000;
}

/* confirmation dialogue */
.info-message .visitor {
    color: blue;
}
.info-message .operator {
    color: green;
}
#confirm-pane {
    width: 100%;
}
#confirm-pane .button-wrapper {
    width: 400px;
    margin: 140px auto 0;
}
#confirm-pane .submit-button {
    float: none;
    display: inline-block;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
 .form td {
	width:100%;
	background-color:white;
 }
 #content-wrapper textarea,
.headers-inwards-wrapper-bottom-right input {
	border: 1px solid #bbc4c4;
    width: 99%;
	font-size:12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	resize: none;
	font-family: Tahoma, sans-serif;
}
#content-wrapper input,
.headers-inwards-wrapper-bottom-right input {
	border: 1px solid #bbc4c4;
    height: 25px;
    width: 97%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#chat{
	width:100%;
}
#message{
   width:100%;
   font-size:13px;
}
#message-input {
  width:100%;
  font-size:12px;
}
#messages-region {
  padding: 10px 5px 0;
  font-weight: normal;
  font-size: 10px;
  font-family: Tahoma, sans-serif;
  line-height: 1.8em;
  color: #999;
  font-size:12px;
}

#send-message, .submit-button {
   background-color: #0772ba;
    color: #fff;
    float: right;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 250px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.send-online, .submit-button {
   background-color: #0772ba;
    color: #fff;
    float: right;
    font-family: Arial,sans-serif;
    font-size: 17px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 70px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#submit-survey{
   background-color: #0772ba;
    color: #fff;
    float: right;
    font-family: Arial,sans-serif;
    font-size: 17px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 250px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	  margin-right: 7px;
	  margin-top: 10px;
}
	
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
 .form td {
	width:100%;
	background-color:white;
 }
 
 #content-wrapper textarea,
.headers-inwards-wrapper-bottom-right input {
	border: 1px solid #bbc4c4;
    width: 99.5%;
	font-size:12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	resize: none;
	font-family: Tahoma, sans-serif;
}
#content-wrapper input,
.headers-inwards-wrapper-bottom-right input {
	border: 1px solid #bbc4c4;
    height: 25px;
    width: 99%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#chat{
	width:100%;
}
#message-input {
  width:100%;
  font-size:12px;
}
#messages-region {
  padding: 10px 5px 0;
  font-weight: normal;
  font-size: 10px;
  font-family: Tahoma, sans-serif;
  line-height: 1.8em;
  color: #999;
  font-size:12px;
}
#message{
   width:100%;
   font-size:12px;
}
#send-message, .submit-button {
   background-color: #0772ba;
    color: #fff;
    float: right;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 100px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.send-online, .submit-button {
   background-color: #0772ba;
    color: #fff;
    float: right;
    font-family: Arial,sans-serif;
    font-size: 17px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 70px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#submit-survey{
   background-color: #0772ba;
    color: #fff;
    float: right;
    font-family: Arial,sans-serif;
    font-size: 17px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 122px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	  margin-right: 7px;
	  margin-top: 10px;
}
}
