/*
 * Copyright 2005-2015 the original author or authors.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

iframe.mibew-chat-frame {
    position: fixed !important;
    bottom: -8px !important;
    right: 5px !important;
    width: 280px !important;
    height: 340px !important;
    overflow: hidden !important;
    z-index: 100 !important;
	border:1px solid #ccc;
}
