/******************************************************************************
* Defines default styles for site pages.                                      *
******************************************************************************/
.hidden {
	display: none;
}

img{
    display: inline;
	border: none;
}

.box{
	background: #fcfcfc;
    border: 1px solid #000;
	border-color: blue;
    color: #000000;
	margin: 10px auto;
    padding: 3px;
	vertical-align: bottom;
}
a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 100%;
}

pre {
  font-family: Courier New, Courier, monospace;
  font-size: 80%;
}

td, th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: left;
  vertical-align: top;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

ul {
  list-style-type: square;
}

#demoBox {
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  padding: 8px;
  width: 24em;
}

.footer {
  margin-bottom: 0px;
  text-align: center;
}

/* Boxed table styles */

table.boxed {
  border-spacing: 2px;
  empty-cells: hide;
}

td.boxed, th.boxed, th.boxedHeader {
  background-color: #ffffff;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

th.boxed {
  background-color: #c0c0c0;
}

th.boxedHeader {
  background-color: #808080;
  color: #ffffff;
}

a.object {
  color: #0000ff;
}

li {
  white-space: nowrap;
}

ul {
  list-style-type: square;
  margin-left: 0px;
  padding-left: 1em;
}

.boxlevel1{
	background: #FFD700;
}

.boxlevel2{
	background: #D2691E;
}

.boxlevel3{
	background: #DCDCDC;
}

.boxlevel4{
	background: #F5F5F5;
}

.boxlevel5{
	background: #BEBEBE;
}

.boxlevel6{
	background: #D3D3D3;
}

.boxlevel7{
	background: #A9A9A9;
}

.boxlevel8{
	background: #191970;
}

.boxlevel9{
	background: #000080;
}

.boxlevel10{
	background: #6495ED;
}

.boxlevel11{
	background: #483D8B;
}

.boxlevel12{
	background: #6A5ACD;
}

.boxlevel13{
	background: #7B68EE;
}

.boxlevel14{
	background: #8470FF;
}

.boxlevel15{
	background: #0000CD;
}

.boxlevel16{
	background: #4169E1;
}

.boxlevel17{
	background: #0000FF;
}

.boxlevel18{
	background: #1E90FF;
}

.boxlevel19{
	background: #00BFFF;
}

.boxlevel20{
	background: #87CEEB;
}

.boxlevel21{
	background: #B0C4DE;
}

.boxlevel22{
	background: #ADD8E6;
}

.boxlevel23{
	background: #00CED1;
}

.boxlevel24{
	background: #48D1CC;
}

.boxlevel25{
	background: #40E0D0;
}

.boxlevel26{
	background: #008B8B;
}

.boxlevel27{
	background: #00FFFF;
}

.boxlevel28{
	background: #E0FFFF;
}

.boxlevel29{
	background: #5F9EA0;
}

.boxlevel30{
	background: #66CDAA;
}

.boxlevel31{
	background: #7FFFD4;
}

.boxlevel32{
	background: #006400;
}

.boxlevel33{
	background: #556B2F;
}

.boxlevel34{
	background: #8FBC8F;
}

.boxlevel35{
	background: #2E8B57;
}

.boxlevel36{
	background: #3CB371;
}

.boxlevel37{
	background: #20B2AA;
}

.boxlevel38{
	background: #00FF7F;
}

.boxlevel39{
	background: #7CFC00;
}

.boxlevel40{
	background: #90EE90;
}

.boxlevel41{
	background: #00FF00;
}

.boxlevel41{
	background: #7FFF00;
}

.boxlevel42{
	background: #00FA9A;
}

.boxlevel43{
	background: #ADFF2F;
}

.boxlevel44{
	background: #32CD32;
}