.nav>li>a{
	padding: 0 !important;
}
.nav>li>a:focus,.nav>li>a:hover{
	background-color:transparent !important;
}
.outer{
	overflow: auto;
}
table{
	 margin-top: 15px;
	 width:100%;

}
.active{
    text-decoration: underline;
}
.title span{
	 width: 300px;
     display: inline-block;
     overflow:auto;
}
.below_action{
	margin-top: 10px;
}
.below_action a{
	color: #555;
}
.car_list {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.car_list th, .car_list td{
	background: white none repeat scroll 0 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}
table td a{
	text-decoration: none;
}
.list_info{
	margin-top:16px;
}
.info_edite{
 float: left;
 border: 2px solid #F7F2ED;
 border-bottom-color: #02a650;
 border-top-color:#F7F2ED;
 border-left-color:#F7F2ED;
 border-right-color:#F7F2ED;
 width:45%;
 padding:2px;
 text-align: center;
 color: #03a156;

}
.info_delete{
	text-align: center;
	float: right;
	border: 2px solid #F7F2ED;
    border-bottom-color: #ec1d27;
    border-top-color:#F7F2ED;
    border-left-color:#F7F2ED;
    border-right-color:#F7F2ED;
    width:45%;
   padding:2px;
   color: #ed1c24;
}
.statust_car{
	left: 20px;
    position: absolute;
    top: -2px;
    width: 156px;
    z-index: 999;
}

/*pagination*/

.total{
	float: left;
	margin-top:18px;
}
.page_right{
	float: right;
}
.footer{
	margin-top: 10px;
}
a{
	text-decoration: none;

}
strong{
	background:#fef6f3;
	border:1px solid #076fae;
	color:#0872b0;
	padding: 1px; 
}
.total_wrapper{
	/*width:90%;*/
	margin-top: 20px;
}
table.total_wrapper, tr, td {
	border: none;
}

.td_total{
	float: left;
	text-align: left;
	width:30%;
	border: none;
	color: #535353;
	margin-top: 23px;
	font-size: 12px;
	
}
.td_page{
	  border: medium none;
    float: right;
    margin-top: 20px;
    max-width: 55%;
   min-width: 58%;
    text-align: left;
}
.td_page a{
	color: #0772ba;
	 padding: 4px;
}
.not_data{
	padding: 66px 0;
    text-align: center;
}
.btn_reset{
	background: #0772ba none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: right;
    height: 25px;
    margin-left: 4px;
    margin-top: 3px;
    width: 80px;
}
.left,.right{
	color: #3d3d3d;

}
#lable_selected{
	color: #555;

}
.loading_img{
	width: 63px;
    position: fixed;
    margin-top: 10px;
    margin-left: 259px;
    bottom: 300px;
    z-index: 9999;
    left: 400px;
  
}
#blanket{
	display:none;
	/* background:white;*/
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1040;
	/*opacity:1;*/
}
.btn_reset{
  background: #0772ba none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: right;
    height: 25px;
    margin-left: 4px;
    margin-top: 3.4px;
    width: 80px;
}
.sep_line{
	color: #ddd;
	font-size: 12px;
}
.model {
    color: #095f99;
    font-size: 16px;
    font-weight: bold;
}


.car_fob {
    color: #ed002f;
    font-size: 22px;
    font-weight: bold;
}

.car_status_badge {
    position: absolute;
    right: -2px;
    top: -3px;
}
.check_seller_list{
    z-index: 1;
    position: absolute;
}
.message_fail{
    padding: 10px 5px 10px 20px; 
    background-color: #F2DEDE;
    color: #D09988; 
    border-radius: 5px;
    border: 1px solid #ECCCD1;
}
.message_success{
    background-color: #d8edf8;
    border-radius: 5px;
    color: #2f7198;
    padding: 10px 5px 10px 20px;
    border: 1px solid #bbe8f2;
}
.msg_icon_close{
    color: #adbdc5;
    float: right;
    font-size: 25px;
    margin-top: -6px;
    padding: 0 5px;
    text-decoration: none;
}
.msg_icon_close:hover{
    color: #3D3D3D;
}
/*BLOCK DISCOUNT POPUP*/

#block_discount{
  width: 350px;
  padding-left: 15px;
}
.title{ 
  font-family: Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 5px 23px;
}
.select_container select{
  -moz-appearance: tabpanels;
  background-color: transparent;
  box-shadow: none;
  cursor: auto;
  display: block;
  font-size: 100%;
  height: 30px;
  line-height: normal;
  margin: 0;
  padding: 0 10px;
  width: 180px;
}
.btn_container{
  border: solid 0px #000; 
  padding-top: 10px; 
  width: 297px;
}
#btn_save_discount{
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #258dc8 0%, #258dc8 100%) repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    min-width: 100px;
    padding: 5px;
    text-align: center;
    float: right;
}
.msg{
  margin: -3px 0 0 27px;
  position: absolute;
  font-size: 12px;
}
.old_fob_cost{
    box-shadow: none;
    cursor: auto;
    font-size: 100%;
    height: 27px;
    line-height: normal;
    margin: 0;
    padding: 0 10px;
    width: 165px;
}
.car_fob_cost{
    box-shadow: none;
    cursor: auto;
    font-size: 100%;
    height: 27px;
    line-height: normal;
    margin: 0;
    padding: 0 10px;
    width: 165px;
}
.success{
  color: blue;
}
.fail{
  color: red ;
}
.tbl_input_discount tr td b{
  padding: 0px 10px;
}
.tbl_input_discount tr{
  height: 40px;

}
.tbl_input_discount tr td{
  border: none;
}
.tbl_input_discount tr td b,.tbl_input_discount tr td label,.tbl_input_discount tr td input{
  color: #242424;
  font-family: Arial,sans-serif;
  font-size: 12px !important;
}
.tbl_input_discount tr td input{
  font-weight: normal;
}
