@charset "utf-8";
@import url(default.css);
div.table_list_box {width:100%; padding:0px 0px;}
div.table_list_box h1.table_title {font-size:12px; text-align:left; line-height:18px; font-weight:bold; padding:0px 0px 5px 18px; background:url(/images/admin/con_stitle_icon.gif) no-repeat 0px 20%;}
table.table_list {width:100%; border-spacing:0px; float: left;}
table.table_list caption.hidden {position:absolute; visibility:hidden; overflow:hidden; height:0px; width:0px; font-size:0px;}
table.table_list tr {}
table.table_list tr:hover {background-color:#ededed;}
table.table_list th {height:34px; color:#ffffff; font-weight:bold; background:url(/images/admin/board_bar_bg.gif) repeat-x;}
table.table_lists th {color:#ffffff; font-weight:bold; background:url(/images/admin/board_bar_bg.gif) repeat-x;}
table.table_list th.line {background:url(/images/admin/board_bar_bg.gif); width:2px;}
table.table_list td {height:27px; text-align:center; color:#333333; border-bottom:1px solid #d7d7d7;}
table.table_list td.line {width:2px;}
table.table_list td.no_data {text-align:center; padding:10px 0px 10px 0px;}
div.table_list_box .page_navi {width:100%; float:left; margin-top:10px; text-align:center; background-color:#f4f4f4; border:#d7d7d7 1px solid; color:#999999; font-size:12px; padding:5px 0px 5px 0px;}
div.table_list_box .btn_area_center {width:100%; padding:10px 0px 10px 0px; text-align:center; float:left;}
div.table_list_box .btn_area_center .btn_area_right {width:60%; padding:10px 10px 10px 0px; text-align:right; float:right;}
div.table_list_box .btn_area_center .btn_area_left { width:30%; padding:10px 0px 10px 10px; text-align:left; float:left;}
div.table_list_box .contents_box {margin-top:10px; text-align:center; background-color:#f4f4f4; border:#d7d7d7 1px solid; padding:5px 0px 5px 0px;}
div.table_list_box .contents_box .contents_img {border:1px solid #ededed; margin-top:5px;}
div.table_list_box .contents_box .contents_text {text-align:center; padding:10px 0px 10px 0px;}

/* 테이블 상세 */
div.table_view_box {width:100%; padding:20px 0px;}
div.table_view_box h1.table_title {font-size:12px; text-align:left; line-height:18px; font-weight:bold; padding:0px 0px 5px 18px; background:url(/images/admin/con_stitle_icon.gif) no-repeat 0px 20%;}
table.table_view_box {width:100%; border-spacing:0px; border-top:1px solid #60a123; border-left:1px solid #d7d7d7;}
table.table_view_box caption.hidden {position:absolute; visibility:hidden; overflow:hidden; height:0px; width:0px; font-size:0px;}
table.table_view_box tr {}
table.table_view_box th {border-bottom:1px solid #d7d7d7; border-right:1px solid #d7d7d7; color:#777777; background-color:#f4f4f4;}
table.table_view_box td {border-bottom:1px solid #d7d7d7; border-right:1px solid #d7d7d7; color:#777777; padding-left:10px;}
table.table_view_box th.key_01   {height:27px; text-align:left; color:#777777; font-weight:bold; font-size:12px; padding-left:10px;}
table.table_view_box td.value_01 {height:27px; color:#333333; font-size:12px;}
table.table_view_box td.value_01 span {padding:0px 0px 0px 5px; color:#1e49b1; font-size:11px;}
/* table.table_write td span {font-size:11px; padding:0px 0px 0px 5px; color:#e85716;}*/
div.table_view_box .btn_area_center {width:100%; padding:10px 0px 10px 0px; text-align:center;}
/* 테이블 등록 */
table {width:100%;}
table th{
	font-size:14px;
    color: #4c5051;
}
div.table_write_box {width:100%;}
div.table_write_box h1.table_title {font-size:12px; text-align:left; line-height:18px; font-weight:bold; padding:0px 0px 5px 18px; background:url(/images/admin/con_stitle_icon.gif) no-repeat 0px 20%;}
div.customer_container h1.table_title {font-size:12px; text-align:left; line-height:18px; font-weight:bold; padding:0px 0px 5px 18px; background:url(/images/admin/con_stitle_icon.gif) no-repeat 0px 20%;}

table.table_write {width:100%; border-spacing:0px; border-top:1px solid #60a123; border-left:1px solid #d7d7d7;  border-right:1px solid #d7d7d7;}
table.table_write caption.hidden {position:absolute; visibility:hidden; overflow:hidden; height:0px; width:0px; font-size:0px;}
table.table_write tr {}
<!--div.table_write_box .btn_area_center {width:100%; padding:10px 0px 10px 0px; text-align:center;}
-->
table.table_write { margin: 0px 0px 20px; border-top: 2px solid #333; }
table.table_write th {font-weight: bold; border-bottom: 1px solid  #CCC;text-align: left; padding-left:15px; background: #e9eef4;font-size: 14px;}
.th_none{font-weight: bold; border-bottom: 1px dotted #CCC;text-align: left; padding-left:15px; }
table.table_write tr .text { padding: 5px 5px 5px 10px; border-bottom: 1px dotted #CCC; overflow: hidden; text-align: left; }
table.table_write td { border-bottom: 1px solid  #CCC; /*overflow: hidden;*/ text-align: left; padding:4px;}
table.table_write .b_tit { width: 100%; height: 18px; border:1px solid #CCC}
table.table_write .b_text { width: 40%; height: 18px; border:1px solid #CCC }
table.table_write .text_info {text-align:left; font-size:12px; color:#000; height:30px; font-weight:bold; padding-left:15px}
table.red_point {font-size:12px; color:#f00; font-weight:bold;}
table.text_info_01 {text-align:right; font-size:12px; color:#F00; height:30px; font-weight:bold; padding-left:15px}
table.table_write .select {width:150px; height:20px; border:1px solid #CCC;}
table.table_write .inputbox {width:70px; height:18px; border:1px solid #CCC;}
table.table_write .text .check {width:100%; padding:10px 0 10px 0;}

table.table_write .text .check ul {height:20px; border:none; width:24%; float:left}
table.table_write .text .check li {float:left}
table.table_write .text .check .option {padding-left:5px;}
table.table_write tr td table.modify_image_table {width:100%;}
table.table_write tr td table.modify_image_table tr td{ padding:5px 0;}
table.table_write tr td table.modify_image_table tr td.tbl_img {width:130px;}
table.table_write tr td table.modify_image_table tr td #attach {width:80%;}
table.table_write tr td .div-image-view {width:150px;  float:left; padding:10px; position:relative;}
table.table_write tr td a.close { 
        background-color: rgba(0, 0, 0, 0.8);
        height: 20px;
        line-height: 20px;
        position: absolute;
        text-align: center;
        text-decoration: none;
        width: 20px;
		right: 0px;
		top:5px;
		
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
    }
table.table_write tr td a.close:before {
        color: rgba(255, 255, 255, 0.9);
        content: "X";
        font-size: 16px;
        text-shadow: 0 0px rgba(0, 0, 0, 0.9);
    }
table.table_write tr td a.close:hover {
        background-color: rgba(64, 128, 128, 0.8);
    }

div.div-img-title { padding:5px 0px; width:100%; height:20px; float:left;}

/* Class Selector */
.font_bold_default {font-weight:bold; color:#619f22;}


/* //Class Selector */


/*------------inpute--------*/
input#makes, input#models {background-color:#fde9f0;}
/*-------Other -------------*/
span.sp_bgblack { background-color:#000; font-size:16px; color:#FFF; padding:0 2px;}
span.sp_bgred {background-color:#F00; font-size:16px; color:#FFF; padding:0 2px;}
.upload_iframe{
	 width: 100%;
}
.order_container{
	color: #2F5908;
	font-weight: bold;
	margin-top: 5px;
	background: #E4FFCC;
	border:1px solid #8BD14A;
	padding: 5px;
	margin-bottom: 5px;
}

.btn_change{
	
	padding: 10px;
    text-align:center;
  margin-right: 277px;
    float: right;

}
.in_top{
	margin-top: 20px;
}
.cha_pass{
  background-color: #0772ba;
  cursor: pointer;border: 0 none;
    color: #fff;
   font-size: 16px;
    padding: 10px;
    width: 138px;
   text-align: center;
    display: block;
  
}
.value_02{
    background:#ffffff; 
}
.down_change{
    padding: 10px;

   
}
.contents_box_middle{
    height:340px;
}