@charset "utf-8";
body{
	padding: 0px;
	margin: 0px;
	font-family:open sans;
}
img{
	border:none;
	}
#btnfb{
	margin-top:7px;
}
.wrapp_wrpp_header_outer{
	background:url(/images/public_site/bg_header.png) repeat;
	border-top:3px solid #0772ba;}
.wrapp_contact_us{
	margin:0 auto;
	font-size:14px;
	height:25px;
	padding-top:10px;
}
.head_user_block{
	display:inline-block;
	float: right;
	text-align: right;
	padding-left: 10px;
}
.head_mail_us{
	width:100px;
	display:inline-block;
	float: right;
	text-align: right;
}
.head_call_us{
	width:300px;
	display:inline-block;
	float: right;
	text-align: right;
}
.head_call_us img{
	vertical-align:text-bottom;
	padding-right:5px
}
.head_mail_us a img, .head_user_block a img{
	padding:2px 8px;
	vertical-align:text-bottom;
}
.head_call_us b, .head_mail_us a, .head_user_block a{
	color:#0772BA;
}
.head_mail_us a, .head_user_block a{
	text-decoration:none;
}
.user_dropdown_nav{
	list-style: none; margin: 0; padding: 0;
}
.user_dropdown_nav li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
.user_dropdown_nav ul li{
	 background-color: white;
	 padding: 4px 22px;
	 border: solid 1px #C7C9C9;
	 border-top: 0 none;
}
.user_dropdown_nav ul li:first-child{
	 border-top: solid 1px #C7C9C9;
}
.user_dropdown_nav li a:hover{
    color: black; 
}
.user_dropdown_nav ul{
	margin-left: -41px;
}
.user_dropdown_nav li ul.dropdown{
	display: none;
    min-width: 100px;
    position: absolute;
    right: 0;
    z-index: 999;
}
.user_dropdown_nav li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
}
.user_dropdown_nav li ul.dropdown li{
    display: block;
}
.user_id img{
	margin: 0px !important;
	padding: 0px !important;
}


.wrapp_hader_inner{
	margin:0 auto;
	height:73px;
}
.wrapp_header_logo{
	float:left;
	width:250px;
	height:73px;
	overflow:hidden;
}
.header_logo{
	padding-top:5px;
}
.wrapp_header_right{
	float:right;
	overflow:auto;
	height:73px;
	width:710px;
}
.wrapp_header_wellcome{
	float:right;
	width:710px;
	padding-top:10px;
}
.head_welcom{
	float:left;
	width:480px;
	text-align:right;
	font-size:14px;
	color:#333;
	padding-top:9px;
}
.head_welcome_logout{
	float:left;
	text-align:right;
	font-size:14px;
	color:#333;
	padding-top:5px;
	margin-left:163px;
}
.head_username{
	color:#0772ba;
	float:left;
	text-indent:4px;
	width:230px;
	font-size:14px;
	padding-top:10px;
}
.head_username_logout{
	color:#0772ba;
	float:right;
	text-indent:0px;
	font-size:14px;
	padding-top:10px;
}
.member_bnt{
	background:#0772ba;
	color:#fff;
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	height:32px;
	width:117px;
	text-decoration:none;
	border:none;
}
.logout_bnt{
	background:#0772ba;
	color:#fff;
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	height:32px;
	width:100px;
	text-decoration:none;
	border:none
}
.header_login_logout{
	float:left;
	text-align:right;
}
.header_login_logout a{
	text-decoration:none;
}
.header_login_user{
	float:left;
	margin-top:5px;
	text-align:center;
}
.user_hello{
	color:red;
	font-size:14px;
}
.header_login{
	float:left;
	text-align:right;
	width:120px;
}
.header_img_button_register{
	float:right;
	overflow:auto;
}
.head_total_fob{
	color:#0772ba;
	font-weight:bold;
	margin-left:10px;
	font-size:24px
}
.head_total_car_in_stock{
	font-size:12px;
	vertical-align:text-top
}
.wrapp_nav_outer{
	background:url(/images/public_site/bg_footer.png) repeat;
	color:#FFF;
	font-size:14px;
	border-bottom:3px solid #0772ba;
}
.nav_inner{
	margin:0 auto;
	background:url(/images/public_site/bg_footer.png) repeat;
	overflow:auto;
}
.nav_menu{
	float:left;
	font-size:14px;
	width:744px;
}
.nav_menu ul{
	padding:0;
	margin:0;
}
.nav_menu ul li{
	float:left;
	padding:9px 17px;
	list-style:none;
}
.nav_menu ul li a{
	color:#fff;
	text-decoration:none;
}
.nav_menu ul li:hover{
	color:#0772ba;
	background:#0772ba;
}
.nav_menu ul li.active{
	background:#0772ba;
}
.nav_follow_us{
	float:right;
	width:216px;
	background:#0772ba;
	overflow:hidden;
}
.nav_follow_us_text{
	float:left;
	padding:4.2% 0;
	text-align:left;
	text-indent:30px;
	width:110px;
}
.nav_follow_us_img{
	float:right;
	padding:9px 0 0;
	text-indent:10px;
	width:106px;
	}
.outer{
	width:100%;
}
.wrapp_content_outer{
	/*background:#fff;*/
	background:url(/images/member_site/bg_content.png) repeat;
}
.inner{
	width:960px;
}
.content_inner{
	margin:24px auto 0;
	background:#fff;
	padding: 0 0 50px 0;
}
.head_add_car{
	float:left;
	width:90px;
}
.head_add_car a{
	text-decoration:none;
}
.head_add_car_img{
	text-align: center;
    width: 90px;
}
.head_add_car_text{
	 font-size: 14px;
    text-align: center;
    width: 90px;
}
.clear{
	clear:both;
}

.content_inner{
	margin: 0 auto;
	background:url(/images/member_site/bg_content.png) repeat;
}

.wrapp_wrpp_footer_outer{
	background:url(/images/member_site/bg_footer.png) repeat;
	height:121px;
	color:#FFFFFF;
	border-top:5px solid #0772ba;
	font-size:14px;
}
.wrapp_footer_inner{
	margin: 0 auto;
	height:121px;
	background:url(/images/member_site/bg_footer.png) repeat;
}
.footer_left{
	float:left;
	width:600px;
	height:121px;
}
.wrapp_footer_left_img_home{
	overflow: auto;
    padding-top: 35px;
}
.wrapp_img_home{
	width:90px;
	float:left;
}
.wrapp_img_home_car_list{
	width:100px;
	float:left;
}
.wrapp_img_home_car_details{
	width:110px;
	float:left;
}
.footer_img_poin_icon{
	float:left;
	width:25px;
}
.footer_home{
	float:left;
	width:60px;
}
.footer_car_details{
	float:left;
	width:85px;
}


.footer_right{
	float:left;
	width:360px;
	height:121px;
}
.footer_right_copyright{
	text-align:right;
}
.wrapp_footer_right_copyright{
	padding-top:30px;
}

/*rado End footer*/





/*======== My info page Heng ========*/

.content_container{
	 padding: 30px 0;
	 overflow: hidden;
}


.title-info{
	background-image: url("../images/bg_title_info.png");
    background-repeat: no-repeat;
    height: 36px;
}

.title-info p{
	color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0 20px;
}

.info-field-title{
	background-color: #F5F9F9;
}

.info-field-title label{
   font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    color: #3d3d3d;
}

.info-field-data{
	text-align: center;
}
 textarea { border: none;}
#description-data{
	resize: none;
	width: 97%;
	height: 160px;
}
   

#tr-description{
	height: 160px;
}
#tr-description tr{
	height: 20px;
}

#tr-images{
	height: 230px;
}


table.table-info{
	border-collapse: collapse;
	background-color: #ffffff;
}

table.table-info tr{
	height: 40px;
}

table.table-info,tr,td{
	border: 1px solid #e1e1e1;
}

.Field-input-data{
  border: 0 none;
    font-size: 14px;
    height: 40px;
   width: 100%;
}

.btn-info{
	
      border: 0 none;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    width: 138px;
}

.btn-block{
	 text-align: center;
	 padding: 32px 0;
}

#btn-info-insert{
	 background-color: #0772ba;
	 cursor: pointer;
}
#btn_delete{
  background:#ee1c24;
	 cursor: pointer;
}

#btn-info-cancel{
	background-color: #0772ba;
	 cursor: pointer;
}

#upload_widget_opener{
	text-decoration: none;
	background-color: #026ead;
    border-radius: 4px;
    color: #fff;
    padding: 5px 15px;
}
/*======== My info page Heng ========*/


/*======== Car list page ========*/
*{
	font-size: 14px;
}
.carData{
	padding:30px 0px;
	font-family:Open Sans;
}
.carData .title-carlist{
	background-image: url("../images/bg_title_info.png");
    background-repeat: no-repeat;
    height: 36px;
}
.carData .title-carlist p{
	font-weight:600;
	font-size:14px;
	color: #fff;
    display: inline-block;
    margin: 7px 0 0 20px;
}
.carData .carSearch_wrapper{
	padding:15px;
	background:#fff;
	margin-top:20px;
	border:1px solid #dfdfdf;
	font-size:12px;
	overflow:auto;
}
.carData .carSearch_wrapper .selected_files{
	/*width:35%;*/
	overflow:auto;
	float: left;
}
.selected_files div{
	float:left;
	display:inline-block;
	 margin-right: 3px;
	margin-top:5px;
	height:auto;
}
.not_check{
	background: #959595;
	color: white;
	border: 3px solid #959595;
}
.is_check{
	background: red;
	color: white;
	border: 3px solid red;
}
.selected_files div .check_all{
	margin-top:2px;
}
.selected_files .delete_all{
	margin-top:0px;
	height:30px;
	padding-top:5px;
}
.selected_files .delete_all a{
	background:#959595;
	padding: 5px 18px;
	color:#fff;
	text-decoration:none;
	
}
.carData .carSearch_wrapper .search{
	float:right;
	/*width:68%;*/
	width: 560px;
	text-align:right;
}
.search .formSelection{
	width:80px;
	height:25px;
	margin-top:3px;
}
.search .keyword{
	height:19px;
	width:120px;
	margin-left:4px;
}
.search .btn_search{
	width:80px;
	background:#0772ba;
	border:none;
	color:#fff;
	height:25px;
	margin-left:1px;
	cursor:pointer
}
.carSourceWraper{
    min-height: 340px;
	width:auto;
	margin-left:-1.5%;
	position:relative;
	font-weight:normal;
	font-size:14px;
	padding:0px;
}
.not_found{
	text-align: center;
}
.carSourceWraper .listCar{
	max-width:168px;
	/*width:17.5%;*/
	min-height:270px;
	float:left;
	margin: 15px 1px 0.5px 14.5px;
	padding:5px;
	display:inline-block;
	background:#fff;
	border:1px solid #dfdfdf;
	position:relative;
	margin-top: 20px;
}
/*edite */
/*.carSourceWraper .listCar{
	float:left;
	margin: 15px 1px 0.5px 18.5px;
	padding:1px;
	background:#fff;
	border:1px solid #dfdfdf;
	position:relative;


}*/
.listCar .checkcar{
	height: 15px;
    left: 14px;
    position: absolute;
    top: 11px;
    width: 15px;
}
.listCar .image_load{
	width:167px;
	height:125px;
}
.listCar .title{
	text-align:center;
	margin-top:5px;

}
.listCar .title span{
	width: 167px;
	color:#0772ba;
	height:40px;
	display: inline-block;
	clear: both;
}
.listCar .wrap_detail{
	color:#3d3d3d;
}
.listCar .wrap_detail div{
	padding-top:3px;
	padding-bottom:3px;
	overflow:auto;
	font-size:12px;
}
.listCar .wrap_detail div .right{
	float:right;
	text-align:right;
	word-break:break-all;
	width:80px;
}
.listCar .more_option{
	padding:0px;
	margin:0px;
	overflow:auto;
}
.listCar .more_option li{
	list-style-type:none;
	float:left;
	margin-right:29px;
}
.listCar .more_option li:last-child{
	margin-right:0px;
}
.listCar .more_option li a{
	font-size:12px;
	position:absolute;
	top:260px;
	
}
.listCar .more_option li .edit{
	color:#00a651;
}
.listCar .more_option li .reserved{
	color:#f69679;
	left:55px
}
.listCar .more_option li .delete{
	color:#ed1c24;
	left:135px;
}


table.table-info td{
	text-align: left;
	border: none;
	font-size: 12px;
}

.upload_iframe{
	border: 0;
}



/*======== Car list page ========*/


/*======== add new Car Heng =========*/


.blog-addcar{
	padding: 30px 0;
}

.info-field-radio{

}

.info-field-radio label{
    font-size: 12px;
     color: #3d3d3d;
}

.info-field-text label{
	font-size: 12px;
	 color: #3d3d3d;
}
.field-car-dimension{
	  width: 80px;
	  margin: 0px 5px;
	  height: 21px;
}

.field-car-Location{
	width: 110px;
	margin: 0px 5px;
	color: #3d3d3d;
    height: 27px;
}

.info-field-select label{
    font-size: 12px;	
     color: #3d3d3d;
}


.field-car-select{
	width: 150px;
	margin: 0px 5px;
	color: #3d3d3d;
	height: 29px;
}

.field-car-input{
	margin: 0px 5px;
	height: 21px;
}

.input-width{
	width: 145px;
}
.input-width_chass{
	width: 220px;
}
#field-car-fob{
	width: 200px;
}

#field-car-select-Cost{
	width: 100px;
}

#field-car-Location-country{
	width: 150px;
}

#field-car-select-year{
	width: 137px;
}
.btn_delete{
	height: 40px;
	width: 200px;
	background-color:red;
	color: #fff;
	float: right;
	border: none;
	margin-right: 10px;
	font-size: 13px;
}
/*======== add new Car Heng =========*/
/*input for buyer*/
.fname{
width:40%;
border: none;
height: 40px;
float: left;
padding:2px 12px;

}

.intl-tel-input .country-list{
	width: 340px;
	white-space: normal !important;
}
.lname{
	width:44%;
border: none;
height: 40px;
float: left;
 padding:2px 12px;
}
label.chassis_error{
	color: red;
}


.page_title {
    border-bottom: 1px dotted #aaa;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 5px 0;
}
.input_field_container {
    box-sizing: border-box;
    float: left;
    padding: 5px;
    width: 369px;
}

.input_label {
    float: left;
    padding: 10px 5px 5px;
    text-align: right;
    width: 140px;
}

.input_control_container {
    overflow: hidden;
    padding: 5px;
}
.input_control_container_info{
	padding: 5px;
}
.input_row {
    overflow: auto;
}
.input_text {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    width: 200px;
}
.input_select {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
   	width: 200px;
}

.input_textarea {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    width: 200px;
}



.nav_bar {
    color: #555;
    font-size: 12px;
    padding: 10px 0;
}
.nav_bar a{
	text-decoration: none;
	color: #48a59c;
}
.add_info{
	min-height: 600px;
	overflow: auto;
}
/*START BLOCK LEFT*/
.block_left{
	width: 190px;
	margin-right: 10px;
	display: inline-block;
	float: left;
}
.block_left .sidebar_menu{
	border: 1px solid #E3E4E3;
    height: 250px;
    background-color: #FFFFFF;
    padding: 10px;
}
.sidebar_menu_item{
	overflow: auto;
	border-radius:5px;
	padding: 2px 0;
}
.sidebar_menu_item a{
	 border-left: 3px solid transparent;
    font-weight: 600;
    color: #444;
    display: block;
    padding: 12px 5px 12px 15px;

}
.sidebar_menu_item .main_menu{
	font-family: open sans;
	background-color: #0772ba;
    color: #ffffff;
    display: block;
    font-weight: 600;
    padding: 12px 5px 12px 15px;
    margin:0px;
    border-radius:5px;
    font-size: 14px !important;
}
.fa img{
    margin-top: -2px;
    position: absolute;
}
.block_left .sidebar_menu .block_menu a{
	text-decoration: none;
	font-weight: bold;
	color: #3D3D3D;
	display: block;
	line-height: 20px;
}
.block_left .sidebar_menu .block_menu span{
	margin-left: 35px;
	color: #0772BA;
}
.block_left .sidebar_menu .block_menu a:hover{
	background-color: #EEEEEE;
	color: #0772BA;
}
.block_left .sidebar_menu .block_menu .active{
	background-color: #EEEEEE;
	color: #0772BA;
}
.block_right{
	overflow: hidden;
	padding: 10px;
}
.important_star{
	color: red;
}
.btn_apply{
	cursor: pointer;
	color: white;
	border: none;
	padding: 5px;
	border-radius: 5px;
	min-width: 100px;
	text-align: center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#258dc8+0,258dc8+100;Blue+Flat+%231 */
	background: #258dc8; /* Old browsers */
	background: -moz-linear-gradient(top,  #258dc8 0%, #258dc8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#258dc8), color-stop(100%,#258dc8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #258dc8 0%,#258dc8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #258dc8 0%,#258dc8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #258dc8 0%,#258dc8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #258dc8 0%,#258dc8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 ); /* IE6-9 */
}
.btn_save{
	cursor: pointer;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 5px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#258dc8+0,258dc8+100;Blue+Flat+%231 */
	background: #258dc8; /* Old browsers */
	background: -moz-linear-gradient(top,  #258dc8 0%, #258dc8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#258dc8), color-stop(100%,#258dc8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #258dc8 0%,#258dc8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #258dc8 0%,#258dc8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #258dc8 0%,#258dc8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #258dc8 0%,#258dc8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 ); /* IE6-9 */
}

.search_container {
    background: white none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 10px;
}
.btn_search{
	box-sizing:border-box;
	cursor: pointer;
	border: 1px solid #ddd;
	padding: 5px;
	border-radius: 5px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,e9e9ce+100;Wax+3D+%232 */
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfff4 0%, #e9e9ce 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfff4 0%,#e9e9ce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */

}

/*START BLOCK TITLE*/
.add_info .block_right .title_info{
	/*border: 1px solid;*/
	padding: 10px 0;
	height: 20px;
}
.add_info .block_right .title_info .title{
	color: #0772BA;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	display: inline-block;
}
.add_info .block_right .title_info .action{
	float: right;
	display: inline-block;
	position: relative;
}
.add_info .block_right .title_info .action a{
	text-decoration: none;
	color: #3D3D3D;
}
.add_info .block_right .title_info .action .dropdown{

	position: absolute;
	display: none;
	margin:0px;
}
.add_info .block_right .title_info .action .dropdown li{
	background-color: white;
    display: block;
    line-height: 21px;
    margin-left: -88px;
    padding: 5px 15px;
    text-align: left;
    border: 1px solid #EBEBEB;
    border-top: 0px;
    border-collapse: 0px;
}
.add_info .block_right .title_info .action .dropdown li:first-child{
	border-top: 1px solid #EBEBEB;
}
.add_info .block_right .title_info .action:hover .dropdown{
	display: block;
}
.add_info .block_right .title_info .action .dropdown li a:hover{
	color: #0772BA;
}
.block_right .action_step, .block_right .block_action_button{
	/*border: 1px solid blue;*/
	height: 40px;
	padding: 10px 0px;
}
.block_right .block_action_button .action_back{
	background-color: #eee;
	background-image: url("../../images/arrow-back-icon.png");
	background-position: 5px center;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    border: 1px solid #ccc;
    padding: 10px 5px 10px 40px;
    min-width: 100px;
    text-align: center;
}
.input_control_container label,.input_control_container_info label{
	font-weight: normal;
	padding-top: 5px;
}
.block_right .block_action_button .action_edit{
	background-color: #eee;
    background-image: url("../../images/edit.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    margin-left: 10px;
    border: 1px solid #ccc;
    padding: 10px 5px 10px 40px;
    min-width: 100px;
    text-align: center;
}
.block_right .action_step .action_step_car_info{
	background-color: #eee;
	background-image: url("../../images/list_icon.png");
	background-position: 5px center;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    border: 1px solid #ccc;
    padding: 10px 5px 10px 40px;
    min-width: 160px;
    text-align: center;
}
.block_right .action_step .action_step_car_image{
	background-color: #eee;
    background-image: url("../../images/camera_icon.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    margin-left: 10px;
    border: 1px solid #ccc;
    padding: 10px 5px 10px 40px;
    min-width: 160px;
    text-align: center;
}
.block_right .action_step .action_step_preview_save{
	background-color: #eee;
    background-image: url("../../images/save_icon.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    margin-left: 10px;
    border: 1px solid #ccc;
    padding: 10px 5px 10px 40px;
    min-width: 160px;
    text-align: center;
}

.block_right .action_step .action_step_car_info.step_action,
.block_right .action_step .action_step_car_image.step_action{
	background-color: #0772ba;
	color: white;
	
}

.step_not_action p{
	color: #3D3D3D;
	font-weight: bold;
	text-align: center;
	margin-top: 7px;
}
.input_container{
	padding: 20px 0;
	background-color: white;
	border: solid 1px #DCDDDD;
}
.block_boutton_container{
	padding: 20px 0;
	height: 100px;
}
.block_boutton_container a{
	text-decoration: none;
}
.input_button{
	padding: 7px 25px;
	background-color: #0772BA;
	cursor: pointer;
    border: 0 none;
    color: white;
    font-weight: bold;
}
.input_button:hover{
    color: white;
}
.input_button_next{
	padding: 5px 45px;
	background-color: #0772BA;
	cursor: pointer;
    border: 0 none;
    color: white;
    font-weight: bold;
    float: right;
}
.input_button_back{
	padding: 5px 45px;
	background-color: #0772BA;
	cursor: pointer;
    border: 0 none;
    color: white;
    font-weight: bold;
}
.button_upload_image{
	margin-left: 10px;
    margin-top: 11px;
    position: absolute;
    width: 300px;
}
.container_images{
	padding: 10px 7px;
	background-color: white;
	border: solid 1px #DCDDDD;
	overflow: auto;
}
.container_preview{
	padding: 12px 0;
	background-color: white;
	border: solid 1px #DCDDDD;
}
.block_image{
	width: 380px;
	display: inline-block;
	float: left;

}
.block_preview_data{
	overflow: hidden;
	color: #3d3d3d;
/*    font-size: 10px !important;*/
    font-weight: normal;
    /*line-height: 10px;*/
}
.field_container {
    box-sizing: border-box;
    float: left;
    padding: 5px;
    width: 346px;
    border-left: 1px solid #E1E1E2;
	border-right: 1px solid #E1E1E2;
}
.field_container:first-child {
    border-top: 1px solid #E1E1E2;
}
.field_container:last-child {
    border-bottom: 1px solid #E1E1E2;
}
#images_car{
	padding: 0 8px; 
	list-style: none;
	width: 370px;
}
#images_car .delete_image, #images_car .label_primary, #images_car label{
	display: none;
}
#big_images_car .delete_image, #big_images_car .label_primary, #big_images_car label{
	display: none;
}
#images_car li{
	float: left;
	padding-left: 5px;
	width: 67px;
}
#images_car li img{
	width: 67px;
}
#big_images_car{
	padding: 0 12px; 
}
#big_images_car img{
	cursor: pointer;
    height: 268px;
    width: 356px;
}
.input_label_preview {
    float: left;
    width: 140px;
    font-size: 12px;
}
.input_control_container_preview {
    overflow: hidden;
}
.input_control_container_preview label{
    font-size: 12px;
}
.bg_field_container{
	background-color: #E6F1F8;
}
.car_short_des{
	color: #888;
}
.publish_dt{
	color: #888;
}
.publish_dt a{
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #e2e2e2 0%, #e2e2e2 100%) repeat scroll 0 0;
    border: 1px solid #c0c0c0;
    color: #3D3D3D;
    display: block;
    font-family: arial;
    padding: 3px 0;
    min-width: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.download_img_buyer {
    background: rgba(0, 0, 0, 0) url("../../images/public_site/download_img.jpg") no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    float: left;
    height: 49px;
    margin-left: 5px;
    width: 67px;
}
.input_control_container .file_title{
	border-bottom: 1px dotted #aaa;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 5px 0;
}
.input_control_container .file_name_icon a ,.input_control_container .file_name_icon b{
	text-decoration: none;
	font-size: 12px !important;
	font-weight: normal;
}
.input_control_container .file_name_icon img{
	width: 25px;
	padding: 4px 0;
}