.labe_data_thb{
	float: left;
	/*margin-left: 10px;*/
	    width: 94%;
	border: medium none;
	  padding:2px 12px;
}
.labe_data_thbs{
float: left;
	/*margin-left: 10px;*/
	width:97%;
	border: medium none;
	  padding:2px 12px;
}
.labe_data_thbb{
	    width: 93%;
	border: medium none;
	  padding:2px 12px;
}
.labe_data_thbsb{
	 width: 93%;
	border: medium none;
	  padding:2px 12px;

}

.labe_data_thbcon{
	    float: left;
    /* margin-left: 10px; */
    width: 93%;
    border: medium none;
    padding: 2px 12px;
}
