@charset "utf-8";
/* CSS Document */

/* style page negotiate*/
.title_negotiate{
	background-image: url("../images/bg_title_info.png");
    background-repeat: no-repeat;
    height: 36px;
	margin-top:20px;
}
.title_negotiate p{
	color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin: 7px 0 0 20px;
}
div.table_list_box h1.table_title{
	background: rgba(0, 0, 0, 0) url("/images/admin/con_stitle_icon.gif") no-repeat scroll 0 20%;
    font-size: 14px !important;
    font-weight: normal;
    line-height: 18px;
    padding: 0 0 5px 18px;
    text-align: left;
}
div.search_box{
	background-color: white;
    border: 1px solid #d7d7d7;
    margin: 0 0 5px;
    padding: 3px;
}
.search_box .search_result{
	background-color: #ffffff;
    color: #666666;
    line-height: 18px;
    padding: 5px 0 10px 10px;
    width: 99%;
}
textarea, input, form{
	color: #242424;
    font-family: Arial,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.input_2{
	background-color: #ededed;
    border: 1px solid #cccccc;
    font-size: 12px;
    height: 25px;
}
.input_1{
	background-color: #ffffff;
    border: 1px solid #cccccc;
    font-size: 12px;
    height: 19px;
    margin: 2px 0;
    padding: 2px;
    text-indent: 2px;
    width: 161px;
}
.blue{
	background: rgba(0,166,231,1);
	background: -moz-linear-gradient(top, rgba(0,166,231,1) 0%, rgba(0,125,171,1) 54%, rgba(0,125,171,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,166,231,1)), color-stop(54%, rgba(0,125,171,1)), color-stop(100%, rgba(0,125,171,1)));
	background: -webkit-linear-gradient(top, rgba(0,166,231,1) 0%, rgba(0,125,171,1) 54%, rgba(0,125,171,1) 100%);
	background: -o-linear-gradient(top, rgba(0,166,231,1) 0%, rgba(0,125,171,1) 54%, rgba(0,125,171,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,166,231,1) 0%, rgba(0,125,171,1) 54%, rgba(0,125,171,1) 100%);
	background: linear-gradient(to bottom, rgba(0,166,231,1) 0%, rgba(0,125,171,1) 54%, rgba(0,125,171,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6e7', endColorstr='#007dab', GradientType=0 );
    border: 1px solid #0076a3;
    color: #d9eef7;
}
.button{
	border-radius: 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    font: 14px/100% Arial,Helvetica,sans-serif;
    margin: 0 2px;
    outline: medium none;
    padding: 0.5em 2em 0.55em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
}
.rosy{
	background: rgba(238,105,120,1);
	background: -moz-linear-gradient(top, rgba(238,105,120,1) 0%, rgba(195,68,83,1) 55%, rgba(195,68,83,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,105,120,1)), color-stop(55%, rgba(195,68,83,1)), color-stop(100%, rgba(195,68,83,1)));
	background: -webkit-linear-gradient(top, rgba(238,105,120,1) 0%, rgba(195,68,83,1) 55%, rgba(195,68,83,1) 100%);
	background: -o-linear-gradient(top, rgba(238,105,120,1) 0%, rgba(195,68,83,1) 55%, rgba(195,68,83,1) 100%);
	background: -ms-linear-gradient(top, rgba(238,105,120,1) 0%, rgba(195,68,83,1) 55%, rgba(195,68,83,1) 100%);
	background: linear-gradient(to bottom, rgba(238,105,120,1) 0%, rgba(195,68,83,1) 55%, rgba(195,68,83,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee6978', endColorstr='#c34453', GradientType=0 );
    border: 1px solid #b73948;
    color: #fae7e9;
}
.wrap_content_negotiate{
	margin-top:20px;
	border:1px solid #ebebec;
}
.wrap_content_negotiate th{
    background: #22222a none repeat scroll 0 0;
    color: #fff;
    font-weight: normal;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    vertical-align: top;
	border-right:1px solid #81818d;
}
.wrap_content_negotiate td{
	border:none;
	border-bottom:1px solid #ebebec;
	border-right:1px solid #ebebec;
}
td .check, td .sender_info, td .pro_detail, td .stat{
	margin:10px;
	min-height:90px;
	height:auto;
	text-align:center;
}
.pro_detail .car_img{
	float:left;
	width:125px;
	height:auto;
	margin-right:10px;
}
.pro_detail .car_img img{
	width:125px;
	height:94px;
}
.pro_detail .source_car{
	float:left;
	width:225px;
	height:auto;
	text-align:left;
}
.wrap_content_negotiate .stat{
	width:200px;
	height:auto;
}
.wrap_content_negotiate .stat div{
	text-align:center;
	width:100px;
	margin:0px auto;
	padding-top:10px;
}
.wrap_content_negotiate .stat div img{
	margin:0px auto;
}
.image_off, #status:hover .image_on{
   display:none
}
.image_on, #status:hover .image_off{
   display:block
}
.wrap_content_negotiate .perform .msg{
	padding:6px 27px !important;
	color:#fff;
	border:1px solid #4e9ec1;
	font-size:11px;

}
.wrap_content_negotiate .perform .per_invoice{
	padding:6px 8px !important;
	color:#fff;
	border:1px solid #e7972f;
}
.page_navi > strong{
	padding: 5px;
}
b, strong{
	font-weight: 700;
}
.page_navi > a{
	border: 1px solid #aaa;
    padding: 5px;
}
/*a:link{
	color: #333333;
    font-family: Arial,sans-serif;
    font-size: 12px;
    text-decoration: none;
}*/
/* style page negotiate*/
