@charset "utf-8";
@import url(default.css);

/* Type Selector */
body {width:100%; margin:0px; padding:0px; height: 32px; font-family:Arial, sans-serif; font-size:12px; /*line-height:1.6em;*/ color:#333333;}
.file_type{
	text-decoration: none;
	 color: #333333;
}
a{
	text-decoration: none;
}
.download_img_buyer{
	   background: rgba(0, 0, 0, 0) url("../../images/public_site/download_img_buyer.jpg") no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    float: left;
    height: 66px;
    margin-left: 5px;
    width: 87px;
}
.light_left{
	float: left;
}