.about_us_map{

}

.about_us_map img{
	width: 100%;
	height: 548px;
}

.main_content_about_us .header_about_us{
	background-image: url("../../images/public_site/bgbar.png");
	border-bottom: 1px solid #cacaca;
	border: 1px solid #cacaca;
	height: 32px;
    width: 958px;
}

.main_content_about_us .header_about_us .header_left_about_us{
	 background-color: #f8f8f8;
	background-image: url("../../images/public_site/details.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 14px;
    float: left;
}

.main_content_about_us .header_about_us .header_right_about_us{
	
    float: left;
    height: 30px;
    width: 920px;;
}

.main_content_about_us .header_about_us .header_right_about_us p{
   	color: #0772ba;
   	font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding-left: 9px;
    padding-top: 5px;
}

.main_content_about_us{
	margin-top: 13px;
}

.main_content_about_us .main_content_left_about_us{
	float: left;
	width: 724px;
}

.main_content_about_us .main_content_right_about_us{
	float: left;
    margin-top: 21px;
    width: 236px;
}

.main_content_about_us .main_content_left_about_us .desc_content_about_us{

}

.main_content_about_us .main_content_left_about_us .desc_content_about_us .title_content_about_us{
	color: #0772ba;
	font-size: 14px;
}

.main_content_about_us .main_content_left_about_us .desc_content_about_us p{
	font-size: 14px;
	line-height: 22px;
	 margin: 0;
	color: #302e2e;
	text-align: justify;
	
}

.main_content_about_us .main_content_left_about_us .desc_content_about_us .text_content_about_us{
    /*text-indent: 50px;*/

}


.main_content_about_us .main_content_left_about_us .desc_content_about_us .main_note_For_certificate{
	 margin-top: 35px;
}

.main_content_about_us .main_content_left_about_us .desc_content_about_us .main_note_For_certificate .note_For_certificate{
	float: left;
    margin-right: 27px;
}

.main_content_about_us .main_content_left_about_us .desc_content_about_us .main_note_For_certificate .note_For_download_certificate{
	display: inline-flex;
    float: left;
    margin-top: -3px;
}

.main_content_about_us .main_content_left_about_us .desc_content_about_us .main_note_For_certificate .note_For_download_certificate .icon_download{
	
}

.main_content_about_us .main_content_left_about_us .desc_content_about_us .main_note_For_certificate .note_For_download_certificate a{
	font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
}






.main_content_about_us .main_content_left_about_us .company_outline_about_us .title_content_about_us{
	color: #0772ba;
	font-size: 14px;
}

.main_content_about_us .main_content_left_about_us .company_outline_about_us .company_outline_about_us_table table.company_outline_table tr td{
	width: 50%;
	font-size: 14px;
	line-height: 22px;
	padding: 5px 8px;
	color: #302e2e;
}

.main_content_about_us .main_content_left_about_us .company_outline_about_us .company_outline_about_us_table table.company_outline_table tr td.company_outline_table_data_left{
	text-align: left;
}

.main_content_about_us .main_content_left_about_us .company_outline_about_us .company_outline_about_us_table table.company_outline_table tr td.company_outline_table_data_right{
	text-align: right;
}

.main_content_about_us .main_content_left_about_us .company_outline_about_us .company_outline_about_us_table table.company_outline_table tr td.company_outline_table_data_right p{
	color: #00adef;
	margin:0;
}

.main_content_about_us .main_content_left_about_us .company_outline_about_us .company_outline_about_us_table table{
	border-collapse: collapse;
	border: 1px solid #cacaca;
}


.main_content_about_us .main_content_left_about_us .company_outline_about_us .company_outline_about_us_table table.company_outline_table tr.row_color{
	background-color: #e6f1f8;
}

.main_content_about_us .main_content_left_about_us .company_outline_about_us_table{
	margin-top: 29px;
}

.main_content_about_us .main_content_right_about_us .img_about_us img{
	width: 216px;
}


.main_content_about_us .main_content_right_about_us .img_about_us{
	float: right;
}


.main_seller_team .row_seller_team .item_seller_team{
	float: left;
    margin-right: 75px;
    width: 270px;
}

.main_seller_team .row_seller_team .item_seller_team:nth-child(3n+0){
	margin-right: 0;
}

.main_seller_team .row_seller_team{
	margin-top: 18px;
}

.main_seller_team .row_seller_team .item_seller_team .item_info_seller_team{
	float: left;
    margin-left: 7px;
    margin-top: 12px;
    width: 140px;
}

.main_seller_team .row_seller_team .item_seller_team .item_info_seller_team .name{
	border-bottom: 1px solid #707070;
    color: #1378bd;
    font-size: 12px;
    margin: 0;
    padding-bottom: 5px;
}

.main_seller_team .row_seller_team .item_seller_team .item_info_seller_team .phone{
	font-size: 12px;
    margin: 0;
    padding-top: 10px;
    color: #302e2e;
}

.main_seller_team .row_seller_team .item_seller_team .item_info_seller_team .email{
	font-size: 12px;
	margin: 0;
	color: #302e2e;
}

.main_seller_team .row_seller_team .item_seller_team .item_info_seller_team .media{
	margin: 0;	
}

.main_seller_team .row_seller_team .item_seller_team .item_info_seller_team .media img{
	width: 23px;
}

.main_seller_team .row_seller_team .item_seller_team .item_images_seller_team{
  	float: left;
    width: 120px;
}

#content_seller_team{
	margin-top: 27px;
	
}

.clear{
	clear: both;
}
.about_us_skype{
	vertical-align:sub;
	margin-right:5px;
}

#content_seller_team_korean{
	padding-bottom: 80px;
}