a.not_click {
    pointer-events: none;
}

#search_car_list{
	margin-top: 0;
	margin-bottom: 20px;
}

/*hide some block in sidebar*/
.sidebar_country, .sidebar_fabook{
	display:none;
}
/*hide some block in sidebar*/
.main_calculate_price{
	border: 1px solid #cacaca;
    width: 732px;
}

.main_calculate_price .header_calculate_price{
	border-bottom: 1px solid #cacaca;
	background-image: url("images/bgbar.png");
	height: 30px;
    width: 100%;
}

.main_calculate_price .header_calculate_price .head_left_calculate_price{
	 background-color: #f8f8f8;
	background-image: url("images/details.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 14px;
    float: left;
}

.main_calculate_price .header_calculate_price .head_right_calculate_price{
	
    float: left;
    height: 30px;
    width: 700px;
}

.main_calculate_price .header_calculate_price .head_right_calculate_price p{
   	color: #0772ba;
   	font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding-left: 9px;
    padding-top: 5px;
}

.clear{
	clear: both;
}

.content_calculate_price{

}

.content_calculate_price .content_left_calculate_price{
	border-right: 1px solid #cacaca;
    float: left;
	min-height: 141px;
    width: 561px;
}

.content_calculate_price .content_right_calculate_price{
	float: left;
    width: 161px;
}

.content_calculate_price .note_price_calculate{
		
}

.content_calculate_price .note_price_calculate p{
 	color: #0772ba;
    font-size: 12px;
	font-style: italic;
    margin: 0;
    padding: 15px 25px;
}

.content_calculate_price .content_left_calculate_price .main_price_calculate_form{
	display: inline-block;
    margin-top: 15px;
    width: 560px;
}

.content_calculate_price .content_left_calculate_price .main_price_calculate_form .price_calculate_form_line1{
	margin-bottom: 10px;
	overflow: hidden;
}

.content_calculate_price .content_left_calculate_price .main_price_calculate_form .price_calculate_form_line1 .price_calculate_form_one{
	/*float: left;*/
    width: 135px;
}

.content_calculate_price .content_left_calculate_price .main_price_calculate_form .price_calculate_form_line1 .price_calculate_form{
    /*width: 275px;*/
}


.content_calculate_price .content_left_calculate_price .main_price_calculate_form .price_calculate_form_line1 .block_calculate_country{
	float: left;
    width: 275px;
    padding-left: 25px;
}

.content_calculate_price .content_left_calculate_price .main_price_calculate_form .price_calculate_form_line1 .block_calculate_port{
	float: left;
    width: 275px;
    padding-left: 20px;
}

#price_calculate_country{
	float: left;
}

#price_calculate_port{
	float: left;	
}
.inspection_title{
	color: #333;
    font-size: 12px;
    font-weight: bold;
    margin-top: 35px;
    overflow: hidden;
    width: 180px;
}
.radio_yes{
	margin: 0;
	margin-right: 2px;
}
.radio_no{
	margin: 0;
	margin-right: 2px;
}

.content_calculate_price .content_left_calculate_price .main_price_calculate_form .price_calculate_form_line1 .price_calculate_form select{
	width: 240px;
	height:26px;
	float: left;
	line-height: 21px;
}

.content_calculate_price .content_left_calculate_price .main_price_calculate_form .price_calculate_form_line1 .calculate_form_checkbox{
	color: #333;
}

.content_calculate_price .content_left_calculate_price .main_price_calculate_form .price_calculate_form_line1 .calculate_form_checkbox label{
	font-size: 12px;
    padding-left: 8px;
}

#label_price_calculate_form{

}

#form_checkbox label{
	font-size: 12px;
	margin-left: 6px;
}

#price_calculate_form_line2{
	padding-top: 10px;
}

#label_price_calculate_form p{
	font-size: 12px;
    font-weight: bold;
    color: #333;
    width: 180px;
}

#price_calculate_form_line3{
	padding-bottom: 18px;
    padding-top: 10px;
}

#form_button .calculate{
    border: 1px solid #009045;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
	border-radius:3px;
	cursor:pointer;
    width: 106px;
    height: 30px;
	background: rgba(45,164,103,1);
	background: -moz-linear-gradient(top, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(45,164,103,1)), color-stop(53%, rgba(0,144,70,1)), color-stop(100%, rgba(0,144,70,1)));
	background: -webkit-linear-gradient(top, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
	background: -o-linear-gradient(top, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
	background: -ms-linear-gradient(top, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
	background: linear-gradient(to bottom, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2da467', endColorstr='#009046', GradientType=0 );

}

.footer_calculate_price{
	background-color: #e7f2f8;
}

.footer_calculate_price p{
	margin: 0;
	font-size: 12px;
}

.footer_calculate_price .footer_calculate_price_note{
	padding: 12px 0;
    text-align: center;
}

.footer_calculate_price .footer_calculate_price_note p{
	color:#0f1011;	
}

.footer_calculate_price .footer_calculate_price_note span{
	color: #ff0000;
    font-weight: bold;
}

.content_right_calculate_price .seller_profile .seller_profile_photo{
	 margin-top: 10px;
    text-align: center;
    height: 85px;
}

.content_right_calculate_price .seller_profile .seller_profile_photo img{
	height: 85px;
    width: 85px;
}

.content_right_calculate_price .seller_profile .seller_profile_desc{
	 text-align: center;
}

.content_right_calculate_price .seller_profile .seller_profile_desc p{
	margin: 0;
	font-size: 10px;
	line-height: 11px;
}

.content_right_calculate_price .seller_profile .seller_profile_desc .seller_profile_name{
	color:#2479be;
}


.content_right_calculate_price .seller_profile .seller_profile_media .profile_media_logo{
	 float: left;
    margin-left: 7px;
}

.content_right_calculate_price .seller_profile .seller_profile_media .profile_media_logo img{
	width: 20px;
	height: 20px;
}


.content_right_calculate_price .seller_profile .seller_profile_media{
	text-align: center;
	margin-top: 5px;
}

#profile_media_logo1{
	 margin-left: 45px;
}

.main_content_cargrid .content_cargrid .content_row_cargrid .item_cargrid{
	
    border: 1px solid #cacaca;
    float: left;
    margin-right: 20px;
    padding: 5px;
    width: 130px;
}

.main_content_cargrid .content_cargrid .content_row_cargrid .item_cargrid .item_cargrid_photo .sold_out_grid{
 position: relative;
    top: -87px;
}

.main_content_cargrid .content_cargrid .content_row_cargrid .item_cargrid .item_cargrid_photo{
	text-align: center;
	 height: 85px;
}


.item_cargrid .item_cargrid_photo img{
	width:117px;
	height:82px;
}
.main_content_cargrid .content_cargrid .content_row_cargrid .item_cargrid_contact{
	display: inline-block;
    margin-bottom: 5px;
    margin-top: 20px;
}

.main_content_cargrid .content_cargrid .content_row_cargrid .item_cargrid_contact a{
    color: #fff;
    font-size: 14px;
    margin-top: 17px;
    padding: 5px 34px;
	border:1px solid #0772ba;
	border-bottom:1px solid #054a70;
	border: none;
	border-radius:3px;
    text-decoration: none;
	background: rgba(53,141,199,1);
	background: -moz-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,141,199,1)), color-stop(55%, rgba(6,110,180,1)), color-stop(100%, rgba(6,110,180,1)));
	background: -webkit-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -o-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -ms-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: linear-gradient(to bottom, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#358dc7', endColorstr='#066eb4', GradientType=0 );
}

.main_content_cargrid .content_cargrid .content_row_cargrid .item_cargrid:nth-child(5n+0){
	margin-right: 0px;
}

.main_content_cargrid .content_cargrid .content_row_cargrid .item_cargrid .item_cargrid_title{
	min-height: 60px;
	text-align: center;
}

.main_content_cargrid .content_cargrid .content_row_cargrid .item_cargrid .item_cargrid_price{
	text-align: center;
	margin-top: -8px;
}

.main_content_cargrid .content_cargrid .content_row_cargrid .item_cargrid .item_cargrid_title p{
	font-size: 12px;
	margin: 0;

}

.main_content_cargrid .content_cargrid .content_row_cargrid .item_cargrid .item_cargrid_title p a{
	text-decoration: none;
	color: #000000;
}

.main_content_cargrid .content_cargrid .content_row_cargrid .item_cargrid .item_cargrid_title p a:hover{
	color: #0772ba;
}

.main_content_cargrid .content_cargrid .content_row_cargrid .item_cargrid .item_cargrid_total_price{
	text-align: center;
	margin-top: -9px;
}
.main_content_cargrid .content_cargrid .content_row_cargrid .item_cargrid .item_cargrid_price p{
	font-size: 12px;
	margin: 0;
}

.main_content_cargrid .content_cargrid .content_row_cargrid .item_cargrid .item_cargrid_total_price p{
	font-size: 12px;
	margin: 0;
}

.main_content_cargrid .content_cargrid .content_row_cargrid .item_cargrid .item_cargrid_total_price .total_price{
	background-color: #ff0000;
    border-radius: 2px;
    color: #fff;
    padding: 1px 0;
    text-align: center;
    margin: 0 17px;
    width: 84px;
    font-size: 12px;
}

.main_content_cargrid .content_cargrid .content_row_cargrid{
	width: 754px;
}

.main_content_cargrid .content_cargrid .content_row_cargrid .item_cargrid .item_cargrid_price p.fob_price{
	color: #ff0000;
    margin-bottom: 15px;
}

.main_content_cargrid .content_cargrid .content_row_cargrid{
	margin-top: 25px;
}

.main_content_cargrid .header_cargrid .header_left_cargrid{
 	float: left;
    /*width: 257px;
	overflow:hidden;*/
}

.main_content_cargrid .header_cargrid .header_right_cargrid{
	float: right;
    margin-top: 10px;
}
.main_content_cargrid .header_cargrid .header_left_cargrid .header_cargrid_stock{
	font-weight: bold;
}
.price_calculate_form_checkbox{
	text-indent:133px;
}
.price_calculate_form_submit{
	text-indent: 25px;
}
.main_content_cargrid .header_cargrid .header_left_cargrid .header_cargrid_stock ul{
	border: 1px solid #0772ba;
    display: inline-flex;
    margin: 0;
    padding: 0;
	height:33px;
}

.main_content_cargrid .header_cargrid .header_left_cargrid .header_cargrid_stock ul li{
	background-color: #f0f0f0;
    float: left;
    list-style: outside none none;
    /*padding: 5px 19px;*/
    border-right: 1px solid #0772ba !important;
    display: block;
}

p.body_capital {
    text-transform: capitalize;
}
.reset_list{
	
	background: rgba(130,130,130,1);
	background: -moz-linear-gradient(top, rgba(130,130,130,1) 0%, rgba(102,102,102,1) 52%, rgba(102,102,102,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(130,130,130,1)), color-stop(52%, rgba(102,102,102,1)), color-stop(100%, rgba(102,102,102,1)));
	background: -webkit-linear-gradient(top, rgba(130,130,130,1) 0%, rgba(102,102,102,1) 52%, rgba(102,102,102,1) 100%);
	background: -o-linear-gradient(top, rgba(130,130,130,1) 0%, rgba(102,102,102,1) 52%, rgba(102,102,102,1) 100%);
	background: -ms-linear-gradient(top, rgba(130,130,130,1) 0%, rgba(102,102,102,1) 52%, rgba(102,102,102,1) 100%);
	background: linear-gradient(to bottom, rgba(130,130,130,1) 0%, rgba(102,102,102,1) 52%, rgba(102,102,102,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#666666', GradientType=0 );

	border: 1px solid #666666;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    width: 105px;
    height: 30px;

}

.main_content_cargrid .header_cargrid .header_left_cargrid .header_cargrid_stock ul li:nth-child(3n+0){
	border-right: none;
}


.main_content_cargrid .header_cargrid .header_left_cargrid .header_cargrid_stock ul li a{
	color: #0772ba;
    text-decoration: none;
	cursor: pointer;
    font-size: 14px;
   font-size-adjust: 0.5;
   padding: 5px 19px;

}

.main_content_cargrid .header_cargrid .header_left_cargrid .header_cargrid_stock ul li.active_stock{
	background-color: #0772ba;
}

.main_content_cargrid .header_cargrid .header_left_cargrid .header_cargrid_stock ul li.active_stock a{
	color: #fff;
}

.main_content_cargrid .header_cargrid{
	margin-top: 29px;
	border-bottom: 1px solid #0772ba;
	width: 732px;
}

.header_right_cargrid .header_right_cargrid_tool .header_right_tool_grid{
	display: inline-block;
    float: left;
}


.header_right_cargrid .header_right_cargrid_tool .header_right_tool_grid .active{
	color:#0772ba;
	background-color: #FFF;
}


.header_right_cargrid .header_right_cargrid_tool .header_right_tool_list{
   	display: inline-block;
    float: left;
}

.header_right_cargrid .header_right_cargrid_tool .header_right_tool_list .active{
	color:#0772ba;
	background-color: #FFF;
}


.header_right_cargrid .header_right_cargrid_tool .header_right_tool_grid a{
	text-decoration: none;
	margin-right: 15px;
	font-size: 12px;
	
}

.header_right_cargrid .header_right_cargrid_tool .header_right_tool_list a{
	
    font-size: 12px;
    text-decoration: none;
}

.header_right_cargrid .header_right_cargrid_tool .header_right_tool_list{
	text-decoration: none;
}

.header_right_cargrid .header_right_cargrid_tool .header_right_total_product{
	display: inline-block;
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}

.header_right_cargrid .header_right_cargrid_tool .header_right_total_product p{
	margin: 0;
	font-size: 12px;
}

.header_right_cargrid .header_right_cargrid_tool .header_right_total_product span{
	color: #ff1111;
}

.header_right_cargrid .header_right_cargrid_tool{
	float: right;
}


.pagination{
 display: inline-block;
    margin: 23px 0 0 0;
}

.pagination ul.paginnav{
 	display: inline-block;
    padding: 0;
}

.pagination ul li{
	float: left;
    list-style: outside none none;
    margin-left: 10px;
}

.pagination ul li a{
	text-decoration: none;
	color: #666666;
	font-size: 14px;
	cursor: pointer;
}

.pagination ul li.current{
	background-color: #008cba;
    border-radius: 2px;
    padding: 0 5px;
}

.pagination ul li.current>a{
	color: #fff;
}




/* Car list item*/

.content_itemlist{
	margin-top: 20px;
}

.content_itemlist .tablelist_item{
	border-collapse: collapse;
	 border: 1px solid #cacaca;
}

.content_itemlist .tablelist_item .list_item_photo{
	float: left;
    height: 85px;
    width: 117px;
}	

.content_itemlist .tablelist_item .list_item_photo .sold_out_list{
	    bottom: 87px;
    position: relative;	
}	


.content_itemlist .tablelist_item .list_item_photo img{
	width: 117px;
	height:82px;
}
.content_itemlist .tablelist_item .list_item_desc{
    float: left;
    height: auto;
    padding-left: 11px;
    width: 263px;
}

.content_itemlist .tablelist_item .list_item_desc p{
	margin: 0;
	font-size: 12px;
}

.content_itemlist .tablelist_item .list_item_desc p a{
	text-decoration: none;
	color: #0772ba;
}

.content_itemlist .tablelist_item .list_item_desc p.title{
	font-size: 14px;
	font-weight: bold;
	
}

.content_itemlist .tablelist_item .list_item_desc span{
	font-size: 12px;
	color:#3e3e3e;
	font-weight: bold;
}

.tablelist_item tr td{
	padding: 12px 7px;
	border: 1px solid #cacaca;
	width: 120px;
}

.tablelist_item tr th{
	border: 1px solid #cacaca;
	background-color: #e7f2f8;
	height: 40px;
	font-size: 14px;
	color: #3e3e3e;
}

.content_itemlist .tablelist_item .list_item_year{
	text-align: center;
}

.content_itemlist .tablelist_item .list_item_year p{
	font-size: 12px;	
}

.content_itemlist .tablelist_item .list_item_fobprice{
	text-align: center;
}

.content_itemlist .tablelist_item .list_item_fobprice p{
	font-size: 12px;	
	margin: 0;
}

.content_itemlist .tablelist_item .list_item_fobprice p.price,.th_fob{
	color: #009045;
	font-weight: bold;
}

.th_total{
	color: #eb1c24;
}

.content_itemlist .tablelist_item .list_item_totalprice .total_price{
   border-radius: 2px;
    color: #ff0000;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-left: 8px;
    margin-top: 10px;
    padding: 1px 0;
    text-align: center;
    width: 84px;
	
}

.content_itemlist .tablelist_item .list_item_totalprice .item_cargrid_contact a{
    color: #fff;
    font-size: 14px;
    margin-top: 17px;
    padding: 5px 25px;
    text-decoration: none;
	border:1px solid #0772ba;
	border-bottom:1px solid #054a70;
	border-radius:3px;
	background: rgba(53,141,199,1);
	background: -moz-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,141,199,1)), color-stop(55%, rgba(6,110,180,1)), color-stop(100%, rgba(6,110,180,1)));
	background: -webkit-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -o-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -ms-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: linear-gradient(to bottom, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#358dc7', endColorstr='#066eb4', GradientType=0 );
}

.content_itemlist .tablelist_item .list_item_totalprice p{
	font-size: 12px;
    margin: 0 0 5px;
}

.content_itemlist .tablelist_item .list_item_totalprice{
	text-align: center;
}

#cargrid{
	cursor: pointer;
}
#carlist{
	cursor: pointer;
}
.car_list_poin_small{
	margin-top:-4px;
	float:left;width:33px;
	text-align:right;
}
.car_list_link{
	float:left;
	width:13px;
	margin-top: -3px;
}
.car_list_poin_big{
	float:left;
	overflow:hidden;
}
.wrapp_car_list_year{
	text-align: center;
}
.wrapp_car_list_right{
	margin-left: 4px;
}




/*============= Start Search box car list===============*/


.wrapper_slide{
	height: 150px;
}
.wrapper_car_list_search{
	height: 200px;
	background-color: #0772ba;
	margin-top: 17px;
	padding-left: 15px;
}
.search_title{
	height: 36px;
	border-bottom: 1px solid #ffffff;
	margin-right: 26px;
}
.search_title .title_left{
	height: 15px;
	padding-top: 10px;

}
.search_title span{
	height: 15px;
	padding-top: 8px;
	color:#ffffff;
	font-size: 14px;
	font-weight: bold;
}
.wrapper_box_search{
	height: 92px;
	padding: 0;
	margin: 0;
}

.wrapper_box_search .box{
	margin-top: 12px;
	width: 218px;
	margin-right: 20px;
	float: left;
}
.select_long{
	width: 218px;
	height: 25px;
	margin-bottom: 12px;
	-webkit-appearance: menulist-button;
	line-height: 21px;
	border: 0 none;
}

select.select_long option {
    border: none;
}

.select_short{
	width: 106px;
	height: 25px;
	-webkit-appearance: menulist-button;
	line-height: 21px;
	border: 0 none;
}

select.select_short option {
    border: none;
}

.text_box_short{
	width: 106px;
	height: 25px;
	text-indent: 5px;

}
.select_margin{
	margin-right: 1px;
}
.text_box_long{
	width: 345px;
	height: 25px;
	padding-left: 3px;
}

.wrapper_search-bottom{
	height: 39px
}
.wrapper_search-bottom .bottom_left{
  width: 457px;
  float: left;
  margin-right: 20px;
}
.bottom_left span{
	padding-top: 5px;
	color:#ffffff;
	font-size: 14px;
	font-weight: bold;
}

.bottom_right .btn_search{
	width: 100px;
	height: 31px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-right:14px;
	border-radius:3px;
	border:1px solid #323536;
	cursor: pointer;
	background: rgba(94,98,99,1);
	background: -moz-linear-gradient(top, rgba(94,98,99,1) 0%, rgba(60,64,66,1) 55%, rgba(60,64,66,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(94,98,99,1)), color-stop(55%,rgba(60,64,66,1)), color-stop(100%, rgba(60,64,66,1)));
	background: -webkit-linear-gradient(top, rgba(94,98,99,1) 0%, rgba(60,64,66,1) 55%, rgba(60,64,66,1) 100%);
	background: -o-linear-gradient(top, rgba(94,98,99,1) 0%, rgba(60,64,66,1) 55%, rgba(60,64,66,1) 100%);
	background: -ms-linear-gradient(top, rgba(94,98,99,1) 0%, rgba(60,64,66,1) 55%, rgba(60,64,66,1) 100%);
	background: linear-gradient(to bottom, rgba(94,98,99,1) 0%, rgba(60,64,66,1) 55%, rgba(60,64,66,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e6263', endColorstr='#3c4042', GradientType=0 );

}
.bottom_right .btn_reset{
	width: 100px;
	height: 31px;
	color: #ffffff;
	border:1px solid #666666;
	font-size: 14px;
	font-weight: bold;
	border-radius:3px;
	cursor: pointer;
	background: rgba(136,136,136,1);
	background: -moz-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 53%, rgba(102,102,102,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(136,136,136,1)), color-stop(53%, rgba(102,102,102,1)), color-stop(100%, rgba(102,102,102,1)));
	background: -webkit-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 53%, rgba(102,102,102,1) 100%);
	background: -o-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 53%, rgba(102,102,102,1) 100%);
	background: -ms-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 53%, rgba(102,102,102,1) 100%);
	background: linear-gradient(to bottom, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 53%, rgba(102,102,102,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#666666', GradientType=0 );

}

.total_product_item{
	color: #FFF;
}

.total_product_item span{
	font-weight: bold;
}
/*============= End Search box car list===============*/
.discount_total_products{
	font-size: 12px;
	color: #fff;
	margin-top: 5px;
	width: 160px;
	float: left;
}
.discount_total_number{
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
}

.calculate_form_checkbox {
    color: #fff;
    float: right;
    font-size: 12px;
    margin-top: 5px;
    width: 103px;
}
.calculate_form_checkbox_left{
	color: #333;
    float: left;
    font-size: 12px;
    margin-top: 10px;
    width: 103px;
}
.calculate_form_checkbox_color {

	background: rgba(238,58,64,1);
	background: -moz-linear-gradient(top, rgba(238,58,64,1) 0%, rgba(235,28,35,1) 61%, rgba(235,28,35,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,58,64,1)), color-stop(61%, rgba(235,28,35,1)), color-stop(100%, rgba(235,28,35,1)));
	background: -webkit-linear-gradient(top, rgba(238,58,64,1) 0%, rgba(235,28,35,1) 61%, rgba(235,28,35,1) 100%);
	background: -o-linear-gradient(top, rgba(238,58,64,1) 0%, rgba(235,28,35,1) 61%, rgba(235,28,35,1) 100%);
	background: -ms-linear-gradient(top, rgba(238,58,64,1) 0%, rgba(235,28,35,1) 61%, rgba(235,28,35,1) 100%);
	background: linear-gradient(to bottom, rgba(238,58,64,1) 0%, rgba(235,28,35,1) 61%, rgba(235,28,35,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee3a40', endColorstr='#eb1c23', GradientType=0 );

	border: 1px solid #bb3b42;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-size: 14px;
    font-weight: 600;
    height: 31px;
    margin-top: 0;
    padding-top: 3px;
    text-indent: 3px;
    width: 103px;
}
.calculate_form_checkbox label{
	vertical-align: middle;
}
.calculate_form_checkbox input{
	vertical-align: middle;
}
/*Rado start discount*/

.bg_discount_top_list{
	background:url(images/bg_discount_top.png) repeat;
	height: 49px;
    margin-left: 38px;
    margin-top: -20px;
    position: absolute;
    width: 68px;
}
.discount_save_list{
	color: #fff;
    font-size: 10px;
    line-height: 1px;
    margin-top: 15px;
    text-align: center;
}
.discount_fob_list{
	color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
    text-align: center;
}
.fob_discount_list{
	font-size:12px; 
	margin-top:29px;
	margin-bottom: 5px;
	text-decoration: line-through;
	text-align: center;
	color:#979797;
}
.seller_profile_phone,.seller_profile_name{
	font-size: 12px;
}
.seller_profile_email a{
	text-decoration: none;
	font-size: 14px;
}
/*Rado end discount*/