@charset "utf-8";
/* CSS Document */

.detail_wrapper{
	padding-bottom:20px;
	overflow:auto;
	height:auto;
}
		/*left content style start*/
		
.detail_content_left{
	width:650px;
	height:auto;
	margin-right:15px;
	float:left;
}
.detail_content_left .title_detail{
	background:url(images/title_detail.jpg) no-repeat;
	height:30px;
	border:1px solid #cacaca;
}
.detail_content_left .title_detail p{
	line-height:0;
	margin-left:20px;
	margin-top:15px;
}
.detail_content_left .car_info_wrapper{
	margin:0px;
	padding:0px;
	margin-top:10px;
	overflow:auto;
}



.car_info_wrapper .car_info_left{
	float:left;
	width:355px;
	height:auto;
	margin-right:10px;
}
.car_info_wrapper .car_info_left .imgload{
	margin:0px;
	padding:0px;
	position:relative;
}
.car_info_wrapper .car_info_left .imgload .imgchange{
	width:355px;
	height:268px;
	cursor:pointer;
}
.car_info_left .imgload .sold_out{
	left: 146px;
    position: absolute;
    top: 0;
    width: 210px;
	height:140px;
    z-index: 999;
}
.car_info_wrapper .car_info_left .small_img{
	overflow:auto;
	margin-left:-5px;
}
.car_info_wrapper .car_info_left .small_img img{
	width:67px;
	height:49px;
	margin-left:5px;
	float:left;
	margin-top:6px;
}
.imgactive{
  border: 1px solid #AC1419;
}
.a_download{
	text-decoration:none
}
.download_img{
	background:url(images/download_img.jpg) no-repeat;
	border:none;
	width:67px;
	height:49px;
	margin-left:5px;
	float:left;
	margin-top:6px;
	cursor:pointer;
}

.car_info_wrapper .car_info_right{
	height:auto;
	min-height: 500px;
	overflow:hidden;
	text-align:center;
}



.detail_content_left .spec_wrapper{
	border:1px solid #cacaca;
	height:auto;
	overflow:hidden;
}
.detail_content_left .spec_wrapper .title_spec{
	background:url(images/title_detail.jpg) no-repeat;
	height:30px;
	border-bottom:1px solid #cacaca;
}
.detail_content_left .spec_wrapper .title_spec p{
	line-height:0;
	margin-left:20px;
	margin-top:0px;
	padding-top:15px;
}
.detail_content_left .spec_wrapper .spec_content_left{
	width:285px;
	height:auto;
}
.spec_wrapper .spec_content_left .spec{
	width:285px;
}
.spec_wrapper .spec_content_left .spec .left, .spec_wrapper .spec_content_left .spec .right{
	float:left;
	width:142px;
	min-height:22px;
	height:auto;
	padding-top:7px;
}
.spec_wrapper .spec_content_left .spec .left{
	padding-left:5px;
	text-align:left;
}
.spec_wrapper .spec_content_left .spec .right{
	padding-right:5px;
	text-align:right;
	text-transform: capitalize;
	word-break:break-all;
}
.spec_wrapper .spec_content_left .spec .blue{
	background:#e6f1f8
}
		/*left content style end*/
		
		/*right content style start*/
		
.detail_content_right{
	height:auto;
    min-height: 400px;
    overflow: hidden;
}
.detail_content_right .wrapper_total_price{
	height:auto;
	text-align:center;
	border:1px solid #cacaca;
	
background: rgba(253,253,253,1);
background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 18%, rgba(233,233,233,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,253,253,1)), color-stop(18%, rgba(253,253,253,1)), color-stop(100%, rgba(233,233,233,1)));
background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 18%, rgba(233,233,233,1) 100%);
background: -o-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 18%, rgba(233,233,233,1) 100%);
background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 18%, rgba(233,233,233,1) 100%);
background: linear-gradient(to bottom, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 18%, rgba(233,233,233,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#e9e9e9', GradientType=0 );

} 
.title_fob{
	text-align:center;
	background:#f0f0f0;
	padding:15px 0px;
	margin:0px;
	border-bottom:1px solid #cacaca;
}
.detail_content_right .text_insure{
	color:#0772ba;
	line-height:0;
	font-style:italic;
}
.detail_content_right .form_selection{
	width:260px;
	height:25px;
	margin-top:10px;
	background:none;
	border:1px solid #cacaca;
	line-height: 21px;
}
.detail_content_right .check_boxed_wrapper{
	margin-left: 60px;
    margin-top: 10px;
    overflow: auto;
	margin-bottom:10px;
}
.detail_content_right .check_boxed, .detail_content_right .span_check{
	float:left;
}
.detail_content_right .span_check{
	margin-top:4px;
	margin-left:3px;
	margin-right:15px;
}
.detail_content_right .calculate{
	text-decoration:none;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	padding:5px 30px;
	border: none;
	border: 1px solid #009045;
	border-radius:3px;
	cursor:pointer;
	background: rgba(45,164,103,1);
	background: -moz-linear-gradient(top, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(45,164,103,1)), color-stop(53%, rgba(0,144,70,1)), color-stop(100%, rgba(0,144,70,1)));
	background: -webkit-linear-gradient(top, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
	background: -o-linear-gradient(top, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
	background: -ms-linear-gradient(top, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
	background: linear-gradient(to bottom, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2da467', endColorstr='#009046', GradientType=0 );
}
.detail_content_right .est_price{
	background:#e6f1f8;
	font-weight:bold;
	border-top:1px solid #cacaca;
	padding:7px 0px;
	margin-top:10px;
}
.detail_content_right .send{
	border:1px solid #0772ba;
	border-bottom:1px solid #054a70;
	border-radius:3px;
	width:100px;
	height:30px;
	color:#fff;
	font-size:16px;
	margin-top: 20px;
	margin-bottom: 10px;
	cursor:pointer;
	background: rgba(53,141,199,1);
	background: -moz-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,141,199,1)), color-stop(55%, rgba(6,110,180,1)), color-stop(100%, rgba(6,110,180,1)));
	background: -webkit-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -o-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -ms-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: linear-gradient(to bottom, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#358dc7', endColorstr='#066eb4', GradientType=0 );

}

 .seller_info{
	border:1px solid #cacaca;
	height:auto;
	min-height:100px;
	text-align:center;
	margin-top:10px;
}
 .seller_info .title{
	padding:15px 0px;
	background:#e6f1f8;
	border-bottom:1px solid #cacaca;
}
 .seller_info .content_seller{
	padding:15px;
	min-height:100px;
	height:auto;
	overflow:auto;
}
 .seller_info .content_seller .img_seller{
	width:105px;
	height:65px;
	float:left;
	margin-right:25px;
}
.seller_info .content_seller .text_right{
	overflow:hidden;
	text-align:left;
}
.title_contact_seller{
	text-align:center;
	background:#e6f1f8;
	padding:15px 0px;
	margin:0px;
	border-bottom:1px solid #cacaca;
}
.contact_seller{
	margin-top:10px;
	border:1px solid #cacaca;
	height:auto;
	min-height:100px;
	text-align:center;
}
.contact_seller .content_contact_seller{
	padding:10px;
	overflow:auto;
	min-height: 100px;
}
.contact_seller .content_contact_seller .seller_img{
	width:70px;
	float:left;
}
.contact_seller .content_contact_seller .seller_img img{
	width:85px;
	height:85px;
}
.contact_seller .content_contact_seller .text_seller{
	float:left;
	width:190px;
	word-break:break-all;
}
.contact_seller .content_contact_seller .social_wrapper img{
	width:25px;
	height:25px;
	margin-left:3px;
}
.contact_seller .Divfooter{
	background:#e7f2f8;
	padding:10px;
	line-height:15px;
}
		/*right content style end*/
		
		
		/*more car content style start*/
		
.more_car_wrapper{
	height:auto;
	min-height:300px;
	width:960px;
	margin-bottom:50px;
}
.more_car_wrapper .title_more_car{
	background:url(images/bg_title_long.jpg) no-repeat;
	height:30px;
	border:1px solid #cacaca;
}
.more_car_wrapper .title_more_car p{
	line-height:0;
	margin-left:20px;
	margin-top:0px;
	padding-top:15px;
}
.more_car_wrapper .title_more_car p a{
	float:right;
	margin-right:20px;
	text-decoration:none;
	color:#0772ba;
}
.more_car_wrapper .listcar_wrapper{
	margin-top:15px;
	margin-left:-12px;
	height:auto;
}
.listcar_wrapper .more_listcar{
	float:left;
	width:150px;
	min-height:240px;
	height:auto;
	margin-left:12px;
	border:1px solid #cacaca;
	border-bottom:4px solid #3d3d3d;
	position:relative;
	text-align:center;
}
.more_listcar .carsource_wrapper{
	padding:5px 5px 0px 5px;
}
.listcar_wrapper .more_listcar .carload{
	width: 138px;
	height:105px;
}
.listcar_wrapper .more_listcar .carsource_wrapper .sold_out{
	left: 10px;
    position: absolute;
    top: 0;
    width: 140px;
    z-index: 999;
}
.listcar_wrapper .more_listcar .title a{
	font-size:12px;
	margin:3px 0px 14px;
	font-weight:600;
	color:#0772ba;
	word-break:break-all;
	text-decoration:none;
}
.listcar_wrapper .more_listcar .cardata_wrapper{
	margin:5px 0px;
}
.listcar_wrapper .more_listcar .cardata_wrapper .cc{
	/*width:23px;*/
	height:18px;
	float:right;
	margin-top:-4px;
	margin-right:5px;
}
.listcar_wrapper .more_listcar .cardata_wrapper div{
	padding-bottom:3px;
	margin-top:10px;
	text-align:left;

}
.listcar_wrapper .more_listcar .cardata_wrapper div span{
	text-align:right;
	color:#ee4f54;
	float:right;
	width:85px;
	word-break:break-all;
}

.listcar_wrapper .more_listcar .contact_sell{
	background:url(images/ca.jpg) right no-repeat;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:12px;
	text-align:right;
	font-weight:600;
	padding:2px 8px 1px;
	border-bottom:4px solid #0772ba;
	top:212px;
	left:0px;
	width:148px;
	height:23px;
	position:absolute;
	z-index:999;
}

		/*more car content style end*/

.bigger{
	font-size:14px;
	font-weight:bold;
	color:#0772ba;
	line-height:10px;
}
.box_title{
	font-size:14px;
	font-weight:bold;
	color:#0772ba;
	line-height:10px;
	background: #e6f1f8 none repeat scroll 0 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.smaller{
	font-size:12px;
	font-weight:normal;
	color:#3d3d3d;
	line-height:10px;
}
.box_content {
    padding: 10px;
}
.box_content > p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}



.lb-nav {
    height: 100%;
    left: 0;
    position: unset !important;
    top: 0;
    width: 100%;
    z-index: 10;
}


.lb-nav a.lb-prev {
  background: rgba(0, 0, 0, 0) url("images/prev.png") no-repeat scroll left 48%;
    display: block !important;
    float: left;
    height: 100% !important;
    left: 0 !important;
    list-style: outside none none !important;
   
    position: absolute !important;
    top: 0 !important;
    transition: opacity 0.6s ease 0s;
    width: 20% !important;
}

.lb-nav a.lb-prev:hover{
   opacity: 1 !important;
}


.lb-nav a.lb-next {
    background: rgba(0, 0, 0, 0) url("images/prev.png") no-repeat scroll left 48%;
    display: block !important;
    float: left;
    height: 100% !important;
    right: 0 !important;
    list-style: outside none none !important;

    position: absolute !important;
    top: 0 !important;
    transition: opacity 0.6s ease 0s;
    width: 20% !important;
}

.lb-nav a.lb-next:hover{
   opacity: 1 !important;
}

#car_description{
	border: 1px solid #cacaca;
	margin-top: 10px;
}