.wrapp_complete{
	text-align:center;
	background:url(../../images/public_site/complete/complete.png) no-repeat;
	min-width:960px;
	height:457px;
	font-size:24px;
	color:#0772ba;
	padding-top:345px;
}
