.wrapp_email_sent{
	text-align:center;
	background:url(../../images/public_site/email_sent/email%20sent.png) no-repeat;
	min-width:959px;
	height:456px;
	font-size:24px;
	color:#0772ba;
	padding-top:325px;
}
.step_wrapper{
	text-align: center;
	padding: 30px 0;
	width: 100%;
}
.confirm_msg_wrapper{
	width: 100%;
	margin-bottom: 50px;
}
.confirm_msg_container{
	width: 800px;
	border: 5px solid #CACACA;
	min-height: 50px;
	margin: auto;
	padding: 20px 20px 50px 20px;
}
.send_status_container{
	padding: 10px 0;
	text-align: center;
}
.step_title {
    color: #c41d1d;
    font-size: 24px;
    margin: 0 0 20px;
    text-align: center;
}
.sent_desc {
    text-align: center;
}
.email_sample {
    text-align: center;
}
.special_note{
	text-align: center;
}