.wrapp_login{
	overflow:hidden;
	padding-top: 25px;
}
.login_left{
    float: left;
    margin-right: 33px;
    width: 415px;
	min-height:378px;
	background:url(/images/public_site/login/login_line.png) repeat;
	border:3px solid #1c75bc;
}
.login{
	color: #0772ba;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 30px;
    text-indent: 34px;
}
.login_to_your_account{
	font-size: 12px;
    margin-bottom: 9px;
    text-indent: 34px;
}
.login_username_input{
	font-size: 12px;
    text-indent: 32px;
}
.login_username{
    height: 33px;
    text-indent: 4px;
    width: 350px;
}
.login_password_input{
	font-size: 12px;
    margin-bottom: 11px;
    text-indent: 32px;
}
.login_password{
    height: 33px;
    text-indent: 4px;
    width: 350px;
}
.login_remember_input{
	font-size: 12px;
	margin-bottom: 16px;
    text-indent: 17px;
}
.chckbox{
	float: left;
    min-height: 16px;
    width: 225px;
}
.forgot_password{
    font-weight: bold;
    text-indent: 20px;
	overflow:hidden;
}
.forgot_password a{
	color:#0772ba;
	text-decoration:none;
}
.btn_login{
	text-indent: 32px;
}
.contact_seller_text{
	margin:30px 0px 0px 30px;
	font-size:20px;	
}
.don_have_account{
	font-size:12px;
	overflow:hidden;
	margin-top:55px;
}
.don_have{
	 float:left;
	 text-indent:32px;
	
}
.don_have a{
	color:#0772ba;
	text-decoration:none;
	font-weight: bold;
}
#checkbox{
	width:16px;
	height:16px;
}


label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
}
.wrapper {
	width: 500px;
	margin: 50px auto;
}
input[type=checkbox] {
	display: none;
}
label:before {
	border: 1px solid #ccc;
    content: "";
    display: inline-block;
    height: 16px;
    left: 0;
    margin-right: 10px;
    position: absolute;
    width: 16px;
}

/*.checkbox label {
	margin-bottom: 10px;
}*/
.checkbox label:before {
    border-radius: 3px;
    height: 16px;
    margin-left: 15px;
    width: 16px;
}

input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #000;
	text-align: center;
    line-height: 15px;
	text-indent:2px;
}
.login_btn_search{
	width:117px;
	height:32px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
	margin-top: 14px;
	border:1px solid #0772ba;
	border-bottom:1px solid #054a70;
	border-radius:3px;	
	background: rgba(53,141,199,1);
	background: -moz-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,141,199,1)), color-stop(55%, rgba(6,110,180,1)), color-stop(100%, rgba(6,110,180,1)));
	background: -webkit-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -o-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -ms-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: linear-gradient(to bottom, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#358dc7', endColorstr='#066eb4', GradientType=0 );
}





.login_right{
	float:left;
	width:504px;
}