@charset "utf-8";

/*rado Start header*/
html {
  box-sizing: border-box;
  min-width: 1024px;
}
*, :before, *:after {
  box-sizing: inherit;
}
body{
	padding: 0px;
	margin: 0px;
	font-family:open sans;
	
}
img{
	border: none;
}
#btnfb{
	margin-top:7px;
}
.wrapp_wrpp_header_outer{
	background:url(/images/public_site/bg_header.png) repeat;
	border-top: 3px solid #0772ba;
}
.wrapp_contact_us{
	margin:0 auto;
	font-size:14px;
	height:25px;
	padding-top:10px;
}
.head_user_block{
	display:inline-block;
	float: right;
	text-align: right;
	padding-left: 10px;
}
.head_mail_us{
	width:100px;
	display:inline-block;
	float: right;
	text-align: right;
}
.head_call_us{
	width:300px;
	display:inline-block;
	float: right;
	text-align: right;
}
.head_call_us img{
	vertical-align:text-bottom;
	padding-right:5px
}
.head_mail_us a img, .head_user_block a img{
	padding:2px 8px;
	vertical-align:text-bottom;
}
.head_call_us b, .head_mail_us a, .head_user_block a{
	color:#0772BA;
}
.head_mail_us a, .head_user_block a{
	text-decoration:none;
}
.user_dropdown_nav{
	list-style: none; margin: 0; padding: 0;
}
.user_dropdown_nav li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
.user_dropdown_nav ul li{
	 background-color: white;
	 padding: 4px 22px;
}
.user_dropdown_nav li a:hover{
    color: black; 
}
.user_dropdown_nav ul{
	margin-left: -41px;
}
.user_dropdown_nav li ul.dropdown{
	min-width: 100px;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
.user_dropdown_nav li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
}
.user_dropdown_nav li ul.dropdown li{
    display: block;
}
.user_id img{
	margin: 0px !important;
	padding: 0px !important;
}
.wrapp_hader_inner{
	margin: 0 auto;
	height:73px;
	/*background:url(/images/public_site/bg_header.png) repeat;*/
}
.wrapp_header_logo{
	float:left;
	width:250px;
	height:73px;
	overflow:hidden;
}
.header_logo{
	padding-top:5px;
}
.wrapp_header_right{
	float:right;
	overflow:auto;
	height:73px;
	width:710px;
}
.wrapp_header_wellcome{
	float:right;
	width:710px;
	padding-top:10px;
}

.head_welcom{
	float:left;
	width:480px;
	text-align:right;
	font-size:14px;
	color:#333333;
	padding-top:9px;
}
.head_welcome_logout{
	float:left;
	text-align:right;
	font-size:14px;
	color:#333333;
	padding-top:5px;
	margin-left: 163px;
}
.head_username{
	color: #0772ba;
    float: left;
    text-indent: 4px;
    width: 230px;
	font-size:14px;
	padding-top:10px;
}
.head_username_logout{
	color: #0772ba;
    float: right;
    text-indent: 4px;
	font-size:14px;
	padding-top:10px;
}
.member_bnt{
    background: #0772ba;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    width: 117px;
    text-decoration: none;
    border:none;
}
.logout_bnt{
	background: #0772ba;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    width: 100px;
    text-decoration: none;
    border:none;
}
.header_login_logout {
    float: left;
    text-align: right;
}
.header_login_logout a{
	text-decoration: none;
}
.header_login_user{
	float: left;
    margin-top: 5px;
    text-align: center;
}
.user_hello{
	color:red;
	font-size: 14px;
}
.header_login{
	float: left;
    text-align: right;
    width: 120px;
}
.header_img_button_register{
	float:right;
	overflow:auto;
}
.head_total_fob{
	color:#0772ba;
	font-weight:bold;
	margin-left:10px;
	font-size:24px;
}
.head_total_car_in_stock{
	font-size:12px;
	vertical-align:text-top;
}
/*start menu*/
.wrapp_nav_outer{
	background:url(/images/public_site/bg_footer.png) repeat;
	color:#FFF;
	font-size:14px;
	border-bottom:3px solid #0772ba;
	overflow: auto;
}
.nav_inner{
	margin: 0 auto;
	background:url(/images/public_site/bg_footer.png) repeat;
	overflow:auto;
}
.nav_menu{
	float: left;
    font-size: 14px;
    width: 744px;
}
.nav_menu ul{
	padding:0;
	margin:0;
}
.nav_menu ul li{
	float:left;
	padding:9px 17px;
	list-style:none;
}
.nav_menu ul li a{
	color:#fff;
	text-decoration:none;
}
.nav_menu ul li:hover{
	color:#0772ba;
	background:#0772ba;
}
.nav_menu ul li.active{
	background:#0772ba;
}

.nav_follow_us{
	float:right;
	width:216px;
	background:#0772ba;
	overflow:hidden;
}
.nav_follow_us_text{
	float: left;
	padding: 4.2% 0;
    text-align: left;
    text-indent: 30px;
    width: 110px;
}
.nav_follow_us_img{
	float: right;
	padding: 9px 0 0;
    text-indent: 10px;
    width: 106px;
}
/*end menu*/
.clear{
	clear:both;
}

/*rado End header*/

/*rado start sidebar*/

.wrapp_sidebar{
	float:left;
	width:211px;
	height:auto;
	margin-right:15px;
	min-height:520px;
}
.sidebar_country{
	margin-bottom: 14px;
	
}
.sidebar_brand{
	margin-bottom: 14px;
	
}

/*rado start sidebar search cars*/

.sidebar_search_cars{
	margin-bottom: 14px;
	background:url(/images/public_site/sidebar_search_cars_img.png) repeat;
	
}
.wrapp_sidebar_search_cars{
	margin-left:15px;
	margin-right:15px;
	width:180px;
	padding-bottom:20px;
	padding-top:12px; 
}
.sidebar_search{
	background: rgba(0, 0, 0, 0) url("/images/public_site/img_search_cars.png") no-repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-indent: 27px;
	margin-bottom:12px;	
}
.sidebar_search_cars_make{
	width:180px;
	height:25px;
	color:#555;
	-webkit-appearance: menulist-button;
	line-height: 21px;
}
.sidebar_search_cars_min_year{
	width:87px;
	height:25px;
	color:#555;
	line-height: 21px;
}
.sidebar_search_cars_max_year{
	width:87px;
	height:25px;
	color:#555;
}
.sidebar_search_cars_min_year_left{
	width:85px;
	height:25px;
	color:#555;
	line-height: 21px;
	margin-right:3px; 
}
.sidebar_search_cars_max_year_left{
	width:85px;
	height:25px;
	color:#555;
	margin-right:3px; 
}
.sidebar_search_long{
	width:180px;
	height:25px;
	color:#555;
}
.select_make{
	margin-bottom:10px;
	overflow: hidden;
}
.sidebar_btn_search{
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    width: 85px;
	border:1px solid #323536;
	border-radius:3px;
	background: rgba(94,98,99,1);
	background: -moz-linear-gradient(top, rgba(94,98,99,1) 0%, rgba(60,64,66,1) 55%, rgba(60,64,66,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(94,98,99,1)), color-stop(55%,rgba(60,64,66,1)), color-stop(100%, rgba(60,64,66,1)));
	background: -webkit-linear-gradient(top, rgba(94,98,99,1) 0%, rgba(60,64,66,1) 55%, rgba(60,64,66,1) 100%);
	background: -o-linear-gradient(top, rgba(94,98,99,1) 0%, rgba(60,64,66,1) 55%, rgba(60,64,66,1) 100%);
	background: -ms-linear-gradient(top, rgba(94,98,99,1) 0%, rgba(60,64,66,1) 55%, rgba(60,64,66,1) 100%);
	background: linear-gradient(to bottom, rgba(94,98,99,1) 0%, rgba(60,64,66,1) 55%, rgba(60,64,66,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e6263', endColorstr='#3c4042', GradientType=0 );
}
.sidebar_btn_reset{
	width:85px;
	height:30px;
	border:none;
	border-bottom:1px solid #323536;
	border-radius:3px;
	color:#fff;
	cursor: pointer;
	font-size:14px;
	font-weight:bold;
	float:right;
	background: rgba(136,136,136,1);
	background: -moz-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 53%, rgba(102,102,102,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(136,136,136,1)), color-stop(53%, rgba(102,102,102,1)), color-stop(100%, rgba(102,102,102,1)));
	background: -webkit-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 53%, rgba(102,102,102,1) 100%);
	background: -o-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 53%, rgba(102,102,102,1) 100%);
	background: -ms-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 53%, rgba(102,102,102,1) 100%);
	background: linear-gradient(to bottom, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 53%, rgba(102,102,102,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#666666', GradientType=0 );
}

/*rado end sidebar search cars*/


.sidebar_by_country{
	width:209px;
	font-size:14px;
	font-weight:bold;
	text-indent: 24px;
	color:#0772ba;
	padding:6px 0px;
	border:1px solid #cacaca;
	border-bottom:none;
}
.wrapp_country{
	border:1px solid #cacaca;
	padding-top:12px;
	width:211px;
	font-weight:bold;
	margin-bottom: 14px;
}
.sidebar_japan{
	margin-left:10px;
	font-size:12px;
	margin-bottom: 15px;
}
.sidebar_japan a{
	color:#555;
	text-decoration: none;
}
.sidebar_japan a:hover{
	color:#0772ba;
}
.sidebar_japan_img_text{
	font-size: 12px;
    margin-bottom: 11px;
    text-indent: 7px;
    margin-left: 3px;
}
.sidebar_japan_img_text a{
	color:#555;
	text-decoration: none;
}
.sidebar_japan_img_text a:hover{
	color:#0772ba;
}
.sidebar_japan_img{
	float: left;
    height: 32px;
    width: 52px;
}
.sidebar_japan_img img{
    height: 23px;
}
.sidebar_japan_text{
	overflow:hidden;
	padding-top:3px;
}

.sidebar_brand_text{
	font-weight: bold;
	overflow: hidden;
    padding-bottom: 8px;
    padding-top: 7px;
	color:#555;
}
.sidebar_brand_img_text{
	font-size: 12px;
    margin-bottom: 3px;
    text-indent: 7px;
}
.sidebar_brand_img_text a{
	color:#333;
	text-decoration: none;
}
.sidebar_brand_img_text a:hover .sidebar_japan_img{
	background:#f2f2f2;
}
.sidebar_brand_img_text a:hover .sidebar_brand_text{
	background:#f2f2f2;
	color:#0772ba;
}
.active {
	background:#f2f2f2;
}
.active a .sidebar_brand_text{
	color:#0772ba;
}


.type_img{
	margin-top:4px;
}
.sidebar_type_img_text{
	font-size: 12px;
    margin-bottom: 3px;
    text-indent: 7px;
}
.sidebar_type_img_text a:hover .sidebar_japan_img{
	background:#f2f2f2;
	
}
.sidebar_type_img_text.active{
	background:#f2f2f2;
	
}
.sidebar_type_img_text a{
	text-decoration:none;
	color:#333;
}
.sidebar_type_img_text a:hover .sidebar_brand_text{
	background:#f2f2f2;
	color:#0772ba;
}
.bg_title{
	background: rgba(0, 0, 0, 0) url("/images/public_site/sidebar_country_img.png") no-repeat scroll 0 0;
    width: 211px;
}
.sidebar_fabook{
	width:211px;
	margin-bottom: 14px;
}

/*rado end sidebar*/

/*rado Start content*/

.outer{
	width:100%;
}
.wrapp_content_outer{
	background:#fff;
}

.inner{
	width:960px;
}
.content_inner{
	margin: 24px auto 0;
	background:#fff;
}

.wrapp_content_right{
	overflow:hidden;
	min-height:500px;
}
.discount_total_products{
	font-size: 12px;
	color: #fff;
	margin-top: 5px;
	width: 160px;
	float: left;
}
.discount_total_number{
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
}
.calculate_form_checkbox {
    color: #fff;
    float: right;
    font-size: 12px;
    margin-top: 5px;
    width: 103px;
}
.calculate_form_checkbox_color {

	background: rgba(238,58,64,1);
	background: -moz-linear-gradient(top, rgba(238,58,64,1) 0%, rgba(235,28,35,1) 61%, rgba(235,28,35,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,58,64,1)), color-stop(61%, rgba(235,28,35,1)), color-stop(100%, rgba(235,28,35,1)));
	background: -webkit-linear-gradient(top, rgba(238,58,64,1) 0%, rgba(235,28,35,1) 61%, rgba(235,28,35,1) 100%);
	background: -o-linear-gradient(top, rgba(238,58,64,1) 0%, rgba(235,28,35,1) 61%, rgba(235,28,35,1) 100%);
	background: -ms-linear-gradient(top, rgba(238,58,64,1) 0%, rgba(235,28,35,1) 61%, rgba(235,28,35,1) 100%);
	background: linear-gradient(to bottom, rgba(238,58,64,1) 0%, rgba(235,28,35,1) 61%, rgba(235,28,35,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee3a40', endColorstr='#eb1c23', GradientType=0 );

	border: 1px solid #bb3b42;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-size: 14px;
    font-weight: 600;
    height: 31px;
    margin-top: 0;
    padding-top: 3px;
    text-indent: 3px;
    width: 103px;
}
.calculate_form_checkbox label{
	vertical-align: middle;
}
.calculate_form_checkbox input{
	vertical-align: middle;
}

/*rado End content*/
/*============ Stat rado content ============*/

/*hide block search in sidebar*/
.sidebar_search_cars{
	display:none;
}
/*hide block search in sidebar*/

.wrapper_slide{
	height: 235px;
}
.wrapper_home_search{
	height: 190px;
	background-color: #0772ba;
	margin-top: 17px;
	padding-left: 15px;
}
.search_title{
	height: 36px;
	border-bottom: 1px solid #ffffff;
	margin-right: 26px;
}
.search_title .title_left{
	height: 15px;
	padding-top: 10px;

}
.search_title span{
	height: 15px;
	padding-top: 8px;
	color:#ffffff;
	font-size: 14px;
	font-weight: bold;
}
.wrapper_box_search{
	height: 92px;
	padding: 0;
	margin: 0;
}

.wrapper_box_search .box{
	margin-top: 12px;
	width: 218px;
	margin-right: 20px;
	float: left;
}
.select_long{
	width: 218px;
	height: 25px;
	margin-bottom: 12px;
	-webkit-appearance: menulist-button;
	line-height: 21px;
	border:none;
}
.select_short{
	width: 106px;
	height: 25px;
	-webkit-appearance: menulist-button;
	line-height: 21px;
	border:none;
}


.text_box_short{
	width: 106px;
	height: 25px;
	text-indent: 5px;
	border:none;
}
.select_margin{
	margin-right: 1px;
}
.text_box_long{
	width: 345px;
	height: 25px;
	padding-left: 3px;
	border:none;
}

.wrapper_search-bottom{
	height: 39px
}
.wrapper_search-bottom .bottom_left{
  width: 457px;
  float: left;
  margin-right: 20px;
}
.bottom_left span{
	padding-top: 5px;
	color:#ffffff;
	font-size: 14px;
	font-weight: bold;
}

.bottom_right .btn_search{
	width: 100px;
	height: 31px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-right:14px;
	border-radius:3px;
	border:1px solid #323536;
	cursor: pointer;
	background: rgba(94,98,99,1);
	background: -moz-linear-gradient(top, rgba(94,98,99,1) 0%, rgba(60,64,66,1) 55%, rgba(60,64,66,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(94,98,99,1)), color-stop(55%,rgba(60,64,66,1)), color-stop(100%, rgba(60,64,66,1)));
	background: -webkit-linear-gradient(top, rgba(94,98,99,1) 0%, rgba(60,64,66,1) 55%, rgba(60,64,66,1) 100%);
	background: -o-linear-gradient(top, rgba(94,98,99,1) 0%, rgba(60,64,66,1) 55%, rgba(60,64,66,1) 100%);
	background: -ms-linear-gradient(top, rgba(94,98,99,1) 0%, rgba(60,64,66,1) 55%, rgba(60,64,66,1) 100%);
	background: linear-gradient(to bottom, rgba(94,98,99,1) 0%, rgba(60,64,66,1) 55%, rgba(60,64,66,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e6263', endColorstr='#3c4042', GradientType=0 );

}
.bottom_right .btn_reset{
	width: 100px;
	height: 31px;
	color: #ffffff;
	border:1px solid #666666;
	font-size: 14px;
	font-weight: bold;
	border-radius:3px;
	cursor: pointer;
	background: rgba(136,136,136,1);
	background: -moz-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 53%, rgba(102,102,102,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(136,136,136,1)), color-stop(53%, rgba(102,102,102,1)), color-stop(100%, rgba(102,102,102,1)));
	background: -webkit-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 53%, rgba(102,102,102,1) 100%);
	background: -o-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 53%, rgba(102,102,102,1) 100%);
	background: -ms-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 53%, rgba(102,102,102,1) 100%);
	background: linear-gradient(to bottom, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 53%, rgba(102,102,102,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#666666', GradientType=0 );

}
.wrapper_content_list{
	margin-top: 25px;
}
.wrapper_content_list .side_bar{
	background: url(/images/public_site/home_bar.png) repeat;
	border-left: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
	height: 31px;
	padding-top: 5px;
}
.side_bar .border_side_bar{
  margin-left: 8px;
  width: 10px;
  height: 24px;
}
.side_bar .border_side_bar img{
	float:left; 
	padding-top:3px;
	cursor: pointer;
}
.side_bar .border_side_bar .text_title{
	color: #0772ba;
	font-weight: bold;
	font-size: 14px;
	margin-left: 10px;
	width: 300px;
}
.side_bar .arrow_bar{
  margin-right: 18px;
  height: auto;
  margin-top: -25px;
}
.side_bar .arrow_bar img{
	padding-top:3px;
	float:right;
}

.list_cars{
	margin-top: 20px;	
}
.list_cars .cars_box{
	margin-right: 19.7px;
	height: 170px;
	width: 131px;
	margin-bottom: 15px;
	float: left;

}
.list_cars .cars_box:nth-child(5n+0){
 margin-right: 0px;
}

.list_cars .cars_box .image_box{
	width: 100%;
	height: 89px;
}
.list_cars .cars_box .image_box .sold_out{
	left: -9px;
    position: relative;
    top: -94px;
    width: 140px;
    z-index: 999;
    height: 75px;
}
.list_cars .cars_box .image_box .image{
	width: 100%;
	height: 89px;
}
.list_cars .cars_box  .cars_text{
	width: 100%;
	height: 76px;
	margin-top: 5px;
	padding-left: 3px;
}

.cars_box  .cars_text .cars_title{
	color:#000000;
	font-size: 12px;
	-webkit-text-size-adjust: none;
	font-variant: small-caps;
	letter-spacing: 0px;
	font-stretch: normal;
}
.cars_box  .cars_text .cars_title span a{
	color:#000000;
	text-decoration:none;

}
.cars_box  .cars_text .cars_title span a:hover{
	color:#0772ba;
}
.list_cars .cars_box  .cars_text .car_price{
	color:#ff0000;
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
}
.fob_discount{
	font-size:12px; 
	margin-top:5px;
	text-decoration: line-through;
	color:#979797;
}
.bg_discount_top{
	background:url(/images/public_site/bg_discount_top.png) repeat;
	height: 49px;
    margin-left: 68px;
    position: absolute;
    width: 68px;
}
.discount_save{
	color: #fff;
    font-size: 10px;
    line-height: 1px;
    margin-top: 15px;
    text-align: center;
}
.discount_fob{
	color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
    text-align: center;
}

/*============ End rado content ============*/

/*rado Start footer*/

.wrapp_wrpp_footer_outer{
	background:url(/images/public_site/bg_footer.png) repeat;
	color:#FFFFFF;
	border-top:5px solid #0772ba;
	font-size:12px;
	margin-top: 23px;
}
.wrapp_footer_inner{
	margin: 0 auto;
	height:90px;
	/*background:url(/images/public_site/bg_footer.png) repeat;*/
}
.footer_left{
	float:left;
}
.wrapp_img_home{
	width:300px;
	float:left;
}
.wrapp_img_home_car_list{
	width:300px;
	float:left;
}
.wrapp_img_home_car_details{
	width:110px;
	float:left;
}
.footer_img_poin_icon{
	float: left;
    margin-top: 5px;
    padding-right: 10px;
    text-align: right;
    width: 120px;
}
.footer_home{
	float:left;
	width:80px;
}
.footer_home ul{
	padding:0;
	margin:0;
}
.footer_home ul li{
	float:left;
	list-style:none;
	padding-right:2px;
	padding:5px 5px;
	background:#0772ba;
	color: #fff;
	text-decoration:none;
	margin-right:2px;
}



.footer_home_right {
    overflow:hidden;
}
.footer_home_right ul{
	padding:0;
	margin:0;
}
.footer_home_right ul li{
	float:left;
	list-style:none;
	padding-right:2px;
	padding:5px 5px;
	background:#0772ba;
	color: #fff;
	text-decoration:none;
	margin-right:2px;
}
.footer_home_right ul li.a{
	background:#0772ba;
}
.footer_car_details{
	float:left;
	width:85px;
}
.footer_middle{
    float: left;
    height: 50px;
    padding-top: 20px;
    /*width: 250px;*/
}
.footer_right{
    float: left;
    height: 50px;
    padding-top: 20px;
    width: 222px;
}

.footer_right_copyright{
	text-align:left;
}
.footer_right_copyright a{
	color: #0772ba;
	text-decoration: none;
}
.footer_right_copyright a:hover{
	text-decoration: underline;
}
.wrapp_footer_right_copyright{
	padding-top:20px;
	width:380px;
}
.w_mobile_version{
	float: left;
    padding-top: 32px;
    width: 130px;
}
.w_mobile_version a{
	text-decoration: none;
}
.mobile_version{
	margin-left: 10px;
	vertical-align: super;
	color: #fff;
}
.bottom_footer_copyright{
	background: #000;
}
.footer_copyright_menu{
	margin: 0 auto;
	height: 30px;
	padding-top: 7px;
}
.footer_bottom_copyright{
	float: left;
}
.footer_bottom_menu{
	float: right;
}
.footer_bottom_menu ul{
	list-style: none;
	margin: 0;
}
.footer_bottom_menu ul li{
	list-style: none;
	display: inline;
}
.footer_bottom_menu ul li a{
	color: #FFFFFF;
	text-decoration: none;
}
.footer_bottom_menu ul li a:hover{
	text-decoration: underline;
}
.footer_right_total{
	float: left;
}
.w_footer_donwload_our_app{
	margin-top: 20px;
	float: right;
}
.download{
	margin-bottom: 7px;
}
.google_app{
	text-align: right;
}


/*rado End footer*/

.error_under {
    color: red;
    float: left;
    font-size: 12px;
    margin-left: 27px;
    text-indent: 2%;
    width: 100%;
    padding-left: 7px;
    text-indent: 0;
}
.error_under_register {
    color: red;
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin-left: 404px;
    margin-top: -23px;
    position: absolute;
    text-indent: 10px;
    width: 20%;
}
.error_under_one {
    /*color: red;
    float: left;
    font-size: 12px;
    margin-left: 27px;
    text-indent: 2%;
    width: 19%;
    padding-left: 7px;*/
    color: red;
    float: left;
    font-size: 12px;
    margin-top: -23px;
    padding-left: 415px;
    position: absolute;
    width: 74%;
}
.error_under_email {
    color: red;
    float: left;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 27px;
    text-indent: 2%;
    width: 100%;
}
.error_requried{
	 color: red;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 27px;
    text-indent: 2%;
    width: 100%;
    font-style: italic;
}
.error_requried_register{
	 color: red;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 357px;
    text-indent: 2%;
    width: 100%;
    font-style: italic;
}


/*CHAT*/
#wrapper_chat{
    bottom: -11px;
     border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 1px 2px 2px #aaa;
    padding-bottom: 10px;
    position: fixed;
    right: 59px;
    width: 282px;
    z-index: 99999;

}

#head_chat{
  background-color: #0772ba;
  width: 282px;
  overflow: auto;
  cursor: pointer;
   border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.class_none{
  display: none;
}

#head_chat #head_right{
  height: 30px;
  width: 50px;
  margin-top: 10px;
  padding: 0;
  float: right;
  background-image: url("images/arrow.png");
  background-repeat: no-repeat;
  
}
#head_chat #head_left{
  height: 30px;
  padding-left: 15px;
  padding-top:5px;
  float: left;
  font-size: 14px;
  color:#fff;
  font-weight: bold;
}
#iframe_chat{
    height: 340px;
    border:none;
    width: 280px;
    display: block;
   
}

.small_chat{
      position: fixed;
      bottom: -15px;
      right: 10px;
      z-index: 99999;
      padding-bottom: 10px;
      display: block;
      display: none;

}
/*END CHAT*/