

.main_content_how_to_buy{

}

.main_content_how_to_buy .title_content_how_to_buy{
	margin-bottom: 43px;
	 margin-top: 38px;
}

.main_content_how_to_buy .title_content_how_to_buy p{
	color: #0772ba;
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
}


.main_content_how_to_buy .title_content_how_to_buy p.step_of_buy{
	color: #323131;
	font-size: 24px;
	font-weight: bold;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content{

}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_left_content p{
	font-size: 16px;
	color:#3d3d3d;
	 font-weight: bold;
	 margin-bottom: 15px;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_left_content p span{

	color:#0772ba;
}


.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_left_content{
	width: 166px;
	float: left;
	min-height: 134px;
	margin-right: 17px;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content p.last_desc{
		 margin-left: 17px;
    width: 500px;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content p span.add_line{
	text-decoration: underline;
	font-weight: normal;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content p span.add_color{
	color: #ff1111;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content{
	width: 758px;
	float: left;
	min-height: 134px;
	margin-left: 17px;
	margin-top: 42px;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content p{
	color: #3d3d3d;
	font-size: 14px;
    margin: 8px 0;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content span{
	font-weight: bold;
}


.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .bank_details{
	margin-top: 15px;
}


.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .bank_details h5{
margin: 0;
color: #3d3d3d;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .bank_details p{
margin: 0;
 line-height: 25px;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .banking_acc_detail{
    margin-top: 27px;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .banking_acc_detail .text_acc_detail{
	width: 400px;
	float: left;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .banking_acc_detail .text_acc_detail p{
	margin-top: 0;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .banking_acc_detail .img_acc_detail{
	width: 270px;
	float: left;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .main_address_bank_account{

}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .main_address_bank_account .address_content_bank_account{
	
}


.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .main_address_bank_account .address_content_bank_account .left_content_bank_account{
	background-color: #0772ba;
    float: left;
    height: 182px;
    width: 244px;
    padding-top: 12px;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .main_address_bank_account .address_content_bank_account .left_content_bank_account p{
	 color: #fff;
    margin: 6px 0;
    padding-right: 21px;
    text-align: right;

}


.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .main_address_bank_account .address_content_bank_account .center_content_bank_account{
	width: 339px;
	height: 182px;
	float: left;
	background-color: #e6f1f8;
	padding-top: 12px;
}


.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .main_address_bank_account .address_content_bank_account .center_content_bank_account p{
    margin: 6px 0;
    padding-left: 26px;
   
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .main_address_bank_account .address_content_bank_account .right_content_bank_account{
	width: 175px;
	height: 182px;
	float: left;
	background-color: #e6f1f8;
	padding-top: 12px;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .main_address_bank_account p.title_address_bank_account{
	 color: #3d3d3d;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .main_address_bank_account p.name_address_bank_account{
	 color: #0772ba;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .mian_shipping_how_to_buy{
	margin-top: 30px;	
}


.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .mian_shipping_how_to_buy .img_shipping_how_to_buy{

}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .mian_shipping_how_to_buy .desc_shipping_how_to_buy{
	margin-top: 41px;
	margin-bottom: 13px;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .mian_shipping_how_to_buy .desc_shipping_how_to_buy p{
	color: #3d3d3d;
}


.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content{

}


.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content p span.bill_of_landing{
	color: #ff0000;
}

.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .text_bill_of_landing{

}


.main_content_how_to_buy .desc_content_how_to_buy .row_content .row_right_content .img_shipping_of_landing{
	
}

#last_row_content{
	padding-bottom: 100px;
}

.clear{
	clear: both;
}