.wrapp_register{
	overflow:hidden;
	padding-top: 25px;
}
.register_right{
    float: right;
    margin-left: 33px;
    width: 415px;
	min-height:371px;
	background:url(/images/public_site/login/login_line.png) repeat;
	border:3px solid #1c75bc;
}
.register{
	color: #0772ba;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    padding-top: 30px;
    text-indent: 34px;
}
.wrapp_become_register_create{
	margin-bottom:22px;
}
.register_become{
	font-size: 16px;
    text-indent: 34px;
}
.register_create{
	font-size: 12px;
    margin-bottom: 14px;
    text-indent: 34px;
}
.register_email_input{
	font-size: 12px;
    text-indent: 32px;
    margin-bottom:20px;
}
.register_email{
    height: 33px;
    text-indent: 11px;
    width: 350px;
}
.register_confirm_email_input{
	font-size: 12px;
    margin-bottom: 14px;
    text-indent: 32px;
}
.register_confirm_email{
    height: 33px;
    text-indent: 11px;
    width: 350px;
}
.btn_register{
	text-indent: 32px;
}
.register_btn_search{
	width:117px;
	height:32px;
	background:#0772BA;
	border:none;
	border-bottom:2px solid #054A70;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
}


.register_btn_validate{
	width:117px;
	height:32px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
	
	border:1px solid #0772ba;
	border-bottom:1px solid #054a70;
	border-radius:3px;	
	background: rgba(53,141,199,1);
	background: -moz-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,141,199,1)), color-stop(55%, rgba(6,110,180,1)), color-stop(100%, rgba(6,110,180,1)));
	background: -webkit-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -o-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -ms-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: linear-gradient(to bottom, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#358dc7', endColorstr='#066eb4', GradientType=0 );
}




.register_left{
	float:left;
	width:504px;
}