.wrapp_confirm{
	font-size:14px;
	font-weight:bold;
	padding-top: 50px;
 }
.wrapp_cofirm_email{
    min-height: 110px;
    padding-left: 150px;
}
.confirm_left{
	float:left;
	width:229px;
	border:1px solid #cacaca;
	border-right:none;
	background:#1c75bc;
	color:#fff;
	text-indent:25px;
	border-bottom:none;
	height: 40px;
	padding-top:10px;
}
.confirm_right{
	float:left;
	width:405px;
	border:1px solid #ccc;
	border-left:none;
	text-indent:25px;
	font-weight:normal;
	border-bottom:none;
	min-height: 40px;
	height: auto;
	padding-top:4px;
	border-bottom: 1px solid #ccc;
}

.wrapp_back_submit{
	/*padding-left:160px;
	overflow: hidden;
	margin-bottom:50px;*/
	margin-bottom: 132px;
    overflow: unset;
}
.wrapp_back{
	float:left;
	width:275px;
}
.wrapp_submit{
	float:left;
	overflow:hidden;
	width:380px;
}
.input_confirm{
    height: 31px;
    width: 360px;
    text-indent: 5px;
}
.enter_info_submit{
	border:1px solid #0772ba;
    border-bottom:1px solid #054a70;
    border-radius:3px;  
    background: rgba(53,141,199,1);
    background: -moz-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,141,199,1)), color-stop(55%, rgba(6,110,180,1)), color-stop(100%, rgba(6,110,180,1)));
    background: -webkit-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
    background: -o-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
    background: -ms-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
    background: linear-gradient(to bottom, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#358dc7', endColorstr='#066eb4', GradientType=0 ); border:none;cursor: pointer;height: 32px;
    width: 117px;color:#fff;font-weight:bold;
}



/*.wrapp_back_submit{
	overflow: hidden;
    padding-left: 0px;
	margin-bottom:50px;
}*/
.wrapp_back{
	float:left;
	text-align: right;
	width:275px;
}
.wrapp_submit{
	float: right;
    overflow: hidden;
    /*width: 281px;*/
    width: 295px;
}
.input_confirm {
    height: 31px;
    text-indent: 5px;
    width: 360px;
    border: 1px solid #ccc;
    background-color: white;
}
.input_confirm_border_none {
    height: 31px;
    text-indent: 5px;
    width: 360px;
    border: none;
    background-color: white;
}
.intl-tel-input .selected-flag {
    height: 0;
    padding: 33px 0 0 8px;
    position: relative;
    width: 42px;
    z-index: 1;
}
.confirm_submit{
	border:1px solid #0772ba;
    border-bottom:1px solid #054a70;
    border-radius:3px;  
    background: rgba(979797);
    background: -moz-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,141,199,1)), color-stop(55%, rgba(6,110,180,1)), color-stop(100%, rgba(6,110,180,1)));
    background: -webkit-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
    background: -o-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
    background: -ms-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
    background: linear-gradient(to bottom, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#358dc7', endColorstr='#066eb4', GradientType=0 ); border:none;cursor: pointer;height: 32px;
    width: 117px;color:#fff;font-weight:bold;
}
.confirm_back{
	background: #979797 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 32px;
    width: 117px;
}


.cheange_password{
	padding-left: 155px;
	font-size: 24px;
	font-weight: bold;
	color: #0772ba;
	margin-bottom: 20px;
}



.clear{
	clear:both;
}
