.wrapp_complete{
	text-align:center;
	background:url(../../images/public_site/complete/success_reset_change_password.png) no-repeat;
	min-width:960px;
	height:457px;
	font-size:24px;
	color:#0772ba;
	padding-top:230px;
}
.wrapp_complete a{
	color:#0772ba;
	text-decoration: none;
}
.btn_register{
	padding-top: 20px;
}
.register_btn_validate {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(53, 141, 199, 1) 0%, rgba(6, 110, 180, 1) 55%, rgba(6, 110, 180, 1) 100%) repeat scroll 0 0;
    border-color: #0772ba #0772ba #054a70;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    width: 150px;
}