@charset "utf-8";
/* CSS Document */

/*hide some block in sidebar*/
.sidebar_country, .sidebar_fabook{
	display:none;
}
/*hide some block in sidebar*/

.detail_wrapper{
	padding: 0px;
	margin:0px;
	overflow:auto;
	height:auto;
	font-size:12px;
	font-weight:normal;
}
.title_detail{
	background:url(images/title_detail.jpg) no-repeat;
	height:30px;
	border:1px solid #cacaca;
}
.title_detail p{
	line-height:0;
	margin-left:20px;
	margin-top:15px;
}




.seller_info_wrapper{
	margin:0px;
	padding:0px;
	margin-top:15px;
	overflow:auto;
}		
/* seller info left start */
.seller_info_wrapper .seller_info_left{
	float:left;
	width:355px;
	height:auto;
	margin-right:10px;
}
.seller_info_left .imgload{
	margin:0px;
	padding:0px;
}
.seller_info_left .imgload img{
	width:355px;
	height:268px;
}
.seller_info_left .small_img{
	overflow:auto;
	margin-left:-6px;
}
.seller_info_left .small_img img{
	width:67px;
	height:49px;
	margin-left:5px;
	float:left;
	margin-top:6px;
}
/* seller info left end */


/* seller info right start */
.seller_info_wrapper .seller_info_right{
	height:auto;
	min-height: 270px;
	overflow:hidden;
	border:1px solid #cacaca;
} 
.seller_info_right .spec_content{
	width:auto;
	height:auto;
}
.spec_content .spec{
	overflow:auto;
	width:368px;
}
.spec_content .spec .left, .spec_content .spec .right{
	float:left;
	width:184px;
	height: 23px;
	padding-top:3px;
	padding-bottom:3px;
	word-break:break-all;
}
.spec_content .spec .left, .spec_content .spec .left{
	padding-left:10px;
	text-align:left;
}
.spec_content .address{
	min-height:80px;
}
.spec_content .spec .right, .spec_content .spec .right{
	padding-right:10px;
	text-align:right;
}
.spec_content .spec .blue{
	background:#e6f1f8
}
.seller_info_right .introduction{
	text-align:center;
}
.introduction .intro_text{
	padding:0px 10px;
	text-align:justify;
	text-indent:30px;
	line-height:20px;
	height:auto;
}
/* seller info right end */


/* list car's seller start */
.carlist_seller_wrapper{
	height:auto;
	min-height:400px;
	width:auto;
	margin-bottom:50px;
	margin-top:15px;
}
.carlist_seller_wrapper .listcar_wrapper{
	margin-top:15px;
	margin-left:-8px;
	height:auto;
}
.listcar_wrapper .listcar{
	float:left;
	width:140px;
	min-height:230px;
	height:auto;
	margin-left:8px;
	margin-bottom:8px;
	border:1px solid #cacaca;
	border-bottom:4px solid #3d3d3d;
	position:relative;
	text-align:center;
}
.listcar .carsource_wrapper{
	padding:5px 5px 0px 5px;
}
.listcar_wrapper .listcar .carload{
	width:128px;
	height:95px;
}
.listcar .carsource_wrapper .sold_out{
	left: 19px;
    position: absolute;
    top: 0;
    width: 120px;
    z-index: 999;
}
.listcar_wrapper .listcar .title a{
	font-size:12px;
	margin:3px 0px 16px;
	font-weight:600;
	color:#0772ba;
	word-break:break-all;
	text-decoration:none;
}
.listcar_wrapper .listcar .cardata_wrapper{
	margin:5px 0px;
}
.listcar_wrapper .listcar .cardata_wrapper .cc{
	/*width:23px;*/
	height:18px;
	float:right;
	margin-top:-4px;
	margin-right:5px;
}
.listcar .cardata_wrapper div{
	padding-bottom:3px;
	margin-top:10px;
	text-align:left;

}
.listcar .cardata_wrapper div span{
	text-align:right;
	color:#ee4f54;
	float:right;
	width:80px;
	height:auto;
	word-break:break-all;
}
.listcar .contact_wrapper{
	border-bottom:4px solid #0772ba;
	overflow:auto;
	margin-top:32px;
}
.listcar .contact_sell{
	background:url(images/ca.jpg) right no-repeat;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:12px;
	text-align:right;
	font-weight:600;
	padding:2px 8px 1px;
	border-bottom:4px solid #0772ba;
	top:202px;
	left:0px;
	width:138px;
	height:23px;
	position:absolute;
	z-index:999;
}

	/* pagination */

.paginater-site{
	padding: 10px 0;
}
ul.pagination{
    display: block;
    min-height: 1.5rem; 
}
ul.pagination li{
    color: #222222;
    font-size: 14px;
    height: 1.5rem;
}
ul.pagination li a, ul.pagination li button{
    border-radius: 3px;
    transition: background-color 300ms ease-out;
    background: none;
    color: #999999;
    display: block;
    font-size: 14px;
    font-weight: normal;
	cursor:pointer;
    line-height: inherit;
    padding: 0.0625rem 0.625rem 0.0625rem; 
}
ul.pagination li:hover a,
ul.pagination li a:focus, ul.pagination li:hover button,
ul.pagination li button:focus{
    background: #e6e6e6; 
}
ul.pagination li.unavailable a, ul.pagination li.unavailable button{
    cursor: pointer;
    color: #999999; 
}
ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus, ul.pagination li.unavailable:hover button, ul.pagination li.unavailable button:focus{
    background: transparent; 
}
ul.pagination li.current a, ul.pagination li.current button{
    background: #008CBA;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold; 
}
ul.pagination li.current a:hover, ul.pagination li.current a:focus, ul.pagination li.current button:hover, ul.pagination li.current button:focus{
    background: #008CBA; 
}
ul.pagination li{
    display: block;
    float: left; 
}
.pagination-centered{
  	text-align: center; 
}
.pagination-centered ul.pagination li{
    display: inline-block;
    float: none; 
}

	/* pagination */


/* list car's seller end */


.bigger{
	font-size:14px;
	font-weight:bold;
	color:#0772ba;
	line-height:10px;
}
.smaller{
	font-size:12px;
	font-weight:normal;
	color:#3d3d3d;
	line-height:5px;
}