a.not_click {
    pointer-events: none;
}

.wrapper_seller{
	padding-top:30px;
    width: 960px;
     webkit-text-size-adjust: 100%;
}
		/*left content style start*/
		
.seller_side_bar{
	height:auto;
	margin-right:15px;
	float:left;
	border:1px solid #cacaca;
}
.seller_side_bar .seller_left{
	background-color: #f8f8f8;
	background-image: url("images/details.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 14px;
    float: left;
}
.seller_side_bar .seller_right {
	background-image: url("images/bgbar.png");
    height: 30px;
    width: 958px;
    padding-top: 4px;
}
.seller_side_bar .seller_right span{
	color: #0772ba;
   	font-size: 14px;
    font-weight: bold;
    padding-left: 9px;
    padding-top: 7px;
}

.wrapper_seller_search{
	height: auto;
}

.wrapper_seller_search select{
	height: 26px;
	width: 127px;
	margin-right: 13px;
	border:1px solid #cacaca;
	margin-top: 25px;
	margin-bottom: 14px;
	line-height: 20px;
}
.wrapper_seller_search input[type="text"]{
	height: 25px;
	width: 225px;
	margin-right: 13px;
	border:1px solid #cacaca;
	margin-top: 25px;
	margin-bottom: 14px;
	text-indent: 5px;

}
.wrapper_seller_search input[type="submit"]{
	height: 26px;
	width: 110px;
	border:none;
	margin-top: 25px;
	margin-bottom: 14px;
	color: #ffffff;
	font-size: 12px;
	cursor: pointer;
	border-radius: 3px;
	background: rgba(39,161,98,1);
	background: -moz-linear-gradient(top, rgba(39,161,98,1) 0%, rgba(9,148,76,1) 50%, rgba(0,144,70,1) 89%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(39,161,98,1)), color-stop(50%, rgba(9,148,76,1)), color-stop(89%, rgba(0,144,70,1)));
	background: -webkit-linear-gradient(top, rgba(39,161,98,1) 0%, rgba(9,148,76,1) 50%, rgba(0,144,70,1) 89%);
	background: -o-linear-gradient(top, rgba(39,161,98,1) 0%, rgba(9,148,76,1) 50%, rgba(0,144,70,1) 89%);
	background: -ms-linear-gradient(top, rgba(39,161,98,1) 0%, rgba(9,148,76,1) 50%, rgba(0,144,70,1) 89%);
	background: linear-gradient(to bottom, rgba(39,161,98,1) 0%, rgba(9,148,76,1) 50%, rgba(0,144,70,1) 89%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27a162', endColorstr='#009046', GradientType=0 );


}
.wrapper_seller_list{
	width: 960px;
	padding:0;
}
.wrapper_seller_list .wrapper_box{
	height: 204px;
	width: 960px;
}
.wrapper_seller_list .box_seller{
	min-height: 204px;
	border:1px solid #cacaca;
	width: 311px;
    float: left;
    margin-right: 13px;
    margin-bottom: 15px;
}
.wrapper_seller_list  .box_seller:nth-child(3n+0){
 margin-right: 0px;
}

.box_seller .box_seller_head{ 
	width: 100%;
	background-color: #e6f1f8;
	border-bottom: 1px solid #cacaca;
	text-align: center;
	height: 27px;
}
.box_seller .box_seller_head span{ 
	margin-top: 20px;
	font-size: 14px;
	color:#0772ba;
	font-weight: bold;

}
.box_seller .box_seller_center{
	height: 143px;
}
.box_seller .box_seller_center .box_seller_image{
	width: 103px;
	height: auto;
    border:1px solid #cacaca;
    height: 70px;
    float: left;
    margin: 5px 5px;
}
.box_seller .box_seller_center .box_seller_image img{
	width: 100%;
	height: 68px;
}
.box_seller .box_seller_center .seller_contact{
	float: right;
}
.box_seller_center .seller_contact span{
	color:#0772ba;
	font-size: 12px;
	font-weight: bold;
}

.box_seller_center .seller_contact .contact_person{
	float:left;
	width:90px;
	font-size: 12px;
}
.box_seller_center  .seller_contact .contact_addr_country{
	float:left;
	width:132px;
	font-size: 12px;
}
.box_seller_center  .seller_contact  .float_left{
	float: left;
}

 .box_seller_center  .seller_contact  p{
	color:#333333;
	font-size: 12px;
	margin-top: 5px;
	margin-left: 2px;
	margin-right: 2px;
	-ms-word-break:break-all;
	margin-bottom: 0;
	-webkit-text-size-adjust: 100%;

}

.box_seller .box_seller_bottom{
	height: 31px;
	margin-top: 5px 5px;
	width: 100%;
}
.box_seller_bottom .seller_bottom_left{
	width: 180px;
	float: left;
}
.box_seller_bottom .seller_bottom_left span{
	color: #ff0000;
	font-size: 12px;
}
.box_seller_bottom .seller_bottom_left p{
	 color: #323131;
    float: left;
    font-size: 12px;
    padding-left: 10px;
	 -webkit-text-size-adjust: 100%;
}
.box_seller_bottom  .seller_bottom_right{
	width: 112px;
	height: 20px;
	float: right;
	margin-right: 9px;
}
.box_seller_bottom  .seller_bottom_right a{
	text-decoration:none;
}
.seller_bottom_right input[type="button"]{
	width: 110px;
	height: 25px;
	color: #ffffff;
	font-size: 11.67px;
	border:none;
	border-radius: 3px;
	cursor: pointer;
	background: rgba(54,141,199,1);
	background: -moz-linear-gradient(top, rgba(54,141,199,1) 0%, rgba(54,141,199,1) 50%, rgba(7,115,186,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(54,141,199,1)), color-stop(50%, rgba(54,141,199,1)), color-stop(100%, rgba(7,115,186,1)));
	background: -webkit-linear-gradient(top, rgba(54,141,199,1) 0%, rgba(54,141,199,1) 50%, rgba(7,115,186,1) 100%);
	background: -o-linear-gradient(top, rgba(54,141,199,1) 0%, rgba(54,141,199,1) 50%, rgba(7,115,186,1) 100%);
	background: -ms-linear-gradient(top, rgba(54,141,199,1) 0%, rgba(54,141,199,1) 50%, rgba(7,115,186,1) 100%);
	background: linear-gradient(to bottom, rgba(54,141,199,1) 0%, rgba(54,141,199,1) 50%, rgba(7,115,186,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#368dc7', endColorstr='#0773ba', GradientType=0 );
}
.clear{
	clear: both;
}

.pagination{
 	text-align: center;
}

.pagination ul.paginnav{
	display: inline-flex;
    margin-top: 52px;
    padding: 0;
    margin-bottom: 30px;
}

.pagination ul li{
	float: left;
    list-style: outside none none;
    margin-left: 10px;
}

.pagination ul li a{
	text-decoration: none;
	color: #666666;
	font-size: 14px;
	cursor: pointer;
}

.pagination ul li.current{
	background-color: #008cba;
    border-radius: 2px;
    padding: 0 5px;
}

.pagination ul li.current>a{
	color: #fff;

}
