.about_us_map{

}

.about_us_map img{
	width: 100%;
	height: 548px;
}

.main_content_about_us .header_about_us{
	background-image: url("../../images/public_site/bgbar.png");
	border-bottom: 1px solid #cacaca;
	border: 1px solid #cacaca;
	height: 32px;
    width: 958px;
    margin-bottom: 25px;
}

.main_content_about_us .header_about_us .header_left_about_us{
	 background-color: #f8f8f8;
	background-image: url("../../images/public_site/details.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 14px;
    float: left;
}

.main_content_about_us .header_about_us .header_right_about_us{
	
    float: left;
    height: 30px;
    width: 920px;;
}

.main_content_about_us .header_about_us .header_right_about_us p{
   	color: #0772ba;
   	font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding-left: 9px;
    padding-top: 5px;
}

.main_content_about_us{
	margin-top: 13px;
}
.w_appreciate{
	border: 1px solid #ccc;
	padding-top: 38px;
	padding-left: 28px;
}
.apreciate{
	margin-bottom: 7px;
	color: #0772ba;
	font-size: 18px;
	font-weight: bold;
}
.date_times{
	font-size: 12px;
	color: #666;
	margin-bottom: 24px;
}
.date{
	margin-right: 15px;
}
.img_flage{
	vertical-align: middle;
	margin-right: 5px;
}
.w_image{
	margin-bottom: 10px;
    overflow: hidden;
}
.w_text{
	margin-bottom: 100px;
    overflow: hidden;
}
.image_left{
	float: left;
	margin-right: 10px;
	font-size: 14px;
	color: #1a1a1a;
}
.image_right{
	float: left;
}
.w_footer{
	background: #e9eaed;
	border-top: 1px solid #ccc;
    color: #0772ba;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    margin: 0 0 0 -28px;
    padding-left: 28px;
    padding-top: 10px;
}
.footer_mrs{
	float: left;
	width: 210px;
}
.footer_tel{
	float: left;
	width: 145px;
}
.footer_email{
	float: left;
}