@CHARSET "UTF-8";

/* --------------------
 * @Layout
 */

html {
  overflow: hidden;
}

body, #jsspec_container {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

#title {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px;    
  left: 0px;
  width: 100%;
  height: 40px;
  overflow: hidden;
}

#list {
  padding: 0;
  margin: 0;
  position: absolute;    
  top: 40px;
  left: 0px;
  bottom: 0px;
  overflow: auto;    
  width: 250px;    
  _height:expression(document.body.clientHeight-40);
}

#log {
  padding: 0;
  margin: 0;
  position: absolute;    
  top: 40px;
  left: 250px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  _height:expression(document.body.clientHeight-40);
  _width:expression(document.body.clientWidth-250);
}



/* --------------------
 * @Decorations and colors
 */
* {
	padding: 0;
	margin: 0;
	font-family: "Lucida Grande", Helvetica, sans-serif;
}

li {
	list-style: none;
}

/* hiding subtitles */
h2 {
	display: none;
}

/* title section */
div#title {
	padding: 0em 0.5em;
}

div#title h1 {
	font-size: 1.5em;
	float: left;
}

div#title ul li {
	float: left;
	padding: 0.5em 0em 0.5em 0.75em;
}

div#title p {
	float:right;
	margin-right:1em;
	font-size: 0.75em;
}

/* spec container */
ul.specs {
	margin: 0.5em;
}
ul.specs li {
	margin-bottom: 0.1em;
}

/* spec title */
ul.specs li h3 {
	font-weight: bold;
	font-size: 0.75em;
	padding: 0.2em 1em;
	cursor: pointer;
	_cursor: hand;
}

/* example container */
ul.examples li {
	border-style: solid;
	border-width: 0px 0px 1px 5px;
	margin: 0.2em 0em 0.2em 1em;
}

/* example title */
ul.examples li h4 {
	font-weight: normal;
	font-size: 0.75em;
	margin-left: 1em;
}

pre.examples-code {
	margin: 0.5em 2em;
    padding: 0.5em;
    background: white;
    border: solid 1px #CCC;
}

/* example explaination */
ul.examples li div {
	padding: 1em 2em;
	font-size: 0.75em;
}

/* styles for ongoing, success, failure, error */
div.success, div.success a {
	color: #FFFFFF;
	background-color: #65C400;
}

ul.specs li.success h3, ul.specs li.success h3 a {
	color: #FFFFFF;
	background-color: #65C400;
}

ul.examples li.success, ul.examples li.success a {
	color: #3D7700;
	background-color: #DBFFB4;
	border-color: #65C400;
}

div.exception, div.exception a {
	color: #FFFFFF;
	background-color: #C20000;
}

ul.specs li.exception h3, ul.specs li.exception h3 a {
	color: #FFFFFF;
	background-color: #C20000;
}

ul.examples li.exception, ul.examples li.exception a {
	color: #C20000;
	background-color: #FFFBD3;
	border-color: #C20000;
}

div.ongoing, div.ongoing a {
	color: #000000;
	background-color: #FFFF80;
}

ul.specs li.ongoing h3, ul.specs li.ongoing h3 a {
	color: #000000;
	background-color: #FFFF80;
}

ul.examples li.ongoing, ul.examples li.ongoing a {
	color: #000000;
	background-color: #FFFF80;
	border-color: #DDDD00;
}



/* --------------------
 * values
 */
.number_value, .string_value, .regexp_value, .boolean_value, .dom_value {
	font-family: monospace;
	color: blue;
}
.object_value, .array_value {
	line-height: 2em;
	padding: 0.1em 0.2em;
	margin: 0.1em 0;
}
.date_value {
	font-family: monospace;
	color: olive;
}
.undefined_value, .null_value {
	font-style: italic;
	color: blue;
}
.dom_attr_name {
}
.dom_attr_value {
	color: red;
}
.dom_path {
	font-size: 0.75em;
	color: gray;
}
strong {
	font-weight: normal;
	background-color: #FFC6C6;
}