@charset "utf-8";
@import url(default.css);

/* Type Selector */
body {width:100%; margin:0px; padding:0px; height: 32px; font-family:Arial, sans-serif; font-size:12px; /*line-height:1.6em;*/ color:#333333;}

/* //Type Selector */

/* Layout Selector width:1076px */
div {
    box-sizing: border-box;
}
#wrap {width:100%;}
#header {width:100%;height:130px; background:url(/images/admin/bg.png) center top  repeat-x ;}

.top_head_with_logo{

}

/*@media (min-width: 1100px) {
.logo {width:221px; height:44px; padding:20px 0px 0px 0px; text-align:center; float:left;}
.gnb {padding:28px 0px 0px 0px; float:left;}
.gnb ul.menu1 {}
.gnb ul.menu1 li {width:119px; height:36px; float:left; text-align:center; font-weight:bold; line-height:3em; background-image:url(/images/admin/nv_bg.gif);}
.gnb ul.menu1 li a:link {color:#ffffff; text-decoration:none; font-size:14px; font-family:Malgun Gothic, sans-serif; letter-spacing:1px;}  
.gnb ul.menu1 li a:visited {color:#ffffff; text-decoration:none; font-size:14px; font-family:Malgun Gothic, sans-serif; letter-spacing:1px;}
.gnb ul.menu1 li a:hover {color:#619f22; font-weight:bold; text-decoration:none; font-size:14px; font-family:Malgun Gothic, sans-serif; letter-spacing:1px;}
.gnb ul.menu1 li a:active {color:#619f22; font-weight:bold; text-decoration:none; font-size:14px; font-family:Malgun Gothic, sans-serif; letter-spacing:1px;}
.gnb ul.menu1 li.menu_section{width:3px;}
}

@media (max-width: 1099px) {
.logo {width:200px; height:44px; padding:10px 0px 0px 0px; text-align:center; float:left;}
.gnb {padding:13px 0px 0px 0px;}
.gnb ul.menu1 {}
.gnb ul.menu1 li {width:100px; height:36px; float:left; text-align:center; font-weight:bold; line-height:3em; background-image:url(/images/admin/nv_bg.gif);}
.gnb ul.menu1 li a:link {color:#ffffff; text-decoration:none; font-size:14px; font-family:Malgun Gothic, sans-serif; letter-spacing:1px;}  
.gnb ul.menu1 li a:visited {color:#ffffff; text-decoration:none; font-size:14px; font-family:Malgun Gothic, sans-serif; letter-spacing:1px;}
.gnb ul.menu1 li a:hover {color:#619f22; font-weight:bold; text-decoration:none; font-size:14px; font-family:Malgun Gothic, sans-serif; letter-spacing:1px;}
.gnb ul.menu1 li a:active {color:#619f22; font-weight:bold; text-decoration:none; font-size:14px; font-family:Malgun Gothic, sans-serif; letter-spacing:1px;}
.gnb ul.menu1 li.menu_section{width:3px;}
}*/

.logo {/*width:221px;*/ height:50px;text-align:center; float:left;margin-left:23px; margin-top: 10px;}
.gnb { padding-top: 20px; }
.gnb ul.menu1 { display: inline-block;width: 100%; background:rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(181, 189, 200, 1) 0%, rgba(81, 81, 81, 1) 1%, rgba(68, 66, 68, 1) 29%, rgba(54, 54, 54, 1) 69%, rgba(40, 52, 59, 1) 100%) repeat scroll 0 0;}
.gnb ul.menu1 li { width: 11%;float:left; text-align:center; font-weight:bold; line-height: 2.7em;/*  background-image:url(/images/admin/nv_bg.gif); */ background: #background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(81,81,81,1) 1%, rgba(68,66,68,1) 29%, rgba(54,54,54,1) 69%, rgba(40,52,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(1%,rgba(81,81,81,1)), color-stop(29%,rgba(68,66,68,1)), color-stop(69%,rgba(54,54,54,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(81,81,81,1) 1%,rgba(68,66,68,1) 29%,rgba(54,54,54,1) 69%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(81,81,81,1) 1%,rgba(68,66,68,1) 29%,rgba(54,54,54,1) 69%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(81,81,81,1) 1%,rgba(68,66,68,1) 29%,rgba(54,54,54,1) 69%,rgba(40,52,59,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(81,81,81,1) 1%,rgba(68,66,68,1) 29%,rgba(54,54,54,1) 69%,rgba(40,52,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
 no-repeat;}
.gnb ul.menu1 li a:link {color:#ffffff; text-decoration:none; font-size:14px; font-family:Malgun Gothic, sans-serif; letter-spacing:1px;}  
.gnb ul.menu1 li a:visited {color:#ffffff; text-decoration:none; font-size:14px; font-family:Malgun Gothic, sans-serif; letter-spacing:1px;}
.gnb ul.menu1 li a:hover {color:#619f22; font-weight:bold; text-decoration:none; font-size:14px; font-family:Malgun Gothic, sans-serif; letter-spacing:1px;}
.gnb ul.menu1 li a:active {color:#619f22; font-weight:bold; text-decoration:none; font-size:14px; font-family:Malgun Gothic, sans-serif; letter-spacing:1px;}
.gnb ul.menu1 li.menu_section{width:1px;}

#container {width:100%; padding-top:20px; clear:left; overflow: auto;}
.snb {width:221px; float:left;}
/* snb status */
div.snb_status {width:181px; padding:0px 20px 0px 20px; text-align:center;}
div.snb_status .status_box_top {width:181px;}
div.snb_status .status_box_top .bg_top_left {float:left; width:2px; height:2px;}
div.snb_status .status_box_top .bg_top_center {float:left; width:177px; height:2px; background-image:url(/images/admin/left_box_bg_01_top.gif);}
div.snb_status .status_box_top .bg_top_right {float:right; width:2px; height:2px;}

div.snb_status .status_box_middle {width:171px; border-left:1px solid #4b4b4b; border-right:1px solid #4b4b4b; padding:0px 4px 0px 4px; background-color:#0e0e0e;}
div.snb_status .status_box_middle .text {text-align:left; color:#666666; line-height:18px; padding:8px 0px 5px 9px;}
div.snb_status .status_box_middle .line {padding:0px 2px 0px 2px; height:2px; background-image:url(/images/admin/bg_line_01.gif);}
div.snb_status .status_box_middle .btn {padding:10px 0px 10px 0px;}

div.snb_status .status_box_bottom {width:181px;}
div.snb_status .status_box_bottom .bg_bottom_left {float:left; width:2px; height:2px;}
div.snb_status .status_box_bottom .bg_bottom_center {float:left; width:177px; height:2px; /*background-image:url(/images/admin/left_box_bg_01_bottom.gif); */}
div.snb_status .status_box_bottom .bg_bottom_right {float:left; width:2px; height:2px;}
/* //snb status */

/* snb menu */
div.snb_menu {width:181px; padding:20px 20px 0px 20px; text-align:center;}
div.snb_menu .menu_box_top {width:181px;}
div.snb_menu .menu_box_top .bg_top_left {float:left; width:2px; height:2px;}
div.snb_menu .menu_box_top .bg_top_center {float:left; width:177px; height:2px; background-image:url(/images/admin/left_box_bg_02_top.gif);}
div.snb_menu .menu_box_top .bg_top_right {float:right; width:2px; height:2px;}
              
div.snb_menu .menu_box_middle {width:171px; border-left:1px solid #4a4c4b; border-right:1px solid #4a4c4b; padding:5px 4px 0px 4px; background-color:#2c2c2c;}
div.snb_menu .menu_box_middle .title {text-align:left; color:#ffffff; font-size:16px; line-height:2.7em; font-weight:bold; width:153px; height:46px; padding:0px 0px 0px 14px; background-image:url(/images/admin/left_title_bg.gif);}
div.snb_menu .menu_box_middle .menu_list {padding:10px 0px 12px 14px;}
div.snb_menu .menu_box_middle .menu_list ul {}
div.snb_menu .menu_box_middle .menu_list ul li {text-align:left; padding-bottom:2px;}

div.snb_menu .menu_box_middle .menu_list ul li.menu a:link {color:#ffffff; font-weight:bold; text-decoration:none; background:url(/images/admin/list_dot.gif) no-repeat 0px 50%; padding-left:7px;}  
div.snb_menu .menu_box_middle .menu_list ul li.menu a:visited {color:#ffffff; font-weight:bold; text-decoration:none; background:url(/images/admin/list_dot.gif) no-repeat 0px 50%; padding-left:7px;}
div.snb_menu .menu_box_middle .menu_list ul li.menu a:hover {color:#619f22; font-weight:bold; text-decoration:none; background:url(/images/admin/list_dot.gif) no-repeat 0px 50%; padding-left:7px;}
div.snb_menu .menu_box_middle .menu_list ul li.menu a:active {color:#619f22; font-weight:bold; text-decoration:none; background:url(/images/admin/list_dot.gif) no-repeat 0px 50%; padding-left:7px;}
div.snb_menu .menu_box_middle .menu_list ul li.sub_menu a:link {color:#ffffff; font-size:11px; text-decoration:none; padding-left:10px;}  
div.snb_menu .menu_box_middle .menu_list ul li.sub_menu a:visited {color:#ffffff; font-size:11px; text-decoration:none; padding-left:10px;}
div.snb_menu .menu_box_middle .menu_list ul li.sub_menu a:hover {color:#f9760b; font-size:11px; text-decoration:none; padding-left:10px;}
div.snb_menu .menu_box_middle .menu_list ul li.sub_menu a:active {color:#f9760b; font-size:11px; text-decoration:none; padding-left:10px;}
           
div.snb_menu .menu_box_bottom {width:181px;}
div.snb_menu .menu_box_bottom .bg_bottom_left {float:left; width:2px; height:2px;}
div.snb_menu .menu_box_bottom .bg_bottom_center {float:left; width:177px; height:2px; background-image:url(/images/admin/left_box_bg_02_bottom.gif);}
div.snb_menu .menu_box_bottom .bg_bottom_right {float:left; width:2px; height:2px;}
/* //snb menu */

/* contents */
.contents {width:100%; float:left;}
div.contents .contents_box_top {width:855px;}
div.contents .contents_box_top .bg_top_left {float:left; width:2px; height:2px;}
div.contents .contents_box_top .bg_top_center {float:left; width:851px; height:2px;  /*background-image:url(/images/admin/con_box_bg_01_top.gif) */}
div.contents .contents_box_top .bg_top_right {float:right; width:2px; height:2px;}
              
div.contents .contents_box_middle {width:100%; border-left:1px solid #ffffff; border-right:1px solid #ffffff; padding:14px 14px 14px 14px; background-color:#ffffff;}
div.contents .contents_box_middle h1.title { margin-top: 0; font-size:14px; text-align: left; line-height:18px; padding:0px 0px 4px 11px; border-bottom:1px solid #eaeaea; background:url(/images/admin/con_title_icon.gif) no-repeat 0px 10%;}
div.contents .contents_box_middle .gcm_msg{ overflow:auto}
div.contents .contents_box_middle .gcm_msg a{ float:right; margin: 10px 10px 10px 0px; font-size:12px; background-color:#61a222;
color:#FFF; padding:5px 15px; border-radius:5px; border:1px solid #4b8117}
.message{ margin: 10px 10px 10px 0px; font-size:12px; background-color:#61a222;
color:#FFF; padding:5px 15px; border-radius:5px; border:1px solid #4b8117
} 

div.contents .contents_box_middle .devices{width:100%;margin:0;padding:0}
div.contents .contents_box_middle .devices li{width:400px;height:auto;list-style: none;border: 1px solid #dedede;padding: 10px;
margin: 0 15px 25px 0;border-radius: 3px;-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #555;}
div.contents .contents_box_middle .devices li textarea{border-radius:5px;padding:10px;width:380px;border:1px solid #62a728}
div.contents .contents_box_middle .devices li .send_btn{ margin: 10px 10px 10px 0px; font-size:12px; background-color:#61a222;color:#FFF; padding:5px 15px; border-radius:4px; border:1px solid #4b8117; margin-left:10px;}
div.contents .contents_box_middle .devices li .send_btn:hover{background:#477d13} 
/* 팁(Tip) 박스 */
div.tip_box {background-color:#f4f4f4; margin-top:25px; padding:5px 0px;}
div.tip_box p.title {padding:2px 0px 4px 15px;}
div.tip_box ul {margin:0px 12px; text-align:left; color:#333333; background-color:#ffffff; border:1px solid #ededed;}
div.tip_box ul li {font-size:11px; padding:1px 10px 1px 10px;}

/*-------CM information admin/write.php*/
div.cminfor_box { background-color:#none; margin-top:10px; padding:5px 5px;}
div.memo {width:100%; padding-top:5px; padding-bottom:10px;}

/* 설정 영역 */
div.controll_area {text-align:right; padding:10px 0px 0px 0px;}
/* 게시판 ;검색 */
div.search_box {background-color:#f4f4f4; border:1px solid #d7d7d7; padding:3px 3px 3px 3px; margin:0px 0px 25px 0px;width:100%;float: left;}
.search_box .search_result {float:left; padding:2px 0px 2px 10px; width:99%; background-color:#ffffff; color:#666666; line-height:18px;}
.search_box .search_result .title {font-weight:bold; color:#60a023;}
.search_box .search_condition {text-align:right; padding:4px 10px 4px 0px; background-color:#ffffff;}
.header_button {text-align:center;background-color:#f4f4f4; border:1px solid #d7d7d7; margin:0px 0px 25px 0px;width:100%;float: left;}
.wrapper_header_btn{ float: left; border-right: 1px solid #d7d7d7; padding: 20px 20px;}
.wrapper_header_btn:last-child{ border-right: none}
.wrapper_header_btn div{ float: left; margin: 0px 17px; text-align: center;}
.wrapper_header_btn div a img{ width:30px; height: 30px; margin-bottom: 5px}
.wrapper_header_btn div a:hover{text-decoration: underline;}
/* 테이블 리스트 */
div.table_list_box {width:100%; padding:0px 0px;}
div.table_list_box h1.table_title {font-size:12px; text-align:left; line-height:18px; font-weight:bold; padding:0px 0px 5px 18px; background:url(/images/admin/con_stitle_icon.gif) no-repeat 0px 20%;}
table.table_list {width:100%; border-spacing:0px; float: left;}
table.table_list caption.hidden {position:absolute; visibility:hidden; overflow:hidden; height:0px; width:0px; font-size:0px;}
table.table_list tr {}
table.table_list tr:hover {background-color:#ededed;}
table.table_list th {height:34px; color:#ffffff; font-weight:bold; background:url(/images/admin/board_bar_bg.gif) repeat-x;}
table.table_lists th {color:#ffffff; font-weight:bold; background:url(/images/admin/board_bar_bg.gif) repeat-x;}
table.table_list th.line {background:url(/images/admin/board_bar_bg.gif); width:2px;}
table.table_list td {height:27px; text-align:center; color:#333333; border-bottom:1px solid #d7d7d7;}
table.table_list td.line {width:2px;}
table.table_list td.no_data {text-align:center; padding:10px 0px 10px 0px;}
div.table_list_box .page_navi {width:100%; float:left; margin-top:10px; text-align:center; background-color:#f4f4f4; border:#d7d7d7 1px solid; color:#999999; font-size:12px; padding:5px 0px 5px 0px;}
div.table_list_box .btn_area_center {width:100%; padding:10px 0px 10px 0px; text-align:center; float:left;}
.btn_area_right {width:50%;float:left; text-align: right;}
div.table_list_box .btn_area_center .btn_area_left { width:50%; text-align:left; float:left;}
div.table_list_box .contents_box {margin-top:10px; text-align:center; background-color:#f4f4f4; border:#d7d7d7 1px solid; padding:5px 0px 5px 0px;}
div.table_list_box .contents_box .contents_img {border:1px solid #ededed; margin-top:5px;}
div.table_list_box .contents_box .contents_text {text-align:center; padding:10px 0px 10px 0px;}

/* 테이블 상세 */
div.table_view_box {width:100%; padding:20px 0px;}
div.table_view_box h1.table_title {font-size:12px; text-align:left; line-height:18px; font-weight:bold; padding:0px 0px 5px 18px; background:url(/images/admin/con_stitle_icon.gif) no-repeat 0px 20%;}
table.table_view_box {width:100%; border-spacing:0px; border-top:1px solid #60a123; border-left:1px solid #d7d7d7;}
table.table_view_box caption.hidden {position:absolute; visibility:hidden; overflow:hidden; height:0px; width:0px; font-size:0px;}
table.table_view_box tr {}
table.table_view_box th {border-bottom:1px solid #d7d7d7; border-right:1px solid #d7d7d7; color:#777777; background-color:#f4f4f4;}
table.table_view_box td {border-bottom:1px solid #d7d7d7; border-right:1px solid #d7d7d7; color:#777777; padding-left:10px;}
table.table_view_box th.key_01   {height:27px; text-align:left; color:#777777; font-weight:bold; font-size:12px; padding-left:10px;}
table.table_view_box td.value_01 {height:27px; color:#333333; font-size:12px;}
table.table_view_box td.value_01 span {padding:0px 0px 0px 5px; color:#1e49b1; font-size:11px;}
/* table.table_write td span {font-size:11px; padding:0px 0px 0px 5px; color:#e85716;}*/
div.table_view_box .btn_area_center {width:100%; padding:10px 0px 10px 0px; text-align:center;}

/* 댓글 */
.comment {width:100%;}
.comment .text {padding:17px 0 3px 3px; _padding:18px 0 2px 3px; font-weight:bold;}
/* 실제width-2px, padding-38px */
.comment .box { border:solid 1px #cccccc; padding:10px 19px 19px 19px;}
.comment .body1 {padding:3px 0px;}
.comment .body2 {padding-bottom:3px; border-bottom:1px dotted #cccccc;}
.comment .body3 {padding:0px 0 3px 7px; background:url(/images/admin/bg_dot_line_02.gif) repeat-x;}
.comment .body4 {padding-left:22px;}
.comment .reply {padding-top:3px; .padding-top:0;}
/*.comment .write1 {padding-top:17px; background:url(/images/admin/bg_dot_line_02.gif) repeat-x;}*/
.comment .write1 {padding-top:17px;}





/* 테이블 등록 */
table {width:100%;}
div.table_write_box {width:100%; padding:20px 0px;}
div.table_write_box h1.table_title {font-size:12px; text-align:left; line-height:18px; font-weight:bold; padding:0px 0px 5px 18px; background:url(/images/admin/con_stitle_icon.gif) no-repeat 0px 20%;}
div.customer_container h1.table_title {font-size:12px; text-align:left; line-height:18px; font-weight:bold; padding:0px 0px 5px 18px; background:url(/images/admin/con_stitle_icon.gif) no-repeat 0px 20%;}

table.table_write {width:100%; border-spacing:0px; border-top:1px solid #60a123; border-left:1px solid #d7d7d7;  border-right:1px solid #d7d7d7;}
table.table_write caption.hidden {position:absolute; visibility:hidden; overflow:hidden; height:0px; width:0px; font-size:0px;}
table.table_write tr {}
/* table.table_write th {height:30px; border-bottom:1px solid #d7d7d7; border-right:1px solid #d7d7d7; color:#777777; background:url(/images/admin/board_line_bg.gif) repeat-x;} */
/*table.table_write th {height:30px; border-bottom:1px solid #d7d7d7; border-right:1px solid #d7d7d7; color:#777777; background-color:#f4f4f4;}
table.table_write td {height:25px; border-bottom:1px solid #d7d7d7; border-right:1px solid #d7d7d7; color:#777777; padding-left:10px;}
table.table_write th.title {background-color:#d0e9ff; height:30px; text-align:left; color:#777777; font-weight:bold; font-size:12px; padding-left:10px;}
table.table_write td.title {background-color:#d0e9ff; font-size:12px; }
table.table_write td.key {color:#1e49b1; font-weight:normal; font-size:11px;}
table.table_write td.value {font-size:11px;}
table.table_write td.value span {padding:0px 0px 0px 5px; color:#e85716; font-size:11px;}
table.table_write th.key_01 {height:30px; text-align:left; color:#777777; font-weight:bold; font-size:12px; padding-left:5px;}
table.table_write th.key_02 {height:27px; text-align:left; color:#777777; font-weight:bold; font-size:12px; padding-left:10px;}
table.table_write td.value_01 {height:30px; font-size:12px;}
table.table_write td.value_02 {height:27px; font-size:12px;}
table.table_write td.value_01 .title {color:#e85716; font-weight:bold; font-size:12px;}
table.table_write td.value_01 span {padding:0px 0px 0px 5px; color:#1e49b1; font-size:11px;}
table.table_write td.value_02 span.text {padding:0px 0px 0px 3px; color:#1e49b1; font-size:11px;}
table.table_write td.value label {cursor:hand;}
table.table_write td table.sub_table_write td {border:none; text-align:left; padding:0px;}
*//* table.table_write td span {font-size:11px; padding:0px 0px 0px 5px; color:#e85716;}*/
<!--div.table_write_box .btn_area_center {width:100%; padding:10px 0px 10px 0px; text-align:center;}
-->
table.table_write { margin: 0px 0px 20px; border-top: 2px solid #333; }
table.table_write th {font-weight: bold; border-bottom: 1px dotted #CCC;text-align: left; padding-left:15px; background: #F7F7F7;}
.th_none{font-weight: bold; border-bottom: 1px dotted #CCC;text-align: left; padding-left:15px; }
table.table_write tr .text { padding: 5px 5px 5px 10px; border-bottom: 1px dotted #CCC; overflow: hidden; text-align: left; }
table.table_write td { border-bottom: 1px dotted #CCC; /*overflow: hidden;*/ text-align: left; padding: 5px;}
table.table_write .b_tit { width: 100%; height: 18px; border:1px solid #CCC}
table.table_write .b_text { width: 40%; height: 18px; border:1px solid #CCC }
table.table_write .text_info {text-align:left; font-size:12px; color:#000; height:30px; font-weight:bold; padding-left:15px}
table.red_point {font-size:12px; color:#f00; font-weight:bold;}
table.text_info_01 {text-align:right; font-size:12px; color:#F00; height:30px; font-weight:bold; padding-left:15px}
table.table_write .select {width:150px; height:20px; border:1px solid #CCC;}
table.table_write .inputbox {width:70px; height:18px; border:1px solid #CCC;}
table.table_write .text .check {width:100%; padding:10px 0 10px 0;}

table.table_write .text .check ul {height:20px; border:none; width:24%; float:left}
table.table_write .text .check li {float:left}
table.table_write .text .check .option {padding-left:5px;}
table.table_write tr td table.modify_image_table {width:100%;}
table.table_write tr td table.modify_image_table tr td{ padding:5px 0;}
table.table_write tr td table.modify_image_table tr td.tbl_img {width:130px;}
table.table_write tr td table.modify_image_table tr td #attach {width:80%;}
table.table_write tr td .div-image-view {width:150px;  float:left; padding:10px; position:relative;}
table.table_write tr td a.close { 
        background-color: rgba(0, 0, 0, 0.8);
        height: 20px;
        line-height: 20px;
        position: absolute;
        text-align: center;
        text-decoration: none;
        width: 20px;
		right: 0px;
		top:5px;
		
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
    }
 
table.table_write tr td a.close:before {
        color: rgba(255, 255, 255, 0.9);
        content: "X";
        font-size: 16px;
        text-shadow: 0 0px rgba(0, 0, 0, 0.9);
    }
table.table_write tr td a.close:hover {
        background-color: rgba(64, 128, 128, 0.8);
    }

div.div-img-title { padding:5px 0px; width:100%; height:20px; float:left;}


div.contents .contents_box_bottom {width:855px;}
div.contents .contents_box_bottom .bg_bottom_left {float:left; width:2px; height:2px;}
div.contents .contents_box_bottom .bg_bottom_center {float:left; width:851px; height:2px; /* background-image:url(/images/admin/con_box_bg_01_bottom.gif);*/}
div.contents .contents_box_bottom .bg_bottom_right {float:left; width:2px; height:2px;}

/* //contents */


#footer {clear:both; width:100%; height:50px; padding:10px 0px 0px 0px;}
/* footer */
.copy_right {padding:20px 0px 0px 20px;background:url(/images/admin/footer_bg.png) repeat-x; line-height:2.5em; height:60px;}
/* //footer */

/* //Layout Selector */


/* Class Selector */
.font_bold_default {font-weight:bold; color:#619f22;}


/* //Class Selector */


/*------------inpute--------*/
input#makes, input#models {background-color:#fde9f0;}
/*-------Other -------------*/
span.sp_bgblack { background-color:#000; font-size:16px; color:#FFF; padding:0 2px;}
span.sp_bgred {background-color:#F00; font-size:16px; color:#FFF; padding:0 2px;}
.upload_iframe{
	 width: 100%;
}
.order_container{
	color: #2F5908;
	font-weight: bold;
	margin-top: 5px;
	background: #E4FFCC;
	border:1px solid #8BD14A;
	padding: 5px;
	margin-bottom: 5px;
}
.order_container a{
	color: #001ECE;
}
table.table_list th a{
	color: white;
}
/*grade customer*/
.grage_no{
	padding: 0px 7px;
	border: solid 0px #000;
	overflow: hidden;
}
.potential_customer{ 
	background-image:url(/images/admin/member1.png);
		background-size: contain;
}
.just_registered {
	background-image:url(/images/admin/member.png);
		background-size: contain;
}
.regular_customer {
	background-image:url(/images/admin/member2.png);
	background-size: contain;
}


#add_invoice_popup {
    padding: 10px;
    width: 300px;
}

.popup_title {
    font-weight: bold;
    padding: 5px;
    font-size: 16px;
}

.popup_note {
    padding: 5px;
}


.invoice_input {
    padding: 5px;
}

.invoice_input input{
    padding: 5px;
    width: 260px;
}

.bottom_button_container{
	padding: 5px 0;
}
.customer_container .customer_name{
	padding: 5px;
}
.customer_container .customer_name a{
  	color: #279e5c;
    font-weight: bold;
}
.chat_support_yes{
	color: green;
}
.chat_support_no{
	color: red;
}
#btn_modify_member{
    color: #FFFFFF;
}
.area_btn_modify{
	position: absolute;
	margin-left: 38%;
	padding: 5px;
}
.bottom_btn_wrapper{
	overflow: auto;
}

.gnb .main_menu li{
	position: relative;
}

.gnb .main_menu .sub_menu{
	visibility: hidden;
	position: absolute;
	z-index: 99;
}
.gnb .main_menu  li:hover .sub_menu{
	visibility: visible;
	position: absolute;
}
.gnb .main_menu .sub_menu li{
	width: 180px;
}
/*TAB*/
.tab_container{
	background: #eee none repeat scroll 0 0;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
.tab{
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
    background: none;

    padding: 10px;
    border-bottom: none;
    cursor: pointer;
    font-weight: bold;
    color: blue;
    font-size: 14px;
}
.tab:hover{
	background: #2769BB;
	color: white;
}
.tab.selected_tab{
	background: #2769bb none repeat scroll 0 0;
    border: medium none;
    color: white;
    
    
}



.menu1.main_menu > li:last-child .sub_menu li,.menu1.main_menu > li:last-child .sub_menu {
    right: 0;
}

.top_button_container {
    float: right;
    text-align: right;
    padding: 5px;
    width: 100%;
       box-sizing: border-box;
}

.page_navi > a {
    border: 1px solid #aaa;
    padding: 5px;
}
.page_navi > strong {
    padding: 5px;
}
.btn_send_rec{
	float: left;
}

.right_container, .left_container{
	box-sizing: border-box;
}

.progress_wrapper{
	margin-top:10px;
	overflow:auto;
	width:100%; 
	padding:10px; 
	box-sizing:border-box;
	background-color:#eee;
}
.progress_bar{
	height: 30px;  /* Can be anything */
	position: relative;
	background: #bbb;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	position: relative;

}
.progress_step{
	display: block;
	width:0px;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #F28B40;
 

  position: relative;
  overflow: hidden;

}
.progress_percent{
	color: white;
    font-size: 16px;
    font-weight: bold;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 5px;
    width: 300px;
}
.select_template_label{
	float: left;
	font-size: 14px;
    line-height: 18px;
    padding-right: 10px
}
.input_select_template {
	float:left;
    background-color: #ededed;
    border: 1px solid #cccccc;
    font-size: 12px;
    height: 25px;
    margin-top: -5px;
}
/*.search_product{
	margin-right: 10px;
}*/
.input_discount {
    background-color: #ededed;
    border: 1px solid #cccccc;
    font-size: 12px;
    height: 25px;
    padding: 0 5px;
    width: 80px;
}
.input_destination_country {
	float:left;
    background-color: #ededed;
    border: 1px solid #cccccc;
    font-size: 12px;
    height: 25px;
    margin-top: -5px;
}
.input_destination_port {
	float:left;
    background-color: #ededed;
    border: 1px solid #cccccc;
    font-size: 12px;
    height: 25px;
    margin-top: -5px;
    margin-left: 5px;
}
.col_send_car{
	padding: 10px;text-align: left;
	width: 20%;
}
.input_send_car{
	padding: 5px 10px; width: 335px;
}
.select_send_car{
	padding: 5px 10px; width: 357px;
}
.select_hour{
	padding: 5px 10px;
}
.select_minute{
	padding: 5px 10px;
}
.date_schedule_am_pm{
	padding: 5px 10px;
}
.schedule_send{
	padding: 4px 10px; width: 143px;
}
.send_car_recommend{
	float: right;
	padding: 5px 0px;
}
.send_car_space{
	width: 25%;
}
input.error,
select.error,
textarea.error {
    border-color: #da1f27;
    border-width:1px;
    border-style: solid;
}
/*Rado start message negotiat*/

.getmessage_pagignation{
    
    width: 50% !important;
    padding-left: 50% !important;
}
.getmessage_pagignation ul{
	text-align: center !important;
}
.paginnav li{
	text-align: center;
}
.paginnav li a{
	padding: 5px;
	float: left;
	color: #373636;
	cursor: pointer;
}
.paginnav li a:hover{
	padding: 5px;
	color: #337ab7;
	font-size: 14px;
}
.paginnav li.active a{
	color: #00adef;
}
.contact_bold{
	font-weight: bold;
}
.ccountry{
	float:left;
	margin-right:15px;
	font-size: 10px;
}
.w_message_negotiate{
	margin-bottom: 15px !important;
	padding: 0px 3px !important;
}
.wrapp_message_negotiat{
	padding: 0 15px;
}
.icon_number{
	background: red none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    margin-top: 4px;
    padding: 0 2px;
    text-align: center;
}
.icon_number:hover{
	background: red none repeat scroll 0 0 !important;
    border-radius: 3px !important;
    color: #fff !important;
    font-size: 10px !important;
    font-weight: bold !important;
    margin-top: 4px !important;
    padding: 0 2px !important;
    text-align: center !important;
}
.message_negotiat_tradding{
	background-color: #ffffff;
    float: left;
    line-height: 20px;
    margin-right: 0.5%;
    min-height: 74px;
    padding-bottom: 5px;
    padding-top: 10px;
    text-indent: 14px;
    width: 49.5%;
}
.message_negotiat_tradding_right{
	background-color: #ffffff;
    float: left;
    min-height: 80px;
    padding-bottom: 5px;
    padding-top: 10px;
    width: 50%;
}
.message_negotiat_sender_information {
    height: auto;
    overflow: hidden;
    padding: 2px 10px 2px 0;
    width: 100%;
    font-size: 12px;
}
.message_negotiat_ssa_tradding{
	font-size: 14px;
	font-weight: bold;
}
.wrapp_message_negotiat_contact_person{
	font-size: 12px;
}
.message_negotiat_contact_person{
	font-weight: bold;
}

.email_float{
	float: left;
}
.email_floats{
	float: left;
	margin-left: 0px;
}
.email_floatss{
	float: left;
	margin-left: 10px;
}
.message_negotiat_product_info{
	font-size: 12px;
	font-weight: bold;
	color: #0772ba;
	padding: 0 10px;
}
.message_negotiat_title{
	font-size: 12px;
	float: left;
}
.message_negotiat_title_name{
	color: #0772ba;
}
.message_negotiat_product_info_image{
	float: left;
	margin-right: 10px;
}
.message_negotiat_fob{
	color: #ff0000;
	font-weight: bold;
}
.email_float_product{
	float: left;
	margin-left: 5px;
}
.wrapp_message_negotiat_proforma_invoice{
	background: #fff none repeat scroll 0 0;
    padding: 0 13px;
    text-align: center;
    width: 98.6%;
}
.message_negotiat_user_admin{
	float: left;
    font-size: 14px;
    font-weight: bold;
    padding-top: 15px;
    width: 13%;
}
.message_negotiat_message{
	float: left;
	width: 87%;
}
.wrapp_message_negotiat_user_admin{
	width: 100%;
	overflow: initial;
}
.textarea {
    border: 1px solid #cfcfcf;
    height: auto;
    line-height: 16px;
    min-height: 150px;
    padding-bottom: 0;
    padding-left: 0px;
    padding-right: 0;
    padding-top: 0;
    width: 99.4%;
}
.message_negotiat_mess{
	padding-left:15px;
}
.message_negotiat_footer{
	background: #f4f4f4 none repeat scroll 0 0;
    margin-top: 118px;
    overflow: hidden;
    padding: 5px 15px;
}
.textarea_pading_left{
	padding-left: 15px;
}
.message_negotiat_message_send{
	padding-top: 10px;
}
.message_negotiat_date{
	font-size: 12px;
	color: #808184;
}
.message_negotiat_color{
	font-size: 14px;
	font-weight: bold;
	color: #0772ba;
}
.message_negotiat_kindly{
	margin-top: 20px;
}
.message_negotiat_regards{
	margin-top: 5px;
}
.message_negotiat_contact_person_email{
	margin-top: 30px;
	background: #f4f4f4;
	overflow: hidden;
	padding: 4px 0;
	font-size: 10px;
}
.cp_user{
	font-size: 10px;
	margin-right: 5px !important;
}
.message_negotiat_message_hi{
	margin-top: 20px;
}

.textarea_color{
	border: 1px solid #ccc;
	min-height: 150px;
	padding-top: 15px;
	background: #e1eaf9;
}
.buyer{
	background: #FFF;
	border: 1px solid #ccc;
	padding-top: 15px;
}

.seller{
	background: #e1eaf9;
}
.both{
	background: #e1eaf9;
}
.textarea_pading_top{
	padding-top: 15px;
}
.message_negotiat_pagination{
	/*background-color: #f4f4f4;
    border: 1px solid #d7d7d7;*/
    color: #999999;
    float: left;
    font-size: 12px;
    margin-top: 10px;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}
.message_negotiat_pagination a{
	/*border: 1px solid #aaa;*/
    padding: 5px;
}
/*.orange{
	font-size: 11px !important;
}
.button{
	padding: 7px 10px !important;
}*/
.btn_send_rec_input{
	padding: 6px 30px !important;
}
.clear{
	clear: both;
}

/*Rado end message negotiat*/


/*========== Heng Start Message Invoice =========*/
	
.motorbb_information{

}
.motorbb_information h1{
	border-bottom: 2px solid #e6e7e8;
    font-size: 14px;
    font-weight: bold;
}
.motorbb_information .list_view{

}

.motorbb_information .list_view ul{
	
}
.motorbb_information .list_view ul li{
	
}
.motorbb_information .list_view ul li a{
	color: #0772ba;
    font-size: 12px;
    text-decoration: underline;
}
.motorbb_information .list_view ul li img{
	margin-right: 5px;
}

.customer_information{

}
.customer_information h1{
	border-bottom: 2px solid #e6e7e8;
    font-size: 14px;
    font-weight: bold;
}
.customer_information .list_view{

}

.customer_information .list_view ul{
	
}
.customer_information .list_view ul li{
	
}
.customer_information .list_view ul li a{
	color: #0772ba;
    font-size: 12px;
    text-decoration: underline;
}
.customer_information .list_view ul li img{
	margin-right: 5px;
}



.product_information{

}
.product_information h1{
	border-bottom: 2px solid #e6e7e8;
    font-size: 14px;
    font-weight: bold;
}
.product_information .list_view_product{

}
.product_information .list_view_product .table_view_product{
	border-spacing: 1px !important;
	border-collapse: separate;
	font-size: 12px;
	margin-bottom: 10px;
}
.product_information .list_view_product .table_view_product tr{

} 

.product_information .list_view_product .table_view_product tr td.title{
	background-color: #e1eaf9;
    font-weight: bold;
    padding: 15px;
    text-align: right;
    width: 25%;
}
.product_information .list_view_product .table_view_product tr td.value{
	padding: 0px 10px;
}
.product_information .list_view_product .table_view_product tr td.value label{
	margin-right: 5px;
}
.product_information .list_view_product .table_view_product tr td.value .field_text{
	margin-right: 5px;
	padding: 5px;
    width: 86px;
}
.label{
	font-weight: normal !important;
	color: #373636 !important;
	font-size: 12px !important;
}
.select_long {
    height: 25px;
    line-height: 21px;
    margin-bottom: 12px;
    margin-right: 15px;
    margin-top: 10px;
    width: 218px;
}
.select_longs{
	height: 25px;
    line-height: 21px;
    margin-bottom: 12px;
    margin-right: 15px;
    margin-top: 10px;
    width: 70px;
}
.text_box_long {
    height: 23px;
    padding-left: 3px;
    width: 218px;
}
.but_confirm_cancel{
    font-size: 12px;
    margin-top: 10px;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}
.btn_cancel{
	font-size: 14px;
	font-weight: normal;
}
.btn_confirm{
	padding: 8px 30px !important;
}
.btn_confirms{
	padding: 7px 30px !important;
}

/*========== Heng end Message Invoice =========*/



/* style page negotiate*/

.wrap_content_negotiate{
	margin-top:20px;
	border:1px solid #d1d3d4;
}
.wrap_content_negotiate th{
    background: #22222a none repeat scroll 0 0;
    color: #fff;
    font-weight: normal;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    vertical-align: top;
	border-right:1px solid #81818d;
}
.wrap_content_negotiate td{
	border-right:1px solid #d1d3d4;
	border-bottom:1px solid #d1d3d4;
}

td .check, td .sender_info, td .pro_detail, td .stat, td .perform{
	margin:10px;
	min-height:90px;
	height:auto;
	text-align:center;
}
.pro_detail .car_img{
	float:left;
	width:125px;
	height:auto;
	margin-right:10px;
}
.pro_detail .car_img img{
	width:125px;
	height:94px;
}
.pro_detail .source_car{
	float:left;
	width:260px;
	height:auto;
	text-align:left;
}
.wrap_content_negotiate .stat{
	width:430px;
	overflow:auto;
	height:auto;
}
.wrap_content_negotiate .stat div{
	float:left;
	margin-left:45px;
	text-align:center;
}
.image_off, #status:hover .image_on{
   display:none
}
.image_on, #status:hover .image_off{
   display:block
}
.wrap_content_negotiate .perform .msg{
	padding:6px 27px !important;
	color:#fff;
	border:1px solid #4e9ec1;
	font-size:11px !important;

}
.wrap_content_negotiate .perform .per_invoice{
	padding:6px 8px !important;
	color:#fff;
	border:1px solid #e7972f;
}

/* style page negotiate*/

.success_row.ignore_update_row{
	 background: #ccc none repeat scroll 0 0;
}
.download_invoice {
    background: rgba(0, 0, 0, 0) url("../../images/admin/xlsx.gif") no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    margin-left: 5px;
    width: 25px;
}

/** SHIPPING PAGES ***/
.shipping_charge_table td{
	text-align: left;
	border: 1px solid #eee;

}
.shipping_edit_container{
	background: #eee none repeat scroll 0 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    width: 800px;
}
.shipping_edit_table{
	padding: 20px;
    width: 100%;
    margin: auto;

}
.shipping_edit_table td, .shipping_edit_table th{
	padding: 5px;
	text-align: left;
	border-bottom: 1px dotted #ccc;
}
.shipping_edit_table tr:last-child td, .shipping_edit_table tr:last-child th{
	padding: 5px;
	text-align: left;
	border-bottom: none;
}
.shipping_edit_table select, .shipping_edit_table input[type="text"]{
    padding: 5px;
}
.shipping_edit_table .model_group, .shipping_edit_table .body_type_group {
	background-color: white;
    padding: 10px;
    max-height: 200px;
    overflow: auto;
}
#model_list_table td{
	border-bottom: 1px solid #eee;
	padding:2px;
}
/*** VIEW SHIPPING ***/
.shipping_view_container{
	background: #eee none repeat scroll 0 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    width: 800px;
}
.shipping_view_table{
	padding: 20px;
    width: 100%;
    margin: auto;

}
.shipping_view_table td, .shipping_view_table th{
	padding: 5px;
	text-align: left;
	border-bottom: 1px dotted #ccc;
}
.shipping_view_table tr:last-child td, .shipping_view_table tr:last-child th{
	padding: 5px;
	text-align: left;
	border-bottom: none;
	width: 50%;
}
.shipping_view_table tr:last-child td a{
	color: #FFFFFF;
	font-weight: bold;
	float: right;
}
.shipping_port_edit_container{
	background: #eee none repeat scroll 0 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    width: 800px;
}
.shipping_port_edit_table{
	padding: 20px;
    width: 100%;
    margin: auto;

}
.shipping_port_edit_table td, .shipping_port_edit_table th{
	padding: 5px;
	text-align: left;
	border-bottom: 1px dotted #ccc;
}
.shipping_port_edit_table tr:last-child td, .shipping_port_edit_table tr:last-child th{
	padding: 5px;
	text-align: left;
	border-bottom: none;
}
.shipping_port_edit_table select, .shipping_port_edit_table input[type="text"]{
    padding: 5px;
    min-width: 283px;
}
.space_shipping_port{
	min-height: 150px;
}