@charset "utf-8";
@import url(default.css);

body {width:100%; margin:0px; padding:0px; background-image: url(/images/admin/bg.gif);}

#wrap {width:100%;} 
#header{width:100%; height:200px;}
#container {}
#content {width: 477px; height: 211px; margin:0 auto; background-image: url(/images/admin/bg_box.gif); background-repeat: no-repeat;}
#footer {width:100%; height:100px;}  

/* 로그인 박스 */
.login_box {width: 417px; height: 211px; margin:0 auto; border:0px solid #ffffff;}
.login_box p.header {padding: 30px 0 0 0; text-align: center; border:0px solid #ffffff;}
.login_box p.line {padding: 15px 0 20px 0;}
.login_box .login_box_left {width: 79px; height: 74px; float: left; padding:0 15px 0 30px; border:0px solid #ffffff;}
.login_box .login_box_center {width: 190px; height: 74px; float: left; padding:5px 0 3px 0; border:0px solid #ffffff;}
.login_box .login_box_right {width: 82px; height: 74px; float: right; padding:3px 10px 0 10px; border:0px solid #ffffff;}
/* //로그인 박스 */

/* 로그인 푸터 */
.login_footer {width: 417px; margin:0 auto; border:0px solid #ffffff;}
.login_footer p.footer_logo {padding: 20px 0 0 0; text-align: center;}
.login_footer p.footer_copy {padding: 10px 0 0px 0; text-align: center}
/* //로그인 푸터 */

