@charset "utf-8";

/* 전체 */
html,body{width:100%; height:100%;}
body {margin:0px; padding:0px;}
body,td {font-size:0; line-height:0;}

img,fieldset {border:0; vertical-align:top;}

ul {list-style:none; padding:0; margin:0;}
li {display:inline;}
/* //전체 */


/* layout selector */
div#wrap {width:204px; height:376px; background:url(/images/admin/bg_sms.gif) no-repeat;}
div#container {width:170px; height:239px; padding:75px 0px 0px 17px; .padding:74px 0px 0px 17px;}
:root div#container {width:170px; height:239px; padding:74px 0px 0px 17px;}
/* //layout selector */


/* content */
ul.write {float:left; width:170px; text-align:center;}

ul.byte {float:left; width:64px; padding:2px 0px 2px 54px; .padding:0px 0px 1px 54px;}
:root ul.byte {float:left; width:64px; padding:1px 0px 2px 54px;}
li.byte_01 {float:left; width:20x;}
li.byte_02 {float:left; width:42; padding-top:3px; .padding-top:4px;}

ul.receive {float:left; width:169px; height:19px; .height:20px; padding:16px 0px 0px 2px; .padding:15px 0px 0px 2px; background:url(/images/admin/bg_receive.gif) no-repeat;}
li.receive_input {float:left; width:39px;}
li.receive_line {float:left; width:8px; .padding-top:1px;}
li.btn_sms_plus {float:left; width:33px; padding:0px 0px 0px 3px; .padding:1px 0px 0px 3px;}

ul.group {float:left; width:170px; text-align:center; padding:2px 0px 2px 0px; .padding:1px 0px 1px 0px;}
:root ul.group {float:left; width:170px; text-align:center; padding:1px 0px 1px 0px;}

ul.send {float:left; width:169px; height:19px; .height:20px; padding:16px 0px 0px 2px; .padding:15px 0px 0px 2px; background:url(/images/admin/bg_send.gif) no-repeat;}
li.send_input {float:left; width:39px;}
li.send_line {float:left; width:8px; .padding-top:1px;}
li.btn_sms_cancel {float:left; width:33px; padding:0px 0px 0px 3px; .padding:1px 0px 0px 3px;}

ul.send_btn {float:left; width:170px; height:43px; text-align:center; margin-top:2px; padding-top:2px; background:url(/images/admin/bg_btn_send.gif) no-repeat;}
/* //content */


/* form */
.input_01 {height:12px; border:0px solid #373737; padding:3px 2px 1px 2px; font-family:Dotum, Gulim, Tahoma, Verdana, AppleGothic, sans-serif; font-size:11px; color:#999999; background-image:url(/images/admin/bg_input_01.gif);}
.input_02 {height:12px; border:0px solid #373737; padding:3px 2px 1px 2px; font-family:Dotum, Gulim, Tahoma, Verdana, AppleGothic, sans-serif; font-size:11px; color:#999999; background-image:url(/images/admin/bg_input_02.gif);}

.textarea {width:158px; border:1px solid #373737; padding:3px 3px 0 3px; font-family:Dotum, Gulim, Tahoma, Verdana, AppleGothic, sans-serif; font-size:11px; line-height:14px; color:#999999; background-color:#373737;
		   scrollbar-3dlight-color:#222222;
		   scrollbar-arrow-color:#000000;/*화살표 색상*/
		   scrollbar-track-color:#000000;/*스크롤바 바탕 색상*/
		   scrollbar-darkshadow-color:#222222;/*트렉 오른쪽 아래 색상*/
		   scrollbar-face-color:#555555;/*전체 색상*/
		   scrollbar-highlight-color:#555555;/*트렉 하일라이트*/
		   scrollbar-shadow-color:#222222;/*그림자*/
}
/* //form */