*{
	margin:0;
	padding:0;
}

body{
	font-size:14px;
	color:#666;
	/*background:url('img/bg.jpg') #f2f2f2;*/
	font-family:Arial, Helvetica, sans-serif;
}

.comment,
#addCommentContainer{
	
	/* Syling the comments and the comment form container */
	
	padding:0px;
	width:100%;
 
	position:relative;
	color:#888;
	margin-bottom:5px;
	
	/* CSS3 rounded corners and drop shadows */
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
/*Start one addcomment*/
#addCommentContainer_one{
	
	/* Syling the comments and the comment form container */
	
	padding:0px;
	width:577px;
 
	position:relative;
	color:#888;
	margin-bottom:5px;
	
	/* CSS3 rounded corners and drop shadows */
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

.comment .avatar img{
	display:block;
}

.comment .date{
	font-size:10px;
	top:15px;
 
	color:#bbb;
 
	width:556px;
}

.comment p,
#addCommentContainer p{
	font-size:14px;
	line-height:1.7;
	overflow-x:hidden;
	color:#666666;
}
/*Start one addcomment*/
#addCommentContainer_one p{
	font-size:14px;
	line-height:1.7;
	overflow-x:hidden;
	color:#666666;
}
/*End once addcomment*/

#addCommentContainer input[type=text],
#addCommentContainer textarea{

	/* Styling the inputs */

	display:block;
	border:1px solid #ccc;
	margin:5px 0 5px;
	padding:3px;
	font-size:12px;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
}
/*Start one addcomment*/
#addCommentContainer_one input[type=text],
#addCommentContainer_one textarea{

	/* Styling the inputs */

	display:block;
	border:1px solid #ccc;
	margin:5px 0 5px;
	padding:3px;
	font-size:12px;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
}
/*End one addcomment*/

#addCommentContainer textarea{
	color: #555;
    height: 22px;
    padding-left: 11px;
    width: 419px;
	line-height:25px;
}
/*Start one addcomment*/
#addCommentContainer_one textarea{
	color: #555;
    height: 22px;
    padding-left: 11px;
    width: 419px;
	line-height:25px;
}
/*Eend one addcomment*/
label{
	font-size:10px;
}

label span.error{
	color:red;
	position:relative;
	right:-10px;
}

#submit{

}

#submit:hover{
	/*background-color:#80cdf5;*/
	border-color:#52b1e2;
}

/* The styles below are only necessary for the styling of the demo page: */

#main{
	position:relative;
	margin:0 auto;
	width:580px;
}

h1{
	color:#7E94A2;
	font-size:30px;
	margin:50px 0 20px;
}

h2{
	font-size:18px;
	margin-bottom:50px;
}

h1,h2{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	text-align:center;
	font-weight:normal;
	text-shadow:0 1px 1px #FFFFFF;
}

a, a:visited {
	text-decoration:none;
	outline:none;
}

a:hover{
	/*text-decoration:underline;*/
}

a img{
	border:none;
}
.fom_addcomment{
	padding-bottom:7px;
}
.get_comment{
	border: 1px solid #cfcfcf;
    line-height: 16px;
    margin: 0;
    min-height: 180px;
    padding: 3px 0;
    text-indent: 15px;
    width: 100%;
}
.clear{
	clear:both;
}