ul{
    list-style: none;
}
.upload_container{
    
}
.mybtndelete{
	position:absolute;
	top:100px;

	
	}

.upload_container .div-image-view {width:150px;  float:left; padding:10px; position:relative; margin-right:5px;border: 1px solid #eee;}
.upload_container a.close { 
        background-color: rgba(0, 0, 0, 0.8);
        height: 20px;
        line-height: 20px;
        position: absolute;
        text-align: center;
        text-decoration: none;
        width: 20px;
		right: 0px;
		top:5px;
		
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
    }
.upload_container a.close:before {
        color: rgba(255, 255, 255, 0.9);
        content: "X";
        font-size: 16px;
        text-shadow: 0 0px rgba(0, 0, 0, 0.9);
    }
.upload_container a.close:hover {
        background-color: rgba(64, 128, 128, 0.8);
    }
.nav-container input{
    cursor: pointer;
}
.div-image-view .nav-left {
    background: url("../../images/admin/nav-left.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
     border: none;
    width: 20px;
    height: 20px;
}

.div-image-view .nav-right {
    background: url("../../images/admin/nav-right.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: none;
     width: 20px;
    height: 20px;
}
.div-image-view .nav-left:hover, .div-image-view .nav-right:hover{
    opacity: 0.8;
    }
.div-image-view .label_primary{
    float: left;
}

.div-image-view:first-child .nav-left {
    display: none;
}
.div-image-view:last-child .nav-right {
    display: none;
}

#sortable li { float: left;  }
#MultiFile1_list{
    display: none;
}
.btn_upload_image{
    cursor: pointer;
    border: 1px solid #aaa;
    padding: 5px;
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
    background: #f6f8f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

}