body, form, ul, li, p, h2, h3, h4, h5{margin: 0;padding: 0;}
body {background-color: #ffffff; color: #666; }
#signup img { border: none; }
#signup p{margin: 0 0 1em 0;}
#signup h2 { font-size: 14px; margin: 0 0 12px; }
#signup{margin: 20px auto;}
#signup fieldset{margin: 0 0 20px;padding: 20px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
#signup ol{list-style-type: none;padding: 0;margin: 0;}
#signup li{margin: 0 0 12px;position: relative;}
#signup label{width: 249px;display: inline-block;vertical-align: top;}
legend{ color:#00C492;}
#signup  input.error{display: inline-block;}
#signup fieldset textarea{display: inline-block;width: 250px;border: 1px solid #00C492;padding: 3px 26px 3px 3px;-moz-transition: background-color 1s ease;-webkit-transition: background-color 1s ease;-o-transition: background-color 1s ease;transition: background-color 1s ease;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; resize:none; }
#signup fieldset input[type="checkbox"]{width:20px;}
#signup fieldset input[type="radio"]{width:20px;}
#signup fieldset select{ width: 280px; padding: 3px; }
#signup fieldset #postcode{ padding: 3px; width: 270px; }
#signup input::-webkit-input-placeholder,#signup input:-moz-placeholder input:placeholder{color: #f2f2f2;}
#signup .validation01{background: red;color: #fff;display: none;font-size: 12px;padding: 3px;position: absolute;right: -160px;text-align: center;top: 0;width: 150px;outline: 0;-moz-box-shadow: 0px 0px 4px #ffffff;-webkit-box-shadow: 0px 0px 4px #ffffff;box-shadow: 0px 0px 4px #ffffff;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
#signup input:focus + .validation01{ display: block; }
#signup input:focus:required:invalid + .validation01 .valid,#signup input.error:focus + .validation01 .valid,#signup input.required:focus + .validation01 .valid,#signup input:focus + .validation01 .valid{ display: none; }
#signup input:focus:required:valid + .validation01,#signup input.valid:focus + .validation01{ background: green; }
#signup input:focus:required:valid + .validation01 .invalid,#signup input.valid:focus + .validation01 .invalid{ display: none; }
#signup input:focus:required:valid + .validation01 .valid,#signup input.valid:focus + .validation01 .valid{ display: block; }
#signup fieldset input:required:valid{background-color: #fff;background-position: 260px -61px;}
#signup input.error{background-color: #F08080; background-position: 260px 3px;outline: none; }
#signup input.required{background-color: #fff; background-position: 260px -30px;padding-top: 6px;}
#signup input.valid { background-color: #fff;background-position: 260px -61px;padding-top: 7px;padding: 2px;}
#signup input.error::-webkit-input-placeholder,#signup inputerror :-moz-placeholder {color: #f2f2f2;}


input[type="submit"]{border:none; width:200px; margin:auto; padding:0px; border-radius:0px; color:#fff; font-weight:bold; cursor:pointer;}
.error_under {
    color: red;
    float: left;
    font-size: 12px;
    width: 100%;
    margin-top: -7%;
    text-indent: 2%;
}
@media only screen and (min-width: 476px ) and (max-width: 1024px) {
	.error_under{
		color: red;
		float: left;
		font-size: 12px;
		margin-top: -3%;
		text-indent: 2%;
		width: 100%;
	}
}
