.main_content .title_about_us{
	height:30px;
	border:1px solid #cacaca;
	overflow:auto;
	
background: rgba(252,252,252,1);
background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 27%, rgba(234,234,234,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(27%, rgba(252,252,252,1)), color-stop(100%, rgba(234,234,234,1)));
background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 27%, rgba(234,234,234,1) 100%);
background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 27%, rgba(234,234,234,1) 100%);
background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 27%, rgba(234,234,234,1) 100%);
background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 27%, rgba(234,234,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#eaeaea', GradientType=0 );

}

.main_content .title_about_us img{
	float:left;
}
.main_content .title_about_us p{
	line-height:0;
	margin-left:20px;
	margin-top:15px;
	font-size: 14px;
	font-weight: bold;
	color: #0772ba;
}

.main_content .main_content_about_us{

}

.main_content .main_content_about_us .title_content_about_us{
	color: #0772ba;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 22px;
}

.main_content .main_content_about_us{
	font-size: 12px;
	color: #302e2e;
}

.main_content_about_us .main_note_For_certificate{
	margin-top: 32px;
}

.main_content_about_us .main_note_For_certificate .note_For_download_certificate{

}

.main_content_about_us .main_note_For_certificate .note_For_download_certificate .icon_download{
	float: left;
}

.main_content_about_us .main_note_For_certificate .note_For_download_certificate a{
	float: left;
	color: #1111ff;
	margin-left: 10px;
    margin-top: 6px;
}



.main_content_about_us .company_outline_about_us{

}

.main_content_about_us .company_outline_about_us .title_content_about_us{

}

.main_content_about_us .company_outline_about_us_table table.company_outline_table{
	width: 100%;
	border-collapse: collapse;
}

.main_content_about_us .company_outline_about_us_table table.company_outline_table tr.row_color{
	background-color: #e6f1f8;	
}

.main_content_about_us .company_outline_about_us_table table.company_outline_table tr td{
	width: 50%;
	padding: 1px 8px;
}

.main_content_about_us .company_outline_about_us_table table.company_outline_table tr td.company_outline_table_data_left{
	text-align: left;
}

.main_content_about_us .company_outline_about_us_table table.company_outline_table tr td.company_outline_table_data_right{
	text-align: right;
}

.main_content_about_us  .main_content_right_about_us{
	margin-top: 19px;
	text-align: center;
}

#img_about_us{
	margin-top: 6px;
}

.main_content_about_us  .main_content_right_about_us .img_about_us img{
	min-width: 230px;
    width: 23%;
}

.main_content .team_japan_korea_export{
	margin-top: 32px;	
}

.main_content .team_japan_korea_export .main_seller_team{
	margin-top: 16px;
	padding-left: 12px;
}

.main_content .team_japan_korea_export .main_seller_team .item_images_seller_team{
	float: left;	
}

.main_content .team_japan_korea_export .main_seller_team .item_info_seller_team{
	overflow: hidden;	
}


.main_content .team_japan_korea_export .item_seller_team .item_info_seller_team .name{
	border-bottom: 1px solid #707070;
    color: #1378bd;
    font-size: 12px;
    margin: 0;
    padding-bottom: 4px;
    margin-top: 10px;
}

.main_content .team_japan_korea_export .item_seller_team .item_info_seller_team .phone{
	font-size: 12px;
    margin: 0;
    padding-top: 10px;
    color: #302e2e;
}

.main_content .team_japan_korea_export .item_seller_team .item_info_seller_team .email{
	font-size: 12px;
	margin: 0;
	color: #302e2e;
}

.main_content .team_japan_korea_export .item_seller_team .item_info_seller_team .media{
	margin: 0;	
}

.main_content .team_japan_korea_export .item_seller_team .item_info_seller_team .media img{
	width: 23px;
}

#team_korea_export{
	margin-bottom: 22px;
    margin-top: 46px
}

