@charset "utf-8";
/* CSS Document */

.detail_wrapper{
	overflow:auto;
	height:auto;
}
		/*left content style start*/
		

.title_detail{
	height:30px;
	border:1px solid #cacaca;
	overflow:auto;
	
background: rgba(252,252,252,1);
background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 27%, rgba(234,234,234,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(27%, rgba(252,252,252,1)), color-stop(100%, rgba(234,234,234,1)));
background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 27%, rgba(234,234,234,1) 100%);
background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 27%, rgba(234,234,234,1) 100%);
background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 27%, rgba(234,234,234,1) 100%);
background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 27%, rgba(234,234,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#eaeaea', GradientType=0 );

}
.title_detail img{
	float:left;
}
.title_detail p{
	line-height:0;
	margin-left:20px;
	margin-top:15px;
}
.car_info_wrapper{
	margin:0px;
	padding:0px;
}
.wrap_image{
	margin:0px;
	padding:0px;
	overflow:auto;
}
.wrap_image .wrap_image_big{
	width:50%;
	float:left;
}
.wrap_image .wrap_image_small{
	width:50%;
	overflow:hidden;
	
}
.wrap_image .imgload{
	margin:0px;
	margin-top:10px;
	padding:0px;
	position:relative;
}
.wrap_image .imgload .imgchange{
	width:355px;
	height:268px;
	cursor:pointer;
}
.imgload .sold_out{
		height: 101px;
		position: absolute;
		right: 305px;
		top: 0;
		width: 120px;
		z-index: 9;
	}
.wrap_image .small_img{
	overflow:auto;
	margin-left:-5px;
}
.wrap_image .small_img img{
	width:67px;
	height:49px;
	margin-left:5px;
	float:left;
	margin-top:6px;
}

.a_download{
	text-decoration:none
}
.download_img{
	background:url(../../images/public_mobile_site/downlaod_all.png) no-repeat;
	border:none;
	width:112px;
	height:29px;
	padding-left:30px;
	margin-left:5px;
	margin-top:6px;
	color:#0772ba;
	cursor:pointer;
}


.spec_wrapper{
	border:1px solid #cacaca;
	border-top:none;
	height:auto;
	overflow:auto;
	margin-top:10px;
}
.spec_wrapper .spec{
	width:100%;
	height:auto;
}
.spec_wrapper .spec .left, .spec_wrapper .spec .right{
	float:left;
	width:48.5%;
	min-height:22px;
	height:auto;
	padding-top:7px;
}
.spec_wrapper .spec .left{
	padding-left:1.5%;
	text-align:left;
}
.spec_wrapper .spec .right{
	padding-right:1.5%;
	text-align:right;
	word-break:break-all;
}
.spec_wrapper .spec .blue{
	background:#e6f1f8
}
		/*left content style end*/
		
		/*right content style start*/
		

.wrapper_total_price{
	height:auto;
	text-align:center;
	border:1px solid #cacaca;
	border-top:none;
	overflow:auto;
	
background: rgba(253,253,253,1);
background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 18%, rgba(233,233,233,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,253,253,1)), color-stop(18%, rgba(253,253,253,1)), color-stop(100%, rgba(233,233,233,1)));
background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 18%, rgba(233,233,233,1) 100%);
background: -o-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 18%, rgba(233,233,233,1) 100%);
background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 18%, rgba(233,233,233,1) 100%);
background: linear-gradient(to bottom, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 18%, rgba(233,233,233,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#e9e9e9', GradientType=0 );

} 
.left_price{
	float:left;
	width:70%;
	border-right:1px solid #cacaca;
	padding-bottom:10px;
}
.wrapper_total_price .text_insure{
	color:#0772ba;
	line-height:0;
	font-style:italic;
}
.wrapper_total_price .form_selection{
	width:94%;
	height:25px;
	margin:2% 2% 0 2%;
	background:none;
	border:1px solid #cacaca;
}
.wrapper_total_price .check_boxed_wrapper{
	overflow:auto; 
	margin-top:15px; 
	margin-left:3%;
	margin-right:3%;
	margin-bottom:20px;
	width:94%;
}
.wrapper_total_price .wrap_check{
	float:left;
	width:50%;
	height:30px;
}
.wrapper_total_price .check_boxed, .wrapper_total_price .span_check{
	float:left;
}
.wrapper_total_price .span_check{
	margin-top:4px;
	margin-left:3px;
	margin-right:15px;
}
.wrapper_total_price .calculate{
	text-decoration:none;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	padding:5px 30px;
	border: none;
	border: 1px solid #009045;
	border-radius:3px;
	cursor:pointer;
	background: rgba(45,164,103,1);
	background: -moz-linear-gradient(top, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(45,164,103,1)), color-stop(53%, rgba(0,144,70,1)), color-stop(100%, rgba(0,144,70,1)));
	background: -webkit-linear-gradient(top, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
	background: -o-linear-gradient(top, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
	background: -ms-linear-gradient(top, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
	background: linear-gradient(to bottom, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2da467', endColorstr='#009046', GradientType=0 );
}
.wrapper_total_price .est_price{
	background:#e6f1f8;
	font-weight:bold;
	border-top:1px solid #cacaca;
	padding:7px 0px;
}
.wrapper_total_price .send{
	border:1px solid #0772ba;
	border-bottom:1px solid #054a70;
	border-radius:3px;
	width:320px;
	height:40px;
	color:#fff;
	font-size:24px;
	cursor:pointer;
	background: rgba(53,141,199,1);
	background: -moz-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,141,199,1)), color-stop(55%, rgba(6,110,180,1)), color-stop(100%, rgba(6,110,180,1)));
	background: -webkit-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -o-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -ms-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: linear-gradient(to bottom, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#358dc7', endColorstr='#066eb4', GradientType=0 );

}

.seller_email{
	font-size: 14px;
	color: #002ff2 !important;
	text-decoration: none;
}

.seller_info{
	border:1px solid #cacaca;
	height:auto;
	min-height:100px;
	text-align:center;
	margin-top:10px;
}
.seller_info .title{
	padding:15px 0px;
	background:#e6f1f8;
	border-bottom:1px solid #cacaca;
}
.seller_info .content_seller{
	padding:15px;
	min-height:100px;
	height:auto;
	overflow:auto;
}
.seller_info .content_seller .img_seller{
	width:105px;
	height:65px;
	float:left;
	margin-right:25px;
}
.seller_info .content_seller .text_right{
	overflow:hidden;
	text-align:left;
}
.contact_seller{
	margin-top:30px;
	float:left;
	width:29%;
	height:auto;
	min-height:100px;
	text-align:center;
}
.contact_seller .content_contact_seller{
	padding:10px;
	overflow:auto;
	min-height: 100px;
}
.contact_seller .content_contact_seller .seller_img{
	width:35%;
	float:left;
}
.contact_seller .content_contact_seller .seller_img img{
	width:85px;
	height:85px;
}
.contact_seller .content_contact_seller .text_seller{
	float:left;
	width:65%;
	word-break:break-all;
}
.contact_seller .content_contact_seller .social_wrapper img{
	width:25px;
	height:25px;
	margin-left:3px;
}
.contact_seller .Divfooter{
	background:#e7f2f8;
	padding:10px;
	line-height:15px;
}
		/*right content style end*/
		
		
		/*more car content style start*/
		
.title_more_car{
	height:30px;
	border-top:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
	margin-top:10px;
}
.title_more_car p{
	line-height:0;
	margin-left:20px;
	margin-top:0px;
	padding-top:15px;
}
.title_more_car p a{
	float:right;
	margin-right:20px;
	margin-top:-8px;
	text-decoration:none;
	color:#0772ba;
}

.more_car_wrapper{
   	border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
}

.more_car_wrapper .list_item{
   border-bottom: 1px solid #cacaca;
}



.block_content .list_item .image_item{ 
    float: left;
    padding: 12px 5px;
}

.block_content .list_item .image_item .carload{
  width: 120px;
  height: 82px;
}


.block_content .list_item .info_item{ 
    overflow: hidden;
    padding: 12px 5px;
    width: 50%;
}
 

.block_content .list_item .info_item .title a{
   	color: #0772ba;
    font-size: 14px;
    font-weight: 600;
    margin: 3px 0 14px;
    text-decoration: none;
    word-break: break-all;
} 

.block_content .list_item .info_item div{
    font-size: 12px;
    line-height: 18px;
} 

.block_content .list_item .info_item .wrap_item .text_left{
   display: inline;
    float: left;
}

.block_content .list_item .info_item .wrap_item .text_right{
  display: inline;
  float: left;
}

.block_content .list_item .info_item div span{
  font-weight: bold;
} 

.block_content .list_item .info_item p.fob_price{
  font-weight: bold;
  padding-top: 10px;
  font-size: 12px;
}


.block_content .list_item .info_item p span.fob_price_number{
  color: #ff0000;
}

		/*more car content style end*/

.bigger{
	font-size:14px;
	font-weight:bold;
	color:#0772ba;
	line-height:10px;
}
.smaller{
	font-size:12px;
	font-weight:normal;
	color:#3d3d3d;
	line-height:10px;
}




.lb-nav {
    height: 100%;
    left: 0;
    position: unset !important;
    top: 0;
    width: 100%;
    z-index: 10;
}


.lb-nav a.lb-prev {
  background: rgba(0, 0, 0, 0) url("../images/prev.png") no-repeat scroll left 48%;
    display: block !important;
    float: left;
    height: 100% !important;
    left: 0 !important;
    list-style: outside none none !important;
   
    position: absolute !important;
    top: 0 !important;
    transition: opacity 0.6s ease 0s;
    width: 20% !important;
}

.lb-nav a.lb-prev:hover{
   opacity: 1 !important;
}


.lb-nav a.lb-next {
    background: rgba(0, 0, 0, 0) url("../images/next.png") no-repeat scroll left 48%;
    display: block !important;
    float: left;
    height: 100% !important;
    right: 0 !important;
    list-style: outside none none !important;

    position: absolute !important;
    top: 0 !important;
    transition: opacity 0.6s ease 0s;
    width: 8% !important;
}

.lb-nav a.lb-next:hover{
   opacity: 1 !important;
}

@media only screen and (min-width: 200px ) and (max-width: 768px) {
	
	.wrap_image .wrap_image_big{
		width:100%;
	}
	.wrap_image .wrap_image_small{
		width:100%;
	}
	.wrap_image .imgload .imgchange{
		width:100%;
		height:auto;
		cursor:pointer;
	}
	.wrap_image .small_img{
		overflow:auto;
		margin-left:-3px;
	}
	
	.left_price{
		width:100%;
		padding-bottom:10px;
		border-right:none;
	}
	.contact_seller{
		width:100%;
		height:auto;
		min-height:100px;
		text-align:center;
		border-top: 1px solid #cacaca;
	}
	.block_content .list_item .info_item .title a{
		color: #0772ba;
		font-size: 12px;
		font-weight: 600;
		margin: 3px 0 14px;
		text-decoration: none;
		word-break: break-all;
	} 
	
	.block_content .list_item .info_item div{
		font-size: 11px;
		line-height: 18px;
	} 
	
	.block_content .list_item .info_item p.fob_price{
	  font-weight: bold;
	  padding-top: 10px;
	  font-size: 11px;
	}
	.bigger{
		font-size:12px;
		font-weight:bold;
		color:#0772ba;
		line-height:10px;
	}
	.smaller{
		font-size:11px;
		font-weight:normal;
		color:#3d3d3d;
		line-height:10px;
	}
	.imgload .sold_out{
		height: 101px;
		position: absolute;
		right: 0;
		top: 0;
		width: 120px;
		z-index: 9;
	}
}
@media only screen and (min-width: 200px ) and (max-width: 320px) {
	
	.wrap_image .small_img img{
			width:65px;
			height:47px;
			margin-left:4px;
			float:left;
			margin-top:4px;
	}
}
@media only screen and (min-width: 321px ) and (max-width: 360px) {
	
	.wrap_image .small_img img{
			width:74px;
			height:56px;
			margin-left:5px;
			float:left;
			margin-top:5px;
	}
}

@media only screen and (min-width: 361px ) and (max-width: 460px) {
	
	.wrap_image .small_img img{
			width:66px;
			height:48px;
			margin-left:3px;
			float:left;
			margin-top:3px;
	}
}

@media only screen and (min-width: 461px ) and (max-width: 603px) {
	
	.wrap_image .small_img img{
			width:65px;
			height:47px;
			margin-left:4px;
			float:left;
			margin-top:4px;
	}
}