a.not_click {
    pointer-events: none;
}

.main_category_type_brand_country{
   margin: 0 auto;
   /* width: 88%;*/
   width: 100%;
}

/*========== Start Tool total price calculator ============*/

/*=====rado start car_list=====*/


.text_left {
    display: inline;
    float: left; 
    font-size: 12px;
}
.text_left span {
    font-weight: bold;
}

.text_right {
    display: inline;
    float: left;
    font-size: 12px;
}
.text_right span{
  font-weight: bold;
}
p.fob_price {
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
}
span.fob_price_number {
    color: #ff0000;
}



.seller_profile_email{
    font-size: 14px;
    color: #002ff2 !important;
}
.seller_profile_email a {
  text-decoration: none;
}
.seller_profile_name{
    color: #0772ba;
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
    padding-bottom: 5px;
}
.mobile_total_price{
  color: #0772ba;
  font-style: italic;
  font-size: 12px;
  
}
.call_center{
  text-align: center;
}
.call_center_name{
  text-align: center;
  color: #2479be;
  font-size: 14px;
}
.wrapp_total_price_calculator_left{
  border-right: 1px solid #cacaca;
  float: left;
  padding-top: 10px;
  width: 70%;
  text-align: center;
}
.wrapp_destination_port{
  margin-top: 20px;
}
.destination{
  float: left;
  width: 100%;
  padding-top: 3px;
}
.select_country{
  overflow: hidden;
  float: left;
  width: 100%;
}
.wrapp_total_price_calculator_right{
  font-size: 12px;
  overflow: hidden;
  padding-top: 23px;
}
.form_selection {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #cacaca;
    height: 25px;
    margin-bottom: 10px;
    text-indent: 3px;
}
.smaller {
    color: #3d3d3d;
    font-size: 12px;
    font-weight: normal;
    width: 90%;
}
.car_list_checkbox_insurance{
  padding-right: 5%;
}
.car_list_inspection{
  width: 0%;
}
.calculates {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(45, 164, 103, 1) 0%, rgba(0, 144, 70, 1) 53%, rgba(0, 144, 70, 1) 100%) repeat scroll 0 0;
    border: 1px solid #009045;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 88%;
    font-weight: bold;
    padding: 1.5% 9%;
    text-decoration: none;
    background: #009045;
}

.check_boxed_wrapper {
    overflow: auto;
    margin-bottom: 15px;
}
.Divfooter {
    background: #e7f2f8 none repeat scroll 0 0;
    line-height: 15px;
    padding: 17px 0;
    text-align: center;
    width: 100%;
}
.mobile_car_list_thailand_stocks{
  float:left;
  font-size:12px;
  border: 1px solid #0772ba;
  width:19%;
  text-align:center;
  height:30px;
}
.mobile_car_list_thailand_stocks a{
  text-decoration: none;
  cursor: pointer;
}
.mobile_car_list_hongkong_stocks{
  float:left;
  font-size:12px;
  border: 1px solid #0772ba;
  width:19%;
  text-align:center;
  height:30px;
}
.mobile_car_list_hongkong_stocks a{
  text-decoration: none;
  cursor: pointer;
}
.mobile_car_list_japan_stocks{
  float:left;
  font-size:12px;
  border: 1px solid #0772ba;
  width:19%;
  text-align:center;
  height:30px;
}
.mobile_car_list_japan_stocks a{
  text-decoration: none;
  cursor: pointer;
}
.mobile_car_list_japan_stocks_a{
  color: #0772ba;
  font-size: 12px;
  padding-bottom: 6px;
  padding-top: 7px;
}
.mobile_car_list_korea_stocks_a{
   color: #0772ba;
  font-size: 12px;
  padding-bottom: 6px;
  padding-top: 7px;
}
.mobile_car_list_thailand_stocks_a{
   color: #0772ba;
  font-size: 12px;
  padding-bottom: 6px;
  padding-top: 7px;
}
.mobile_car_list_hongkong_stocks_a{
   color: #0772ba;
  font-size: 12px;
  padding-bottom: 6px;
  padding-top: 7px;
}

.active_stock{
  background:#0772ba;
  color: #FFF;
  font-weight:bold;
}

.mobile_car_list_korea_stocks{
  float:left;
  border: 1px solid #0772ba;
  width:19%;
  text-align:center;
  height:30px;
}
.mobile_car_list_korea_stockss{
  float:left;
  border: 1px solid #0772ba;
  width:19%;
  text-align:center;
  height:30px;
}
.mobile_car_list_korea_stockss a{
  text-decoration: none;
  cursor: pointer;
}
.mobile_car_list_korea_stocks a{
  text-decoration: none;
  cursor: pointer;
}
.mobile_car_list_car_found{
    font-size: 12px;
    overflow: hidden;
    text-align: right;
}
.mobile_car_list_car_found_a{
  padding-top: 8px;
}
.mobile_car_list_car_found_color{
  color:#ff0000;
}
.block_content{
  margin-bottom: 22px;
}
.pagination{
  text-align: center;
}
.wrapp_mobile_car_list{
  margin-bottom:10px;
}
.mobile_car_list_icon{
  margin-right:4%;
}



/*======= rado end car_list ==========*/



.main_category_type_brand_country .type_of_category{
  border-top: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-left: 1px solid #cacaca;
  margin-top: 19px;
}

.main_category_type_brand_country .type_of_category .type_of_category_top{
  background-image: url('/images/public_mobile_site/home/bg_bar.png');
  border-bottom: 1px solid #cacaca;
}



.main_category_type_brand_country .type_of_category .type_of_category_top .type_of_category_top_left{
    background-image: url("/images/public_mobile_site/m_bg_sidebar_tool.png");
    background-repeat: no-repeat;
    float: left;
   height: 32px;
     width: 15px;
}

.main_category_type_brand_country .type_of_category .type_of_category_top .type_of_category_top_right p{
  margin-left: 9px;
    margin-top: 7px;
    color: #0772ba;
    font-size: 14px;
    font-weight: bold;
}

.main_category_type_brand_country .type_of_category .type_of_category_top .type_of_category_top_right{
    float: left;
    height: 32px;
    width: 80%;
}

.main_category_type_brand_country .type_of_category .category_icon_top_right{
  float: right;
    margin-right: 8px;
    margin-top: 6px;
}


.content_category{
  border-bottom: 1px solid #cacaca;
}

.content_category .main_category_list{

}

.content_category ul.main_category_list li.category_list{
  list-style: outside none none;
}

.content_category ul.main_category_list li.category_list a{

}

.content_category ul.main_category_list li.category_list a .category_icon{
   float: left;
   width: 40px;
}




.click_slide_up_down_brand{
  cursor: pointer;
}



.click_slide_up_down_type{
  cursor: pointer;
}



/*========== End Tool total price calculator ============*/


/*============== Start popular car ============== */


.cars_list{
  color: #0772ba;
  float: left;
  height: 20px;
  padding: 4px 10px;
  margin-top: 3px;
  text-align: left;
  width: 40%;
  font-size: 14px;
  font-weight:bold;
}
.main_content .content_popular{
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-top: 1px solid #cacaca;
}

.main_content .popular_title{
    background-color: #dcdee3;
    height: 32px;
}

.main_content .popular_title .title{
    padding-left: 5px;
    width: 98%;
    float: left;
}


.main_content .popular_title .icon_see_more{
    display: inline-block;
    float: right;
    margin-top: 7px;
    padding-right: 8px;
}



/*Rado start code box image*/


ul.listBox .data_gp ul {
    overflow: hidden;
    padding-bottom: 5px;
}
ul, ol, dl, li, dt, dd {
    list-style: outside none none;
}
.listBox li {
    background: rgba(0, 0, 0, 0) url("/images/public_mobile_site/car_list/guide_foot.gif") no-repeat scroll left center;
    color: #333;
    float: left;
    font-size: 12px;
    margin-left: -5px;
    padding: 0 13px 0 7px;
    width: 100%
}
.mobile_chaissisno{
  font-weight:bold;
  font-size: 12px;
}
.mobile_chaissisno_color{
  color:#ff0000;
  font-weight:bold;
  font-size: 12px;
  margin-left: 6px;
  margin-right: 15px;
}
.mobile_chaissisno_total{
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin-left: 7px;
  text-indent: 0;
  width: 95%;
}
.mobile_mobile_chaissisno_mobile_chaissisno_color{
  float: left;
  width: 100%;
}
.total_price {
    background: #ff0000 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
    max-width: 110px;
    min-height: 20px;
    padding: 4px 0 0;
    text-align: center;
    width: 80%;
}
.mobile_chaissisno_fob_ask{
  margin-top:8px;
}
.calculate {
    background: #0772ba none repeat scroll 0 0;
    border: 1px solid #0772ba;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-left: 2px;
    padding: 0 25px;
    text-decoration: none;
}
ul.paginnav {
    display: inline-block;
    padding: 0;
}
.pagination ul li {
    float: left;
    list-style: outside none none;
    margin-left: 10px;
}
.pagination ul li a {
    color: #666666;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}
.pagination ul li.current {
    background-color: #008cba;
    border-radius: 2px;
    padding: 0 5px;
}
.pagination ul li.current > a {
    color: #fff;
}







.image_item img{ 
  float: left;
  padding-left: 1.5%;
  padding-top: 1.5%;
  width: 122px;
}
.list_item{
  border-bottom: 1px solid #cacaca;
  width: 100%;
}
.info_item{
  width: 53%;
  float: left;
  overflow: hidden;
  padding-top: 1.5%;
  text-indent: 6px;
}
.mobile_car_list_title{
  margin-left: 6px;
  text-indent: 0;
}
.mobile_car_list_title a{
  font-size: 12px;
  font-weight: bold;
  color: #0772ba;
  text-decoration: none;
  vertical-align: text-top;
}
.mobile_wrapp_car_list_chassisno{
  width: 100%;
  overflow: hidden;
}
.mobile_wrapp_car_list_chassisno_sub{
  width: 50%;
  overflow: hidden;
  float: left;
}
.mobile_car_list_chassisno{
  width: 28%;
  float: left;
}
.mobile_car_list_poin{
  width: 5%;
  float: left;
}
.mobile_car_list_number{
  width: 22%;
  float: left;
}

/*Rado end code box image*/

/*Rado start calculate code box */
.wrapper_total_price{
  height:auto;
  text-align:center;
  border:1px solid #cacaca;
  border-top:none;
  overflow:auto;
  
background: rgba(253,253,253,1);
background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 18%, rgba(233,233,233,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,253,253,1)), color-stop(18%, rgba(253,253,253,1)), color-stop(100%, rgba(233,233,233,1)));
background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 18%, rgba(233,233,233,1) 100%);
background: -o-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 18%, rgba(233,233,233,1) 100%);
background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 18%, rgba(233,233,233,1) 100%);
background: linear-gradient(to bottom, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 18%, rgba(233,233,233,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#e9e9e9', GradientType=0 );

} 
.left_price{
  float:left;
  width:70%;
  border-right:1px solid #cacaca;
  padding-bottom:10px;
}
.wrapper_total_price .text_insure{
  color:#0772ba;
  line-height:0;
  font-style:italic;
}
.wrapper_total_price .form_selection{
  width:94%;
  height:25px;
  margin:2% 2% 0 2%;
  background:none;
  border:1px solid #cacaca;
}
.wrapper_total_price .check_boxed_wrapper{
  overflow:auto; 
  margin-top:15px; 
  margin-left:3%;
  margin-right:3%;
  margin-bottom:20px;
  width:94%;
}
.wrapper_total_price .wrap_check{
  float:left;
  width:50%;
  height:30px;
}
.wrapper_total_price .check_boxed, .wrapper_total_price .span_check{
  float:left;
}
.wrapper_total_price .span_check{
  margin-top:4px;
  margin-left:3px;
  margin-right:15px;
}
.wrapper_total_price .calculate{
  text-decoration:none;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  padding:5px 30px;
  border: none;
  border: 1px solid #009045;
  border-radius:3px;
  cursor:pointer;
  background: rgba(45,164,103,1);
  background: -moz-linear-gradient(top, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(45,164,103,1)), color-stop(53%, rgba(0,144,70,1)), color-stop(100%, rgba(0,144,70,1)));
  background: -webkit-linear-gradient(top, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
  background: -o-linear-gradient(top, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
  background: -ms-linear-gradient(top, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
  background: linear-gradient(to bottom, rgba(45,164,103,1) 0%, rgba(0,144,70,1) 53%, rgba(0,144,70,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2da467', endColorstr='#009046', GradientType=0 );
}
.wrapper_total_price .est_price{
  background:#e6f1f8;
  font-weight:bold;
  border-top:1px solid #cacaca;
  padding:7px 0px;
}
.wrapper_total_price .send{
  border:1px solid #0772ba;
  border-bottom:1px solid #054a70;
  border-radius:3px;
  width:320px;
  height:40px;
  color:#fff;
  font-size:24px;
  cursor:pointer;
  background: rgba(53,141,199,1);
  background: -moz-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,141,199,1)), color-stop(55%, rgba(6,110,180,1)), color-stop(100%, rgba(6,110,180,1)));
  background: -webkit-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
  background: -o-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
  background: -ms-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
  background: linear-gradient(to bottom, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#358dc7', endColorstr='#066eb4', GradientType=0 );

}

.seller_info{
  border:1px solid #cacaca;
  height:auto;
  min-height:100px;
  text-align:center;
  margin-top:10px;
}
.seller_info .title{
  padding:15px 0px;
  background:#e6f1f8;
  border-bottom:1px solid #cacaca;
}
.seller_info .content_seller{
  padding:15px;
  min-height:100px;
  height:auto;
  overflow:auto;
}
.seller_info .content_seller .img_seller{
  width:105px;
  height:65px;
  float:left;
  margin-right:25px;
}
.seller_info .content_seller .text_right{
  overflow:hidden;
  text-align:left;
}
.contact_seller{
  margin-top:30px;
  float:left;
  width:29%;
  height:auto;
  min-height:100px;
  text-align:center;
}
.contact_seller .content_contact_seller{
  padding:10px;
  overflow:auto;
  min-height: 100px;
}
.contact_seller .content_contact_seller .seller_img{
  width:35%;
  float:left;
}
.contact_seller .content_contact_seller .seller_img img{
  width:85px;
  height:85px;
}
.contact_seller .content_contact_seller .text_seller{
  float:left;
  width:65%;
  word-break:break-all;
}
.contact_seller .content_contact_seller .social_wrapper img{
  width:25px;
  height:25px;
  margin-left:3px;
}
.wtotal_price{
  float:left;
  font-weight: bold;
}
.wprapp_totale_price_point{
  width:200px;
}
.text_left_bottom{
  margin-bottom:7px; 
}
.select_search_by_country{
  padding: 15px;
}
.select_search_by_country select{
  padding: 5px;
  width: 50%;
}


/*============== end popular car ============== */



.clear{
	clear: both;
}
.sold_out_list{
  height: 79px;
  left: 16px;
  position: absolute;
  width: 120px;
  z-index: 999;
}



@media only screen and (min-width: 200px ) and (max-width: 320px) {
  

  .total_price {
    background: #ff0000 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
    min-height: 20px;
    padding: 4px 0 0;
    text-align: center;
    width: 65%;
  }
  .wprapp_totale_price_point{
    width:160px;
  }
  .mobile_car_list_car_found_a {
    font-size: 12px !important;
    padding: 7px 10px;
  }

}
@media only screen and (min-width: 200px ) and (max-width: 360px) {

  .wprapp_totale_price_point{
    width:170px;
  }
  .total_price {
    background: #ff0000 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
    max-width: 110px;
    min-height: 20px;
    padding: 4px 0 0;
    text-align: center;
    width: 93px;
  }
  .mobile_car_list_car_found_a {
    font-size: 10px !important;
    padding: 8px 12px;
  }

}
@media only screen and (min-width: 200px ) and (max-width: 768px) {
  
  .wrapp_total_price_calculator_left {
    padding-top: 10px;
    text-align: center;
    width: 100%;
  }
  .left_price{
    width:100%;
    padding-bottom:10px;
    border-right:none;
  }
  .contact_seller{
    width:100%;
    height:auto;
    min-height:100px;
    text-align:center;
    border-top: 1px solid #cacaca;
  }
}