#wrapper_seller{
    width: 100%;
}
.main_category_type_brand_country{
   width: 100%;
}

/*========== Start Tool total price calculator ============*/

.main_category_type_brand_country .type_of_category{
  border-top: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-left: 1px solid #cacaca;
  margin-top: 19px;
  width: 100%;
}

.main_category_type_brand_country .type_of_category .type_of_category_top{
  background-color: #f4f5f5;
  border-bottom: 1px solid #cacaca;
}
.main_category_type_brand_country .type_of_category .type_of_category_top .type_of_category_top_left{
    background-image: url("/images/public_mobile_site/m_bg_sidebar_tool.png");
    background-repeat: no-repeat;
    float: left;
    height: 32px;
    width: 15px;
}
.main_category_type_brand_country .type_of_category .type_of_category_top .type_of_category_top_right p{
    margin-left: 9px;
    margin-top: 9px;
    color: #0772ba;
    font-size: 14px;
    font-weight: bold;
}

.main_category_type_brand_country .type_of_category .type_of_category_top .type_of_category_top_right{
    float: left;
    height: 32px;
    width: 70%;
    background-image: url('/images/public_mobile_site/m_bg_head.png');
}

.wrapper_image_seller{
  width: 100%;
  margin-top: 15px;
  text-align: center;

}
.wrapper_image_seller img{
  width: 100%;
  min-width: 189px;
  max-width: 500px;

}

.wrapper_info_seller{
  width: 100%;
}
.wrapper_decribtion_info{
  max-width: 1317px;
  width: 100%;
  border-bottom: 1px solid #cacaca;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  margin-right: 0;
  overflow: auto;
}
.wrapper_decribtion_info .spec {
    height: auto;
    width: 100%;
    overflow: auto;
}
.wrapper_decribtion_info  .spec .blue {
    background: #e6f1f8 none repeat scroll 0 0;
}
.wrapper_decribtion_info .textLeft{
   padding-left: 1.5%;
   width: 48.5%;
   height: 25px;
   float: left;
   text-align: left;
   padding-top: 10px;
}
.wrapper_decribtion_info .address{
  min-height: 85px;
  height: auto;
  color: #3d3d3d;
  font-size: 12px;
  font-weight: normal;
}
.wrapper_decribtion_info .textRight{
  padding-right: 1.5%;
  text-align: right;
   width: 48.5%;
   height: 25px;
   float: left;
   padding-top: 10px;
   word-break: break-all;
}
.wrapper_decribtion_info .smaller_bold {
    color: #3d3d3d;
    font-size: 12px;
    font-weight: bold;
    line-height: 10px;
}
.wrapper_decribtion_info .smaller {
    color: #3d3d3d;
    font-size: 12px;
    font-weight: normal;
    line-height: 10px;
}
.introduction_seller{
  width:100%;
  overflow: hidden;
}
.introduction_seller span{
  width:100%;
  padding-left: 1.5%;
  color: #0772ba;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.introduction_seller p{
  width:100%;
  padding-left: 1.5%;
  font-size: 12px;
  margin-bottom: 10px;
}
.clear{
	clear: both;
}




/*============== Start New and updated car ============== */



.main_content .content_seller_car{
   border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
    margin-top: 15px;
}

.main_content .content_seller_car .new_update_title{
    background-color: #dcdee3;
    border-bottom: 1px solid #cacaca;
    height: 32px;
}

.main_content .content_seller_car .new_update_title .title{
    padding-left: 16px;
    padding-top: 7px;
    width: 70%;
    float: left;
}

.main_content .content_seller_car .new_update_title .title h5{
    color: #2380bf;
    font-size: 14px;
}


.main_content .content_seller_car .new_update_title .icon_see_more{
    display: inline-block;
    float: right;
    margin-top: 7px;
    padding-right: 8px;
}

.block_content .list_item{
   border-bottom: 1px solid #cacaca;
   position: relative;
}



.block_content .list_item .image_item{ 
    float: left;
    padding: 12px 5px;
}

.block_content .list_item .image_item img{
  width: 117px;
  height: 82px;
}

.sold_out{
	left: 5px;
    position: absolute;
    top: 50;
    width: 120px;
    z-index: 999;
}

.block_content .list_item .info_item{ 
    overflow: hidden;
    padding: 12px 5px;
    width: 50%;
}
 

.block_content .list_item .info_item .title{
    color: #0772ba;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
	text-decoration:none;
} 

.block_content .list_item .info_item div{
      font-size: 12px;
    line-height: 18px;
} 
 
.block_content .list_item .info_item .wrap_item{

}

.block_content .list_item .info_item .wrap_item .text_left{
   display: inline;
    float: left;
}

.block_content .list_item .info_item .wrap_item .text_right{
   display: inline;
    float: left;
}

.block_content .list_item .info_item div span{
    font-weight: bold;
} 

.block_content .list_item .info_item p.fob_price{
   font-weight: bold;
  padding-top: 10px;
  font-size: 12px;
}


.block_content .list_item .info_item p span.fob_price_number{
  color: #ff0000;
}



/*============== end New and updated car ============== */




/* pagination */

.paginater-site{
	padding: 10px 0;
}
ul.pagination{
    display: block;
    min-height: 1.5rem; 
}
ul.pagination li{
    color: #222222;
    font-size: 14px;
    height: 1.5rem;
}
ul.pagination li a, ul.pagination li button{
    border-radius: 3px;
    transition: background-color 300ms ease-out;
    background: none;
    color: #999999;
    display: block;
    font-size: 14px;
    font-weight: normal;
	cursor:pointer;
    line-height: inherit;
    padding: 0.0625rem 0.625rem 0.0625rem; 
}
ul.pagination li:hover a,
ul.pagination li a:focus, ul.pagination li:hover button,
ul.pagination li button:focus{
    background: #e6e6e6; 
}
ul.pagination li.unavailable a, ul.pagination li.unavailable button{
    cursor: pointer;
    color: #999999; 
}
ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus, ul.pagination li.unavailable:hover button, ul.pagination li.unavailable button:focus{
    background: transparent; 
}
ul.pagination li.current a, ul.pagination li.current button{
    background: #008CBA;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold; 
}
ul.pagination li.current a:hover, ul.pagination li.current a:focus, ul.pagination li.current button:hover, ul.pagination li.current button:focus{
    background: #008CBA; 
}
ul.pagination li{
    display: block;
    float: left; 
}
.pagination-centered{
  	text-align: center; 
}
.pagination-centered ul.pagination li{
    display: inline-block;
    float: none; 
}

	/* pagination */




