.wrapp_complete {
    color: #0772ba;
    font-size: 24px;
    height: 65px;
    min-width: 100%;
    padding-top: 9px;
    text-align: center;
}
.mobile_image_complete{
    width: 100%;
}
.img_success{
	width:50px;
	margin:20px auto 0px auto;
}
.img_success img{
	width: 100%;
}
.text_confirm{
	width:100%;
	margin:10px auto;
	text-align:center;
	font-weight:bold;
	font-size:18px;
}
.text_mail{
	width:100%;
	margin:10px auto;
	text-align:center;
	font-size:14px;
	color:#1c75bc;
}
.text_cont_mail{
	width:100%;
	margin:10px auto;
	text-align:center;
	font-size:12px;
}
.text_complete{
	width:100%;
	margin:10px auto;
	text-align:center;
	font-size:14px;
	color:#ee4f54;
}
.mobile_image_mail{
    width: 99%;
    border:3px solid #cacaca;
	padding-bottom:30px;
}
.top_head_search{
    display: none;
}

.step_wrapper{
	text-align: center;
	padding: 30px 0;
	width: 100%;
}
.confirm_msg_wrapper{
	width: 100%;
	margin-bottom: 50px;
}
.confirm_msg_container{
	border: 5px solid #cacaca;
    margin: auto;
    min-height: 50px;
    padding: 10px 10px 20px;
}
.send_status_container{
	padding: 10px 0;
	text-align: center;
}
.step_title {
    color: #c41d1d;
    font-size: 16px;
    margin: 0 0 20px;
    font-weight: bold;
    text-align: center;
}
.sent_desc {
    text-align: center;
}
.email_sample {
    text-align: center;
}
.special_note{
	text-align: center;
}