.wrapp_mobile_enter_info{
  width: 100%;
}
.mobile_img_enter_info{
    width: 100%;
}
.wrapp_mobile_cofirm_email {
    min-height: 280px;
}
.mobile_confirm_left {
    color: #231f20;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
    width: 100%;
}
.mobile_confirm_left_one {
    background: #e6f1f8 none repeat scroll 0 0;
    color: #231f20;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
    width: 100%;
}
.mobile_confirm_rights {
    width: 98.7%;
    border: 1px solid #cacaca;
    height: 31px;

}
.mobile_confirm_right_style {
    color: #323131;
    height: 25px;
    width: 98.7%;

}
.input_confirm {
    background-color: white;
    border: 1px solid #ccc;
    height: 31px;
    text-indent: 5px;
    width: 100%;
}
.mobile_img_enter_info{
    margin-bottom: 10px;
}
.wrapp_mobile_enter_info_form{
    margin-bottom: 10px;
    width: 100%;
}
.wrapp_back_submit {
    margin-bottom: 45px;
    margin-top: 45px;
    overflow: hidden;
}
.wrapp_submit {
    text-align: center;
    width: 100%;
}
.enter_info_submit {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(53, 141, 199, 1) 0%, rgba(6, 110, 180, 1) 55%, rgba(6, 110, 180, 1) 100%) repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 32px;
    width: 117px;
}
.error_under_register {
    color: red;
    font-size: 12px;
    font-weight: bold;
}
.wrapp_back{
    float:left;
    text-align: right;
    width:275px;
}
.confirm_back{
    background: #979797 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 32px;
    width: 117px;
}
.input_confirm_border_none {
    background-color: white;
    border: medium none;
    color: #323131;
    float: left;
    height: 31px;
    margin-left: 4px;
    text-indent: 0;
}
.iti-flag {
    background-position: -2677px 0;
    float: left !important;
    height: 12px;
    margin-top: 9px !important;
}


.top_head_search{
    display: none;
}

/*==============Start style mobiel============*/


.intl-tel-input input[type="tel"] {
    height: 31px !important;
    margin-bottom: 0 !important;
    margin-left: 0;
    margin-top: 0 !important;
    padding-left: 48px;
    position: relative;
    transition: background-color 100ms ease-out 0s;
    width: 100% ;
    z-index: 0;
}
#tel{
  width: 350px;
}
.intl-tel-input-none {
    height: 31px !important;
    width: -1px !important;
}
.intl-tel-input {
    display: inline-block;
    position: relative;
    width: 100% !important;
}
.hide {
  display: none; }

pre {
  margin: 0 !important;
  display: inline-block; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  background: none; }

input, button {
  height: 35px;
  margin: 0;
  border-radius: 2px;
  font-family: inherit;
  font-size: 14px;
  color: inherit; }
  input[disabled], button[disabled] {
    background-color: #eee; }

input, select {
  border: 1px solid #CCC;
  width: 250px; }

::-webkit-input-placeholder {
  color: #BBB; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #BBB;
  opacity: 1; }

:-ms-input-placeholder {
  color: #BBB; }

button {
  color: #FFF;
  background-color: #428BCA;
  border: 1px solid #357EBD; }
  button:hover {
    background-color: #3276B1;
    border-color: #285E8E;
    cursor: pointer; }

#result {
  margin-bottom: 100px; }
.intl_tel_input_next {
    border: 1px solid #ccc !important;
}
.intl_tel_input_submit {
    border: none !important;
}
/*===================End style mobile========================*/