.wrapp_login{
	border: 3px solid #1c75bc;
    min-height: 390px;
    width: 100%;
}
.login_left{
    padding-left: 15px;
    width: 93%;
	background:url(/images/public_site/login/login_line.png) 100% repeat;
}
.login{
	color: #0772ba;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 30px;
}
.login_to_your_account{
	font-size: 12px;
    margin-bottom: 9px;
}
.login_username_input{
	font-size: 12px;
}
.login_username{
    height: 33px;
    text-indent: 4px;
    width: 98%;
}
.login_password_input{
	font-size: 12px;
    margin-bottom: 11px;
}
.login_password{
    height: 33px;
    text-indent: 4px;
    width: 350px;
}
.login_remember_input{
	font-size: 12px;
	margin-bottom: 16px;
    text-indent: 17px;
}

.forgot_password{
    font-weight: bold;
    text-indent: 20px;
}
.forgot_password a{
	color:#0772ba;
	text-decoration:none;
}

.contact_seller_text{
	margin:30px 0px 0px 30px;
	font-size:20px;	
}
.don_have_account{
	font-size:12px;
	overflow:hidden;
	margin-top:55px;
}
.don_have{
	 float:left;
	 margin-bottom: 15px;
	
}
.don_have a{
	color:#0772ba;
	text-decoration:none;
	font-weight: bold;
}

.login_btn_search{
	width:117px;
	height:32px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
	margin-top: 14px;
	border:1px solid #0772ba;
	border-bottom:1px solid #054a70;
	border-radius:3px;	
	background: rgba(53,141,199,1);
	background: -moz-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,141,199,1)), color-stop(55%, rgba(6,110,180,1)), color-stop(100%, rgba(6,110,180,1)));
	background: -webkit-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -o-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: -ms-linear-gradient(top, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	background: linear-gradient(to bottom, rgba(53,141,199,1) 0%, rgba(6,110,180,1) 55%, rgba(6,110,180,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#358dc7', endColorstr='#066eb4', GradientType=0 );
}

.error_under {
	color: red;
	float: left;
	font-size: 12px;
	text-indent: 0;
	width: 100%;
 }