
* {margin:0;padding:0;color:#555;font-family:open sans;}


body { -webkit-text-size-adjust:none; }

.wrapper {width:100%; margin:0 auto; position:relative; overflow:hidden; background:#fff;}

.wrap_top_head_member{
	background:#3d3d3d;
	font-size:12px;
	padding:2px 15px;
	height:24px;
}
.wrap_top_head_member .member_left{
	width:40%;
	float:left;
	padding:4px 0px 4px 0px;
	color:#F8F8F8;
}
.wrap_top_head_member .member_right{
	width:60%;
	float:left;
	padding:4px 0px 4px 0px;
	overflow:auto;
}
.member_right .logged_in, .member_right .logged_out{
	float:right;
	overflow:auto;
}
.member_right .logged_out{
	margin-right:2%;
}
.member_right .logged_out img, .member_right .logged_in img{
	float:left;
	width:15px;
	height:15px;
	margin-right:4px;
}
.member_right .logged_out a, .member_right .logged_in a{
	color:#F8F8F8;
	text-decoration:none;
}
.mainHeader .top_head_search {
	width: 100%;
	height: auto;
}

.mainHeader .bg_bottom {
	width: 100%;
	height: auto;
}

 .mainHeader .bg_bottom .search_left{
	width: 39%;
	float: left;
	height: 3px;
	background-image: url('/images/public_mobile_site/m_bg_search_blue_old.png');
	
}

.mainHeader .bg_bottom .search_right{
	width: 60%;
	float: left;
	height: 3px;
	background-image: url('/images/public_mobile_site/m_bg_search_blue.png');
}

.mainHeader .bg_bottom .search_center{
	background-color: #368cc5;
    background-image: url("/images/public_mobile_site/m_bg_search.png");
    background-repeat: no-repeat;
    float: left;
    height: 3px;
    width: 1%;
}


 .mainHeader .top_head_search .search_left{
	width: 39%;
	float: left;
	height: 60px;
	background-image: url('/images/public_mobile_site/m_bg_search_blue_old.png');
	
}

.mainHeader .top_head_search .search_right{
	width: 60%;
	float: left;
	height: 60px;
	background-image: url('/images/public_mobile_site/m_bg_search_blue.png');
}

.mainHeader .top_head_search .search_center{
	background-color: #368cc5;
    background-image: url("/images/public_mobile_site/m_bg_search.png");
    background-repeat: no-repeat;
    float: left;
    height: 60px;
    width: 1%;
}

.mainHeader .top_head_search .search_box_tool{
	top:-45px;
    display: inline-block;
    float: right;
    position: relative;
    text-align: center;
    width: 94%;
      height: 0;
}

.mainHeader .top_head_search .search_box_tool .searchbox{
	border: 0 none;
    border-radius: 4px;
    float: left;
    padding: 7px;
    width: 90%;
}

 .mainHeader .top_head_search .search_box_tool #button_search{
   	background-image: url("/images/public_mobile_site/m_button_search.png");
    background-repeat: no-repeat;
    border: 0 none;
    border-radius: 2px;
    float: left;
    height: 35px;
    margin-left: -37px;
    margin-top: -2px;
    width: 37px;
    cursor: pointer;
}



.mainHeader .top_head_logo_menu{
	background-image: url('/images/public_mobile_site/m_bg_head.png');
	border-top: 2px solid #0772ba;
}
	
.mainHeader .top_head_logo_menu .logo{
	float: left;
    width: 50%;
    height: 60px;
}

.mainHeader .top_head_logo_menu .logo img{
	margin-left: 15px;
    margin-top: 15px;
}

.mainHeader .top_head_logo_menu .nav{
	float: left;
    width: 50%;
    text-align: right;
    height: 60px;
}
 .mainHeader .top_head_logo_menu .nav img{
	margin-right: 15px;
    margin-top: 15px;
    cursor: pointer;
}


.container{
	min-height: 397px; 
	margin-top: 25px;
	margin-left: 15px;
	margin-right: 15px;
}

/*========== Start Menu ===========*/

.nav_content ul li{
	list-style: outside none none;
    padding: 5px;
}

.nav_content ul li:hover{
	background-color: #eff0f0;
}

.nav_content ul li a{
	color: #368cc5;
    display: inline-block;
    font-size: 14px;
    margin-left: 16px;
    padding: 10px 5px;
    text-decoration: none;
    width: 90%;
    font-weight: bold;
}

.nav_content ul li a:hover{
	background-color: #eff0f0;
}

.active, .active a{
	background-color: #0772BA;
	color: #FFFFFF !important;
}

.active, .active a:hover{
	background-color: #0772BA !important;
	color: #FFFFFF !important;
}


/*========== Start Menu ===========*/


/*========== Start Search Box ===========*/

#icon_slide_down_searchbox{
	cursor: pointer;
    float: left;
    margin-left: 4px;
    margin-top: 10px;
}

.content_search_box{
	height: 315px;
}


.search_box_left{
	background-image: url("/images/public_mobile_site/m_bg_search_blue_old.png");
	height: 310px;
	float: left;
	 width: 39.8%;
}

.search_box_center{
	background-image: url("/images/public_mobile_site/bg_center_search_box.png");
    background-repeat: no-repeat;
    height: 310px;
    float: left;
    width: 27%;
    background-color: #368cc5;
}

.search_box_right{
	height: 310px;
	float: left;
	width:33.2%;
	background-image: url("/images/public_mobile_site/m_bg_search_blue.png");
}

.search_box_tool_content{
	bottom: 0;
    display: inline-block;
    height: 0;
    position: relative;
    text-align: center;
    top: -315px;
    width: 100%;
}

.search_box_tool_content .content_form{
	margin-top: 17px;
}

.search_box_tool_content .content_form .field_select{
	margin-bottom: 10px;
    padding: 3px;
    width: 88%;
    line-height: 24px;

}

.title_search{
	border-bottom: 1px solid #fff;
    margin-left: 6%;
    padding-bottom: 7px;
    text-align: left;
    width: 88%;
}

.title_search h5{
	 color: #fff;
	 float: left;
}

.search_box_tool_content .title_search .icon_search{
	float: left;
	margin-right: 7px;
}


.row_field{
	margin-left: 6%;
    text-align: center;
    width: 93%;
}
#row_field_button{
	margin: 0 auto;
    width: 88%;	
}

.row_field .column_field{
	float: left;
    margin-right: 0.7%;
    width: 47%;
}

.row_field .column_field:nth-child(2n+0){

	margin-right: 0;

}

input, select {
 	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	webkit-appearance:none;
appearance:none;
text-indent: 1px;
text-overflow: '';
}

.row_field .column_field .field_select_year{
	margin-bottom: 10px;
    padding: 3px;
    width: 100%;
    line-height: 24px;
   
}

.row_field .column_field_price{
	float: left;
    margin-right: 0.7%;
    width: 47%;
}
.row_field .column_field_price .field_select_price{
	margin-bottom: 10px;
    padding: 3px;
    width: 100%;
   
}



.field_keyword{
	margin-bottom: 10px;
    padding: 3px;
    width: 88%;
}

.row_field{

}

.row_field .field_total_product{
    float: left;
    min-width: 123px;
    text-align: left;
    margin-top: 7px;
}

.row_field .field_total_product p{
	color: #FFF;
	font-size: 14px;
}

.row_field .field_btn_click{
    margin-top: -5px;
    overflow: hidden;
    text-align: right;

}

.row_field .field_btn_click .button_reset{
	background-color: #666666;
    border: 0 none;
    color: #fff;
    height: 30px;
    width: 60px;
    cursor: pointer;
}

.row_field .field_btn_click .button_submit{
	background-color: #323131;
    border: 0 none;
    color: #fff;
    height: 30px;
    width: 60px;
    cursor: pointer;
}


.main_content {
    margin-top: 19px;
}



/*========== End Search Box ===========*/



/*========= Start footer ===========*/
	footer{
		margin-top: 10px;
	}
	.main_footer{

	}

	.main_footer .footer_top{
		background-image: url("/images/public_mobile_site/m_bg_footer_top.png");
	    background-repeat: repeat-x;
	    background-size: 100% auto;
	    height: 3px;
	}

	.main_footer .footer_center{
		background-image: url("/images/public_mobile_site/m_bg_footer.png");
    	border-top: 3px solid #0772ba;
	}

	.main_footer .footer_center .footer_center_left{
		float: left;
	    height: 80px;
	    width: 50%;
	}

	.main_footer .footer_center .footer_center_right{
		float: left;
	    height: 80px;
	    width: 50%;
	}

	.main_footer .footer_center .footer_buttom{
		padding-bottom: 20px;
	}

	.main_footer .footer_center .footer_buttom .text_foot_1{
		color: #fff;
    	text-align: center;
    	 font-size: 11px;
	}

	.main_footer .footer_center .footer_buttom .text_foot_2{
		color: #fff;
    	text-align: center;
    	 font-size: 11px;
	}

	.main_footer .footer_center .footer_center_left .total_product{
		color: #fff;
	    margin-left: 9px;
	    margin-top: 15px;
	    font-size: 11px;
	}
	
	.main_footer .footer_center .footer_center_left .total_product span{
		background-color: #0772ba;
	    color: #fff;
	    padding: 4px;
		margin-left:1px;
	}


	.main_footer .footer_center .footer_center_right .total_visitor{
		color: #fff;
	    margin-top: 15px;
	    margin-right: 9px;
	    float: right;
	    font-size: 11px;
	}

	.main_footer .footer_center .footer_center_right .total_visitor span{
		background-color: #0772ba;
	    color: #fff;
	    padding: 4px;
		margin-left:1px;
	}
	.w_mobile_version{
		font-size: 11px;
	    margin: 10px auto;
	    width: 95px;
	}
	.w_mobile_version a{
		text-decoration: none;
	}
	.mobile_version{
		margin-left: 10px;
		vertical-align: top;
		color: #fff;
	}

/*========= End footer ===========*/


.clear{
	clear: both;
}





@media screen and (min-width:1px) and (max-width:800px){
	.wrapper {width:100%;}

}