.main_category_type_brand_country{
   margin: 0 auto;
    width: 100%;
}


/*========== Start Tool Country ============*/

.main_category_type_brand_country .category_country{
	border-top: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
	border-left: 1px solid #cacaca;
}

.main_category_type_brand_country .category_country .category_country_top{
	
	border-bottom: 1px solid #cacaca;
  background-image: url('/images/public_mobile_site/home/bg_bar.png');

}



.main_category_type_brand_country .category_country .category_country_top .category_country_top_left{
  	background-image: url("/images/public_mobile_site/m_bg_sidebar_tool.png");
    background-repeat: no-repeat;
    float: left;
   height: 32px;
     width: 15px;
}

.main_category_type_brand_country .category_country .category_country_top .category_country_top_right p{
	margin-left: 9px;
    margin-top: 6px;
    color: #0772ba;
    font-size: 14px;
    font-weight: bold;
}

.main_category_type_brand_country .category_country .category_country_top .category_country_top_right{
	  float: left;
    height: 32px;
    width: 70%;
   	/*background-image: url('/images/public_mobile_site/m_bg_head.png');*/
}

.main_category_type_brand_country .category_country .category_icon_top_right{
  float: right;
    margin-right: 8px;
    margin-top: 6px;
}


/*========== End Tool Country ============*/



/*========== Start Tool brand and type ============*/


.main_category_type_brand_country .type_of_category{
  border-top: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-left: 1px solid #cacaca;
  margin-top: 19px;
}

.main_category_type_brand_country .type_of_category .type_of_category_top{
 /*background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(243,242,242,1) 75%, rgba(250,250,250,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(2%, rgba(255,255,255,1)), color-stop(75%, rgba(243,242,242,1)), color-stop(100%, rgba(250,250,250,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(243,242,242,1) 75%, rgba(250,250,250,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(243,242,242,1) 75%, rgba(250,250,250,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(243,242,242,1) 75%, rgba(250,250,250,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(243,242,242,1) 75%, rgba(250,250,250,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa', GradientType=0 );
*/
  background-image: url('/images/public_mobile_site/home/bg_bar.png');
  border-bottom: 1px solid #cacaca;
}



.main_category_type_brand_country .type_of_category .type_of_category_top .type_of_category_top_left{
    background-image: url("/images/public_mobile_site/m_bg_sidebar_tool.png");
    background-repeat: no-repeat;
    float: left;
   height: 32px;
     width: 15px;
}

.main_category_type_brand_country .type_of_category .type_of_category_top .type_of_category_top_right p{
  margin-left: 9px;
    margin-top: 6px;
    color: #0772ba;
    font-size: 14px;
    font-weight: bold;
}

.main_category_type_brand_country .type_of_category .type_of_category_top .type_of_category_top_right{
    float: left;
    height: 32px;
    width: 70%;
   /* background-image: url('/images/public_mobile_site/m_bg_head.png');*/
}

.main_category_type_brand_country .type_of_category .category_icon_top_right{
  float: right;
    margin-right: 8px;
    margin-top: 6px;
}


.content_category{
  border-bottom: 1px solid #cacaca;
}

.content_category .main_category_list{

}

.content_category ul.main_category_list li.category_list{
  list-style: outside none none;
  padding: 5px 2px 0 5px;
}

.content_category ul.main_category_list li.category_list:hover{
    background-color: #EFF0F0;
}

.content_category ul.main_category_list li.category_list a{
   text-decoration: none;
}

.content_category ul.main_category_list li.category_list a .category_icon{
   float: left;
   width: 50px;
}

.content_category ul.main_category_list li.category_list a .category_title{
    overflow: hidden;
    width: 80%;
    font-size: 12px;
    margin-top: 5px;
}



.click_slide_up_down_brand{
  cursor: pointer;
}



.click_slide_up_down_type{
  cursor: pointer;
}



/*========== End Tool brand and type ============*/



.click_slide_up_down_country{
  cursor: pointer;
}

.main_category_type_brand_country .category_country .category_country_content .item_country{
    border-bottom: 1px solid #cacaca;
    padding: 12px 5px 5px;
}

.main_category_type_brand_country .category_country .category_country_content .item_country:hover{
  background-color: #EFF0F0;
}

.main_category_type_brand_country .category_country .category_country_content .item_country .item_country_icon{
	float: left;
  width: 43px;
}

.main_category_type_brand_country .category_country .category_country_content .item_country .item_country_icon img{
	margin-left: 10px;
  height:23px;
  margin-top: -2px
}


.main_category_type_brand_country .category_country .category_country_content .item_country .item_country_title{
	float: left;
    width: 75%;
}

.main_category_type_brand_country .category_country .category_country_content .item_country .item_country_title p{
  font-size: 12px;
}



/*============== Start popular car ============== */



.main_content .content_popular{
   border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
}

.main_content .content_popular .popular_title{
    background-color: #dcdee3;
    border-bottom: 1px solid #cacaca;
    height: 32px;
}

.main_content .content_popular .popular_title .title{
    float: left;
    padding-left: 10px;
    padding-top: 7px;
    width: 80%;
}

.main_content .content_popular .popular_title .title h5{
    color: #2380bf;
    font-size: 14px;
}


.main_content .content_popular .popular_title .icon_see_more{
    display: inline-block;
    float: right;
    margin-top: 7px;
    padding-right: 8px;
}




.block_content{

} 

.block_content .list_item{
   border-bottom: 1px solid #cacaca;
}



.block_content .list_item .image_item{ 
    float: left;
    padding: 12px 5px;
}

.block_content .list_item .image_item img{
  width: 100%;
  height: auto;
}


.list_item .image_item .sold_out{
    left: 21px;
    position: absolute;
    width: 120px;
    z-index: 999;
}

/*.block_content .list_item .info_item{ 
    float: left;
    padding: 12px 5px;
    width: 80%;
}*/


.block_content .list_item .info_item{ 
    overflow: hidden;
    padding: 12px 5px;
    width: 50%;
}
 

.block_content .list_item .info_item h5{
    
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
} 

.block_content .list_item .info_item h5 a{
  color: #0772ba;
  text-decoration: none;
}

.block_content .list_item .info_item div{
      font-size: 12px;
    line-height: 18px;
} 
 
.block_content .list_item .info_item .wrap_item{

}

.block_content .list_item .info_item .wrap_item .text_left{
   display: inline;
    float: left;
}

.block_content .list_item .info_item .wrap_item .text_right{
   display: inline;
    float: left;
}

.block_content .list_item .info_item div span{
    font-weight: bold;
} 

.block_content .list_item .info_item p.fob_price{
   font-weight: bold;
  padding-top: 10px;
  font-size: 12px;
}


.block_content .list_item .info_item p span.fob_price_number{
  color: #ff0000;
}



/*============== end popular car ============== */




/*============== Start New and updated car ============== */



.main_content .content_new_update{
   border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
}

.main_content .content_new_update .new_update_title{
    background-color: #dcdee3;
    border-bottom: 1px solid #cacaca;
    height: 32px;
}

.main_content .content_new_update .new_update_title .title{
    padding-left: 16px;
    padding-top: 7px;
    width: 70%;
    float: left;
}

.main_content .content_new_update .new_update_title .title h5{
    color: #2380bf;
    font-size: 14px;
}


.main_content .content_new_update .new_update_title .icon_see_more{
    display: inline-block;
    float: right;
    margin-top: 7px;
    padding-right: 8px;
}




.block_content{

} 

.block_content .list_item{
   border-bottom: 1px solid #cacaca;
}



.block_content .list_item .image_item{ 
    float: left;
    padding: 12px 5px;
}

.block_content .list_item .image_item img{
  width: 117px;
  height: 82px;
}

/*.block_content .list_item .image_item img{
  width: 100%;
  height: auto;
}*/

/*.block_content .list_item .info_item{ 
    float: left;
    padding: 12px 5px;
    width: 80%;
}*/


.block_content .list_item .info_item{ 
    overflow: hidden;
    padding: 12px 5px;
    width: 50%;
}
 

.block_content .list_item .info_item h5{
    color: #0772ba;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
} 

.block_content .list_item .info_item div{
      font-size: 12px;
    line-height: 18px;
} 
 
.block_content .list_item .info_item .wrap_item{

}

.block_content .list_item .info_item .wrap_item .text_left{
   display: inline;
    float: left;
}

.block_content .list_item .info_item .wrap_item .text_right{
   display: inline;
    float: left;
}

.block_content .list_item .info_item div span{
    font-weight: bold;
} 

.block_content .list_item .info_item p.fob_price{
   font-weight: bold;
  padding-top: 10px;
  font-size: 12px;
}


.block_content .list_item .info_item p span.fob_price_number{
  color: #ff0000;
}



/*============== end New and updated car ============== */


.clear{
	clear: both;
}

@media screen and (min-width:1px) and (max-width:800px){


}