.main_content{

}

.main_content .title_content_how_to_buy{
	text-align: center;
}

.main_content .title_content_how_to_buy p{
	font-size: 12px;
	color: #414042;
	line-height: 23px;
}

.main_content .title_content_how_to_buy p.step_of_buy{
	font-size: 16px;
	color: #0772ba;
	font-weight: bold;
}

.main_content .desc_content_how_to_buy{
	margin-top: 45px;
}

.main_content .desc_content_how_to_buy .row_content{

}

.main_content .desc_content_how_to_buy .row_content .title_step_content{
	margin-bottom: 9px;
}

.main_content .desc_content_how_to_buy .row_content .title_step_content p{
    font-size: 16px;
    font-weight: bold;
}

.main_content .desc_content_how_to_buy .row_content .title_step_content p span{
	color: #0772ba;	
}

.step_content{

}

.step_content .step_content_image{
	 display: inline-block;
    float: left;
    margin-right: 14px;
}

.step_content .step_content_text{

}

.step_content .step_content_text p{
	font-size: 12px;
	line-height: 27px;
}

.step_content .step_content_text p span{
	color: #3d3d3d;
}

.step_content .img_acc_detail{
	margin-top: 6px;
}

.img_acc_detail img {
	min-width: 235px;
    width: 21%;
}

 .main_address_bank_account{

}

 .main_address_bank_account .address_content_bank_account{
	
}

.main_address_bank_account .address_content_bank_account .main_content_bank_account_text{
	width: 80%;
	float: left;
}

.main_address_bank_account .address_content_bank_account .right_content_bank_account{
	background-color: #e6f1f8;
	text-align: center;
}


 .main_address_bank_account p.title_address_bank_account{
	 color: #3d3d3d;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.main_address_bank_account p.name_address_bank_account{
	 color: #0772ba;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.address_content_bank_account .main_content_bank_account_text table.table_bank_account{
	 width: 100%;
}

.address_content_bank_account .main_content_bank_account_text table{
	border-collapse: collapse;
}

.address_content_bank_account .main_content_bank_account_text table.table_bank_account tr td{
	font-size: 12px;
}

.address_content_bank_account .main_content_bank_account_text table.table_bank_account tr td.td1_bank_account{
	background-color: #0772ba;
    color: #fff;
    padding: 5px;
}

.address_content_bank_account .main_content_bank_account_text table.table_bank_account tr td.td2_bank_account{
	background-color: #e6f1f8;
	padding: 5px;
}


.mian_shipping_how_to_buy{
	margin-top: 18px;
}

.mian_shipping_how_to_buy .img_shipping_how_to_buy{

}


.mian_shipping_how_to_buy .img_shipping_how_to_buy img{
	min-width: 235px;
    width: 45%;	
}

.mian_shipping_how_to_buy .desc_shipping_how_to_buy p{
	font-size: 12px;
}

.step_content .step_content_text .img_shipping_of_landing img{
	min-width: 235px;
    width: 21%;
}

#step3{
	margin-top: 25px;
}

#step4{
	margin-top: 11px;
}
#step5{
	margin-top: 35px;
	margin-bottom: 55px;
}
.step_content .img_clearing{
	margin-top: 2px;
}
.step_content .img_clearing img{
	min-width: 235px;
    width: 33%;
}	
.clear{
	clear:both;
}