.wrapp_mobile_login{
  border: 3px solid #1c75bc;
  min-height: 390px;
  width: 100%;
}
.mobile_login_username_input{
  text-indent: 4%;
}
.mobile_login_username {
    height: 33px;
    margin-bottom: 14px;
    text-indent: 2%;
    width: 92%;
}
.mobile_login_to_your_account {
    font-size: 12px;
    margin-bottom: 9px;
    text-indent: 5%;
    color: #000;
}
.mobile_login {
    color: #0772ba;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 30px;
    text-indent: 5%;
}
.mobile_login_left {
    background: rgba(0, 0, 0, 0) url("/images/public_mobile_site/login/login_line.png") repeat scroll 0 0;
    width: 100%;
    min-height: 390px;
}
.mobile_login_left .resend_again{
    text-decoration: none;
    color: #0772BA;
}
.mobile_login_remember_input {
    font-size: 12px;
    margin-bottom: 16px;
    
}
.wrapp_mobile_chckbox{
  float: left;
  min-height: 16px;
  text-indent: 10%;
  width: 43%;
}
.mobile_chckbox {
  width: 100%;
}
.mobile_forgot_password {
    font-size: 11px;
    font-weight: bold;
    overflow: hidden;
    text-align: right;
    text-indent: 2%;
    width: 50%;
}
.mobile_forgot_password a {
    color: #0772ba;
    text-decoration: none;
}
.mobile_btn_login {
    text-indent: 4%;
}
.mobile_login_btn_search {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(53, 141, 199, 1) 0%, rgba(6, 110, 180, 1) 55%, rgba(6, 110, 180, 1) 100%) repeat scroll 0 0;
    border-color: #0772ba #0772ba #054a70;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    width: 117px;
}
.mobile_don_have_account {
    font-size: 12px;
    margin-top: 55px;
    overflow: hidden;
}
.mobile_don_have {
    float: left;
    text-indent: 4%;
    width: 100%;
}
.mobile_don_have a {
    color: #0772ba;
    font-weight: bold;
    text-decoration: none;
}
.top_head_search{
    display: none;
}