.wrapp_register{
  border: 3px solid #1c75bc;
  min-height: 390px;
  width: 100%;
}
.mobile_register_email {
    height: 33px;
    margin-bottom: 14px;
    text-indent: 2%;
    width: 92%;
	margin: 0.9% 4%;
}
.mobile_text_free{
	font-size: 14px;
    margin-bottom: 9px;
    margin-left: 4%;
	font-weight:bold;
    color: #000;
}
.mobile_text_create_acc {
    font-size: 12px;
    margin-bottom: 9px;
    text-indent: 4%;
    color: #000;
}
.mobile_register {
    color: #0772ba;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 30px;
    text-indent: 5%;
}
.register_left {
    background: rgba(0, 0, 0, 0) url("/images/public_mobile_site/login/login_line.png") repeat scroll 0 0;
    width: 100%;
    min-height: 390px;
}
.mobile_btn_register {
    text-indent: 4%;
	margin-top:15px;
}
.mobile_register_btn_search {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(53, 141, 199, 1) 0%, rgba(6, 110, 180, 1) 55%, rgba(6, 110, 180, 1) 100%) repeat scroll 0 0;
    border-color: #0772ba #0772ba #054a70;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    width: 117px;
}
.error_requried{
    font-size: 12px;
    color:red;
    font-style: italic;
    font-weight: bold;
    margin: 0 4%;
}

.error_under {
    color: red;
    float: left;
    font-size: 12px;
    margin: 0 4%;
    text-indent: 0;
    width: 100%;
}
.error_under_email{
    color: red;
    float: left;
    font-size: 12px;
    margin: 0 4%;
    text-indent: 0;
    width: 100%;
}