a.not_click {
    pointer-events: none;
}

#wrapper_seller{
    width: 100%;
}
.main_category_type_brand_country{
   width: 100%;
}

/*========== Start Tool total price calculator ============*/

.main_category_type_brand_country .type_of_category{
  border-top: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-left: 1px solid #cacaca;
  margin-top: 19px;
}

.main_category_type_brand_country .type_of_category .type_of_category_top{
  background-color: #f4f5f5;
  border-bottom: 1px solid #cacaca;
}
.main_category_type_brand_country .type_of_category .type_of_category_top .type_of_category_top_left{
    background-image: url("/images/public_mobile_site/m_bg_sidebar_tool.png");
    background-repeat: no-repeat;
    float: left;
    height: 32px;
    width: 15px;
}
.main_category_type_brand_country .type_of_category .type_of_category_top .type_of_category_top_right p{
    margin-left: 9px;
    margin-top: 9px;
    color: #0772ba;
    font-size: 14px;
    font-weight: bold;
}

.main_category_type_brand_country .type_of_category .type_of_category_top .type_of_category_top_right{
    float: left;
    height: 32px;
    width: 70%;
    background-image: url('/images/public_mobile_site/m_bg_head.png');
}


.search_blog{
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
}
.search_blog input[type="text"]{
    height: 25px;
    width: 26%;
    border:1px solid #cacaca;
    min-width: 118px;
    text-indent: 5px;
}
.search_blog select{
    height: 25px;
    width: 26%;
    border:1px solid #cacaca;
    min-width: 85px;
    -moz-appearance:block;

}
.search_blog input[type="submit"]{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(45, 164, 103, 1) 0%, rgba(0, 144, 70, 1) 53%, rgba(0, 144, 70, 1) 100%) repeat scroll 0 0;
    border: 1px solid #009045;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 27px;
    min-width: 61px;
    width: 10%;
    text-decoration: none;
}
.wrapper_info_seller{
    width: 100%;
    margin-top: 15px;
}
.wrapper_info_seller .info_seller_blog{
    width: 100%;
    border:1px solid #cacaca;
    margin-bottom: 8px;
}
.info_seller_blog .info_title_seller{
   background-color: #e6f1f8;
   border-bottom: 1px solid #cacaca;
   height: 27px;
   text-align: center;
   width: 100%;
}
.info_seller_blog .info_title_seller span {
    color: #0772ba;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}
.info_seller_blog .seller_left{
   float: left;
   max-width: 100px;
   width: 100%;
   margin: 5px 5px;
}
.info_seller_blog .seller_left img{
  width: 100%;
  height:68px;
  border:1px solid #cacaca;
}
.info_seller_blog .seller_right{
  overflow: hidden;
  width: 57%;
}
.info_seller_blog .seller_right .float_left{
  float: left;
}
.info_seller_blog .seller_right .contact_person{
  font-size: 12px;
  margin-left: 92px;
}
.info_seller_blog .seller_right .contact_addr_country{
  font-size: 12px;
  margin-left: 51px;
}
 .info_seller_blog .seller_right  p{
  color:#333333;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 0;
  -webkit-text-size-adjust: 100%;

}
.info_seller_blog .seller_right span{
  color:#0772ba;
  font-size: 12px;
  font-weight: bold;
}
.info_seller_blog .total_product_seller{
    width: 100%;
    margin-top: 17px;
    margin-bottom:10px
}
.info_seller_blog .total_product_seller .seller_bottom_left {
    float: left;
    min-width: 130px;
}
.info_seller_blog .total_product_seller  .seller_bottom_left span {
    color: #323131;
    float: left;
    font-size: 12px;
    padding-left: 10px;
}
.info_seller_blog .total_product_seller  .seller_bottom_left p {
    color: red;
    float: left;
    font-size: 14px;
    margin-left: 3px;
    padding: 0;
}
.info_seller_blog .total_product_seller .seller_bottom_right {
    float: right;
    margin-right: 9px;
    width: 112px;
}
.info_seller_blog .total_product_seller .seller_bottom_right input[type="button"] {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(54, 141, 199, 1) 0%, rgba(54, 141, 199, 1) 50%, rgba(7, 115, 186, 1) 100%) repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-size: 11.67px;
    height: 25px;
    min-width: 90px;
}
.info_seller_blog .total_product_seller .seller_bottom_right a {
    text-decoration: none;
}

.clear{
	clear: both;
}

.pagination{
  text-align: center;
}

.pagination ul.paginnav{
  display: inline-flex;
    margin-top: 52px;
    padding: 0;
    margin-bottom: 30px;
}

.pagination ul li{
  float: left;
    list-style: outside none none;
    margin-left: 10px;
}

.pagination ul li a{
  text-decoration: none;
  color: #666666;
  font-size: 14px;
  cursor: pointer;
}

.pagination ul li.current{
  background-color: #008cba;
    border-radius: 2px;
    padding: 0 5px;
}

.pagination ul li.current>a{
  color: #fff;

}



