.wrapp_mobile_complete{

}
.wrapp_complete {
    color: #0772ba;
    font-size: 24px;
    height: 65px;
    min-width: 100%;
    padding-top: 9px;
    text-align: center;
}
.mobile_image_complete{
    width: 100%
}
.mobile_image_complete_two{
    width: 99%;
    border:3px solid #cacaca;
    padding-top: 50px;
}
.top_head_search{
    display: none;
}
.mobile_welcom{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.mobile_register_completed{
    color: #0772ba;
    font-size: 16px;
    text-align: center;
}
.wrapp_mobile_welcom_register{
    margin-bottom: 25px;
    overflow: hidden;
}
.mobile_success_password{
    text-align: right;
    width: 41%;
    float: left;
}
.mobile_change_password{
    float: left;
    padding-top: 7px;
    text-align: left;
    width: 59%;
    text-indent: 2%;
    color: #0772ba;
}
