
.wrapp_complete {
    color: #0772ba;
    font-size: 24px;
    height: 65px;
    min-width: 100%;
    padding-top: 9px;
    text-align: center;
}
.mobile_image_complete{
    width: 100%
}
.mobile_image_complete_two{
    width: 99%;
    border:3px solid #cacaca;
    padding-top: 55px;
}
.top_head_search{
    display: none;
}
.mobile_welcom{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.mobile_register_completed{
    color: #0772ba;
    font-size: 16px;
    text-align: center;
}
.wrapp_mobile_welcom_register{
    margin-bottom: 50px;
}

.login_btn_search {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(53, 141, 199, 1) 0%, rgba(6, 110, 180, 1) 55%, rgba(6, 110, 180, 1) 100%) repeat scroll 0 0;
    border-color: #0772ba #0772ba #054a70;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    width: 100px;
}
