/**
 * Default Toolbar
 */
.xquared .toolbar {
	border: 1px solid #c2c2c2;
	border-bottom: none;
}
.xquared .editor {
	border: 1px solid #c2c2c2;
	border-top: none; 
}

.xquared div.toolbar {
	position: relative;
	background-color: #ebebeb;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-image: url(/editor/xquared/images/toolbar/toolbarBg.gif);
}

.xquared ul.buttons {
	position: relative;
	margin: 0;
	padding: 5px 4px 2px;
	list-style: none;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	overflow: hidden;
	height: 100%;
}
.xquared ul.buttons li {
	float: left;
	padding-bottom: 3px;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-image: url(/editor/xquared/images/toolbar/toolbarButtonBg.gif);
}
.xquared ul.buttons li.xq_separator {
	padding-left: 0px;
	margin-left: 5px; 
	background-position: 0 0;
	background-repeat: repeat-x;
}
.xquared ul.buttons li a {
	display: block;
	padding: 2px;
	font-size: 0;
	border: 1px solid #d2d2d2;
	margin-right: -1px;
	position: relative;
	height: 100%;
	_height: auto;
	z-index: 0;
	cursor: pointer;
}
.xquared ul.buttons li a img {
	height: 15px;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 1.25em;
}

/* selected */
.xquared ul.buttons li a.selected {
	background-color: #dbdbdb;
	border-top: 1px solid #a2a2a2;
	border-left: 1px solid #9b9b9b;
	border-right: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	position: relative;
	z-index: 1;
}

/* mouseover */
.xquared ul.buttons li a:hover {
	border: 1px solid #666;
	background-color: transparent;
	position: relative;
	z-index: 2;
}

/* disabled */
.xquared .disabled ul.buttons li a,
.xquared ul.buttons li .disabled a {
	background-color: #fff;
	opacity: 0.3;
	filter:alpha(opacity=30);
	_width: 1px;
	_height: 1px;
	cursor: default;
}
.xquared .disabled ul.buttons li a,
.xquared ul.buttons li .disabled a:hover {
	border: 1px solid #dbdbdb;
	position: relative;
	z-index: 0;
}
.xquared .disabled ul.buttons li a,
.xquared ul.buttons li .disabled a.selected {
	border: 1px solid #dbdbdb;
}

/* editor */
.xquared .editor {
	height:300px;
}
.xquared .editor textarea,
.xquared .editor iframe {
	margin: 0;
	padding: 0;
	border: 0 none;
	height: 100%;
	width: 100%;
}

.xquared .editor textarea {
	/* TODO remove IE6 hack */
	_height: expression(this.parentNode.clientHeight - 2 - parseInt(this.currentStyle.borderTopWidth) - parseInt(this.currentStyle.borderBottomWidth));
}
*+html .xquared .editor textarea {
	/* TODO remove IE7 hack */
	height: expression(this.parentNode.clientHeight - 1 - parseInt(this.currentStyle.borderTopWidth) - parseInt(this.currentStyle.borderBottomWidth));
}

.xquared .source_editor {
	padding-left: 0.3em;
}


/**
 * Context Menu
 */
.xqContextMenu {
	position:absolute;
	z-index: 902;
	font-size: medium;
	font-family: arial, "돋움";
	width:auto;
	margin:0;
	padding:3px;
	border:1px solid #aaa;
	list-style:none;
	background-color: #fff;
}
.xqContextMenu li {
	padding:2px 3px 2px 20px;
	background-position:left;
	background-repeat:no-repeat;
	color:#aaa;
	display:block;
	width:200px;
}
.xqContextMenu a {
	color:#000;
	text-decoration:none;
}
.xqContextMenu .separator {
	margin-top:5px;
	padding-bottom:0px;
	line-height:0em;
	height: 1px;
	/height: auto;
	border-top: 1px solid #aaa;
}

/**
 * Controls - QuickSearchDialog
 */
.xqQuickSearch {
	position:absolute;
	z-index: 902;
	font-size: medium;
	font-family: arial, "돋움";
	width:15em;
	margin:0;
	padding:0;
	border:1px solid #aaa;
	list-style:none;
	background-color: #fff;
	overflow:auto; /* to fix FF caret bug */
}

.xqQuickSearch h1 {
	font-size: medium;
	font-weight: bold;
	margin: 2px;
	padding: 2px;
}

.xqQuickSearch .input {
	border: 1px solid #aaa;
	padding: 2px;
	margin: 2px;
}

.xqQuickSearch form {
	padding: 0;
	margin: 0;
}
	
.xqQuickSearch input {
	border-width: 0;
	margin: 0 2px;
	width: 98%;
}

.xqQuickSearch ol {
	border: 1px solid #aaa;
	padding: 2px;
	margin: 2px;
	height: 10em;
	overflow: auto;
}

.xqQuickSearch li {
	list-style: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	_cursor: hand;
}

.xqQuickSearch li.selected {
	background-color: #ffd;
}

/**
 * Default Dialog
 */

/* base */
.xqFormDialog {
	border: 1px solid #c0c0c0;
	font: 12px gulim,sans-serif;
	line-height: 18px;
	background-color: #fff;
	position: absolute;
	z-index: 903;
}
.xqFormDialog * {
	margin: 0;
	padding: 0;
}
.xqFormDialog a:link, .xqFormDialog a:visited {
	text-decoration:none;
	outline:none;
}
.xqFormDialog a:hover {
	text-decoration:underline;
}
.xqFormDialog ul,
.xqFormDialog ol {
	list-style: none;
}
.xqFormDialog img {
	border: none;
	vertical-align: top;
}

/* lightweight base */
.lightweight a {
	color: #333;
	cursor: pointer;
}
.lightweight h3 {
	display: none;
}
.lightweight .dialog-content {
	padding: 6px 8px 5px;
}

/* modal dialog base */
.modal {
	/*
	position: relative;
	width: 100%;
	*/
}
.modal, .modal a {
	color: #646464;
}
.modal h3 {
	font-size: 12px;
	color: #333;
	background-color: #f5f5f5;
	padding: 7px 17px 6px;
	margin: 2px;
}
.modal .dialog-content {
	padding: 20px;
}
.modal .close-dialog {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 0;
	line-height: 0;
}

/* buttons base */
.dialog-buttons {
	overflow: hidden;
	height: 100%;
}
.dialog-buttons a {
	border-width: 1px;
	border-style: solid;
	display: block;
	float: right;
	background-position: 0 0;
	background-repeat: repeat-x;
	padding: 4px 8px 3px 9px;
	margin: 0 0 0 4px;
	text-decoration: none !important;
}
.dialog-buttons a.button-gray {
	color: #fff;
	border-color: #7d7d7d;
	background-color: #6b6b6b;
	background-image: url(/editor/xquared/images/dialogs/btn_gray_bg.gif);
}
.dialog-buttons a.button-white {
	color: #666;
	border-color: #c2c2c2;
	background-color: #e6e6e6;
	background-image: url(/editor/xquared/images/dialogs/btn_white_bg.gif);
}

/* fontFamily Dialog */
#fontFaceDialog {
	width: 101px;
}

/* fontSize Dialog */
#fontSizeDialog {
	width: 400px;
}
#fontSizeDialog li {
	padding: 0 0 5px 0;
}

/* foreGroundDialog , backGroundDialog */
#foregroundColorDialog .dialog-content, 
#backgroundColorDialog .dialog-content {
	padding: 9px 5px;
}
#foregroundColorDialog .item-list,
#backgroundColorDialog .item-list {
	height: 100%;
	overflow: hidden;
}
#foregroundColorDialog .item-list li,
#backgroundColorDialog .item-list li {
	margin: 0 0 2px 4px;
	_margin: 0 0 0 2px !important;
	padding: 0 0 2px !important;
	font-size: 0;
	line-height: 0;
	float: left;
	cursor: pointer;
	width: 12px;
	height: 12px;
}
#foregroundColorDialog .item-list li a,
#backgroundColorDialog .item-list li a {
	display: block;
	width: 100%;
	height: 100%;
}
#foregroundColorDialog .item-list li.first-child,
#backgroundColorDialog .item-list li.first-child {
	margin: 0;
}
#foregroundColorDialog .item-list li a:hover,
#backgroundColorDialog .item-list li a:hover {
	border-color: #000 !important;
}
#foregroundColorDialog a.remove-color {
	font-family: Arial, Dotum;
	font-size: 0.916em;
	color: #8e8e8e;
	border: 1px solid #c1c1c1;
	text-align: center;
	display: block;
	text-decoration: none;
	letter-spacing: -1px;
	margin-top: 4px;
}
/* foregroundColorDialog */
#foregroundColorDialog {
	width: 208px;
	z-index: 904;
}
#foregroundColorDialog .more {
	text-align: right;
	margin: 0 5px 0 0;
	/margin-top: 5px;
	/margin-bottom: 5px;
}
#foregroundColorDialog .more a {
	background: url(/editor/xquared/images/dialogs/icon_triangle_down_5x3_b4b4b4.gif) no-repeat 100% 4px;
	padding: 0 9px 0 0;
	font: 11px dotum, sans-serif;
	color: #8e8e8e;
}
#foregroundColorDialog .input-section {
	_width: 181px;
	overflow: hidden;
	margin: 0 0 10px;
}
#foregroundColorDialog .input-section * {
	vertical-align: middle;
	display: block;
	margin: 0 0 0 3px;
}
#foregroundColorDialog .input-section span {
	width: 70px;
	height: 18px;
	margin: 0;
	float: left;
}
#foregroundColorDialog .input-section .type-text {
	border: 1px solid #dfdfdf;
	border-top-color: #acacac;
	border-left-color: #acacac;
	padding: 2px 3px 1px;
	/padding: 1px 3px 1px;
	color: #333;
	width: 71px;
	float: left;
}
#foregroundColorDialog .dialog-buttons {
	float: left;
	margin: 0;
}
#foregroundColorDialog .dialog-buttons a {
	line-height: 15px;
	padding: 3px 4px 0;
	/padding: 1px 4px 2px;
	_padding: 3px 4px 0px;
}
#foregroundColorDialog .input-section .color-preview {
	border: 1px solid #dfdfdf;
	background-color: black;
	width:60px;
	display:inline;
}
#foregroundColorDialog #extForeColorLayer {
	padding: 10px 9px 10px 8px;
	width: 181px;
	_width: 173px;
	overflow: hidden;
	border-top: 1px solid #dfdfdf;
	display:none;
} 
#foregroundColorDialog #brightness {
	border: 1px solid #c4cad1;
	margin: 0 0 5px;
	font-size: 0;
	line-height: 0;
}
#foregroundColorDialog #brightness img {
	/position: relative;
	/top: -1px;
}
#foregroundColorDialog #color {
	border: 1px solid #c4cad1;
	font-size: 0;
	line-height: 0;
}
/* backgroundColorDialog */
#backgroundColorDialog {
	width: 156px;
	z-index: 904;
}
#backgroundColorDialog .item-list li {
	width: 16px;
	height: 16px;
	margin-left: 4px;
}
#backgroundColorDialog .item-list a {
	border: 1px solid #acacac;
}

/* headingDialog */
#heading1Dialog li {
	padding: 0 0 8px 0;
}
#heading1Dialog a {
	border-bottom:2px solid #425E89;
	line-height:1em;
	margin:0.2em 0;
	font-family: Arial,dotum,sans-serif;
	text-decoration: none !important;
}
/* emoticonDialog */
#emoticonDialog {
	width: 224px;
}
#emoticonDialog div.dialog-wrapper {
	position: relative;
	height: 100%;
}
#emoticonDialog ul {
	margin: 0 0 0 -3px;
	padding: 0;
	list-style: none;
	width: 100%;
	overflow: hidden;
}
#emoticonDialog ul li {
	width: 26px;
	height: 26px;
	float: left;
	text-align: center;
	position: relative;
}
#emoticonDialog ul li a {
	width: 24px;
	height: 24px;
	display: block;
	border: 1px solid #fff;
}
#emoticonDialog h6 {
	font-family: arial, sans-serif;
	font-size: 9px;
	color: #6f95d9;
	margin: 1px 0 -1px 2px;
	padding: 3px 0 0;
	background: url(/editor/xquared/images/dialogs/justify_divider.gif) repeat-x -29px 0;
}
#emoticonDialog ul li a:hover {
	background-color: #f2f7ff;
	border-color: #b7caec;
}

/* characterDialog */
#characterDialog {
	width: 337px;
}
#characterDialog div.dialog-wrapper {
	position: relative;
	height: 100%;
}
#characterDialog ul {
	margin: 0 0 0 -3px;
	padding: 0;
	list-style: none;
	width: 100%;
	overflow: hidden;
}
#characterDialog ul li {
	width: 20px;
	height: 20px;
	float: left;
	text-align: center;
	position: relative;
}
#characterDialog ul li a {
	width: 18px;
	height: 18px;
	display: block;
	border: 1px solid #fff;
}
#characterDialog h6 {
	font-family: arial, sans-serif;
	font-size: 9px;
	color: #6f95d9;
	margin: 1px 0 -1px 2px;
	padding: 3px 0 0;
	background: url(/editor/xquared/images/dialogs/justify_divider.gif) repeat-x -29px 0;
}
#characterDialog ul li a:hover {
	background-color: #f2f7ff;
	border-color: #b7caec;
}

/* linkDialog */
#linkDialog {
	width: 339px;
	background: #f4f4f4 url(/editor/xquared/images/dialogs/link_bg.gif) repeat-x 0 0;
}
#linkDialog .dialog-content {
	padding: 13px 15px;
}
#linkDialog .dialog-content p {
	color: #666;
	margin: 0 0 4px;
}
#linkDialog .dialog-content .type-text {
	border: 1px solid #c0c0c0;
	padding: 1px 2px 2px;
	font: 12px arial, sans-serif;
	color: #666;
	width: 146px;
}
#linkDialog .dialog-buttons a {
	font: 11px dotum,sans-serif;
	padding: 4px 4px 4px 5px;
}
#linkDialog .dialog-buttons,
#scriptDialog .dialog-buttons,
#iframeDialog .dialog-buttons {
	margin: 15px 0 0 80px;
}

/* iframeDialog */
#iframeDialog {
	width: 428px;
}
#iframeDialog .dialog-content p {
	margin: 0 0 4px;
}

/* scriptDialog */
#scriptDialog {
	width: 428px;
}

/* fileUploadDialog */
#multiFileUploadDialog,
#fileUploadDialog {
	width: 428px;
}
#multiFileUploadDialog .attachment-section,
#fileUploadDialog .attachment-section {
	border: 1px solid #e0e0e0;
	background-color: #f5f5f5;
	padding: 25px 10px 21px;
}
#multiFileUploadDialog .attachment-section label,
#fileUploadDialog .attachment-section label {
	margin-right: 9px;
	font-weight: bold;
}
#multiFileUploadDialog .attachment-section p,
#fileUploadDialog .attachment-section p {
	font: 11px dotum,sans-serif;
	width: 300px;
	padding: 0 0 0 36px;
	margin: 0 auto;
	background: url(/editor/xquared/images/dialogs/multifile.gif) no-repeat 0 0 ;
	line-height: 16px;
}
#multiFileUploadDialog .attachment-section p strong,
#fileUploadDialog .attachment-section p strong {
	font-weight: bold;
	color: #ff7536;
}
#multiFileUploadDialog .attachment-section .upload-button,
#fileUploadDialog .attachment-section .upload-button {
	text-align: center;
}
#multiFileUploadDialog .buttons,
#fileUploadDialog .buttons {
	text-align: right;
}
#multiFileUploadDialog .noti,
#fileUploadDialog .noti {
	font: 11px dotum, sans-serif;
	color: #979797;
	background: url(/editor/xquared/images/dialogs/notice.gif) no-repeat 0 0;
	padding: 0 0 0 16px;
	letter-spacing: -1px;
}
#multiFileUploadDialog .noti span,
#fileUploadDialog .noti span {
	display: block;
	margin: 5px 0 0;
}
#multiFileUploadDialog .noti a,
#fileUploadDialog .noti a {
	color: #ff7536;
	text-decoration: underline;
}
#multiFileUploadDialog .dialog-buttons,
#fileUploadDialog .dialog-buttons {
	margin: 10px 0 11px;
}
#multiFileUploadDialog .dialog-buttons a,
#fileUploadDialog .dialog-buttons a {
	float: right;
	margin: 0 0 0 4px;
}
#multiFileUploadDialog .upload-buttons,
#fileUploadDialog .upload-buttons {
	margin: 12px 0 0 157px;
}
#multiFileUploadDialog .upload-buttons a ,
#fileUploadDialog .upload-buttons a {
	font: 11px dotum,sans-serif;
	padding: 4px 4px 4px 5px;
	float: left;
}

#multiFileUploadDialog #fileListContainer {
	display:none;
}

#multiFileUploadDialog #uploadFileList {
	margin: 0;
	padding: 0 15px;
	list-style: none;
}
#multiFileUploadDialog #uploadFileList li {
	color:#646464;
	font-family:Arial;
	font-size:0.916em;
	background: url(/editor/xquared/images/dialogs/bullet_2x2.gif) no-repeat 0 8px;
	padding: 0 0 0 8px;
	overflow: hidden;
	height: 20px;
	/height: 17px;
}
#multiFileUploadDialog #uploadFileList div.div_left {
	float: left;
}
#multiFileUploadDialog #uploadFileList div.cancel_button {
	float: right;
}
#multiFileUploadDialog #uploadFileList div.graph {
	float: right;
	width: 76px;
	background: url(/editor/xquared/images/dialogs/multifile_blank.gif) no-repeat 0 0 ;
	margin-top: 4px;
	height: 12px;
}
#multiFileUploadDialog #uploadFileList div.graph div {
	width: 1%;
	overflow: hidden;
	height: 13px;
	margin-top: -1px;
	/margin-top: 0;
}
#multiFileUploadDialog #uploadFileList span.capacity {
	font-family: Arial;
	color: #b5b5b5;
}
#multiFileUploadDialog #uploadFileList a {
	color:#5A7ED4;
	text-decoration:underline;
}
#multiFileUploadDialog #uploadFileList span.overTheLimit,
#multiFileUploadDialog #uploadFileList span.belowTheLimit,
#multiFileUploadDialog #uploadFileList span.error {
	color: #ff7536;
	background: url(/editor/xquared/images/dialogs/check.gif) no-repeat 0 2px;
	padding: 0 0 0 12px;
}

/* videoDialog */
#videoDialog {
	width: 428px;
}
#videoDialog .dialog-content p {
	font: 11px dotum,sans-serif;
	line-height: 18px;
	letter-spacing: -1px;
	margin: -6px 0 6px;
}
#videoDialog .dialog-content textarea {
	border: 1px solid #c0c0c0;
	width: 378px;
	height: 91px;
	padding: 6px 4px;
	font-size: 12px;
}
#videoDialog .dialog-buttons {
	margin: 8px 0 0;
}


/*- tableDialog -------------------------*/
#tableDialog {
	width: 321px !important;
	color: #666;
}

#tableDialog ul {
	list-style: none;
}
#tableDialog form {
	margin: 0 18px;
	width: auto !important;	
}
#tableDialog div.dialog-content fieldset {
	margin: 0;
	padding: 0;
	border: none;
	background: url(/editor/xquared/images/dialogs/dot01.gif) repeat-x 0 0;	
	/background-position: 0 10px;
}
#tableDialog div.dialog-content fieldset.table-type {
	background: none;
	margin-bottom: 14px;
}
#tableDialog div.dialog-content fieldset.table-border {
	margin-bottom: -4px;
	/margin-bottom: 5px;
}
#tableDialog div.dialog-content legend {
	padding: 0 8px 0 0;
	color: #666;
	font-family: gulim, sans-serif;	
	background-color: #fff;
	font-weight: bold;
	display: inline !important;
	/margin-left: -8px;
}
#tableDialog div.dialog-content .table-type legend {
	display: none !important;
}
#tableDialog div.dialog-content .table-type ul {
	height: 100%;
	overflow: hidden;
}
#tableDialog div.dialog-content .table-type li {
	width: 68px;
	height: 60px;
	float: left;
	margin-right: 2px;
}
#tableDialog div.dialog-content .table-type li.last-child {
	margin-right: 0;
}
#tableDialog div.dialog-content .table-type li a {
	display: block;
	width: 65px;
	height: 58px;
	border: 1px solid #e7e6e6;
	background-color: #f3f3f3;
	position: relative;
}
#tableDialog div.dialog-content .table-type li a.selected {
	border-color: #2055a9;
	background-color: #316ac5;
}
#tableDialog div.dialog-content .table-type li a.selected:hover {
	background-color: #316ac5;
}
#tableDialog div.dialog-content .table-type li a:hover {
	background-color: #eee;
}
#tableDialog div.dialog-content .table-type li a img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -14px 0 0 -14px;
}
#tableDialog div.dialog-content fieldset * {
	vertical-align: middle;
}
#tableDialog div.dialog-content fieldset a.tableDialog {
	position: relative;
}
#tableDialog div.dialog-content fieldset div.wrapper {
	margin: 9px 0 17px;
	/margin: 10px 0 10px;
}
#tableDialog div.dialog-content fieldset.table-size div.wrapper {
	position: relative;
	width: 100%;
}
#tableDialog div.dialog-content fieldset .type-text {
	border: 1px solid #7f9db9;
	padding: 2px 0 1px 4px;
	/padding: 1px 0 1px 4px;
}
#tableDialog div.dialog-content fieldset .height-box {
	width: 33px;
}
#tableDialog div.dialog-content fieldset .color-box {
	width: 49px;
	float: left;
	font-size: 11px;
}

#tableDialog div.dialog-content fieldset select {
	font-size: 11px;
	_margin: 0 0 0 -3px;
	width: 113px;
	font-family: arial, sans-serif;
}

#tableDialog div.dialog-content fieldset .type-checkbox {
	/width: 12px;
	/height: 12px;
}
#tableDialog div.dialog-content fieldset li {
	width: 100%;
	overflow: hidden;
	padding-bottom: 1px;
	margin-bottom: 3px;
	_margin-bottom: 1px;
}
#tableDialog div.dialog-content fieldset li.table-width {
	margin-top: 8px;
}
#tableDialog div.dialog-content fieldset label {
	float: left;
	width: 50px;
	font-size: 11px;
	text-align: right;
	margin-right: 8px;
	/position: relative;
	/bottom: -2px;
}
#tableDialog div.dialog-content fieldset li.table-width label, 
#tableDialog div.dialog-content fieldset li.table-height label {
	/bottom: -1px;
	_bottom: 0;
}
#tableDialog div.dialog-content fieldset label.none {
	float: none;
	width: auto;
	text-align: left;
	color: #999;
	/bottom: 0;
	_bottom: -1px;
}
#tableDialog div.dialog-content fieldset span.controller {
	display: block;
	width: 47px;
	height: 18px;
	position: relative;
	float: left;
}
#tableDialog div.dialog-content fieldset.table-border li.weight-li span.controller {
	top: 0px;
	/top: -2px;
}
#tableDialog div.dialog-content fieldset span.controller .type-text {
	width: 41px;
	font-size: 11px;
	padding-top: 2px;
	/padding-top: 1px;
}

#tableDialog div.dialog-content fieldset span.controller span.buttons {
	display: block;
	width: 15px;
	height: 14px;
	position: absolute;
	top: 2px;
	/top: 4px;
	right: 2px;
	_right: 1px;
}
#tableDialog div.dialog-content span.controller span.buttons img {
	vertical-align: middle;
	display: block;
	cursor: pointer;
}
#tableDialog div.dialog-content span.color {
	display: block;
	width: 34px;
	height: 14px;
	border: 1px solid #ccc;
	background-color: #fff;
	float: left;
	padding: 1px;
	_line-height: 0 !important;
	_font-size: 0;
}
#tableDialog div.dialog-content span.color a {
	display: block;
	width: 34px;
	height: 14px;
	text-decoration: none;
}
#tableDialog div.dialog-content span.color a.border {
	background-color: #000000;
}
#tableDialog div.dialog-content span.color a.background {
	background-color: #fff;
}
#tableDialog div.dialog-content .search-color {
	vertical-align: middle;
	margin-top: -2px;
	_margin-left: -3px;
}
#tableDialog div.dialog-content fieldset.table-border ul {
	width: 100%;
	overflow: hidden;
}
#tableDialog div.dialog-content fieldset.table-border li {
	float: left;
}
#tableDialog div.dialog-content fieldset.table-border li.weight-li {
	width: 111px;
}

#tableDialog div.dialog-content fieldset.table-border li.color-li {
	width: 160px;	
}

#tableDialog div.dialog-content fieldset.table-border li.color-li label {
	margin-right: 4px;
}

#tableDialog div.dialog-content fieldset #previewTable {
	position: absolute;
	top: 2px;
	width: 160px;
	left: 112px;
}

#tableDialog div.dialog-content fieldset #previewTable table {
	border-collapse: collapse;
	height: 38px;
	/height: 40px;
	width: 100%;
}
#tableDialog div.dialog-content fieldset #previewTable table th,
#tableDialog div.dialog-content fieldset #previewTable table td {
	border: 1px solid #d2e2ec;
	width: 29px;
}
#tableDialog span.search-button {
	margin-left: 2px;
}
#tableDialog span.search-button a {
	padding: 3px 4px 0 3px;
	/padding: 2px 4px 1px 3px;
	_padding: 3px 4px 0 3px;
	line-height: 12px;
}

#tableDialog div.commit_buttons {
	margin-right: 95px;
	_margin-right: 46px;
}

#tableDialog .cancel_icon {
	/top: 9px;
}
#tableDialog.table fieldset.table-type,
#tableDialog.row fieldset.table-type,
#tableDialog.column fieldset.table-type,

#tableDialog.table fieldset.table-size .new-only,
#tableDialog.row fieldset.table-size .new-only,
#tableDialog.column fieldset.table-size .new-only,

#tableDialog.row fieldset.table-size li.table-width,
#tableDialog.column fieldset.table-size li.table-height,

#tableDialog.row fieldset.table-border,
#tableDialog.column fieldset.table-border,

#tableDialog.new fieldset.table-alignment,
#tableDialog.table fieldset.table-alignment {
	display: none;
}


#tableDialog.new li.table-width,
#tableDialog.new li.table-height,
#tableDialog.new fieldset.table-border/*,
#tableDialog.new fieldset.table-background */
{
	display: none;
}