.wrapper_addcar{
	margin:0px;
	padding:10px;
	border:3px solid #1c75bc;
	min-height:400px;
}
.wrapper_addcar label{
	font-size:14px;
	font-weight:bold;
	margin-bottom:20px;
}
.wrapper_two_column{
	overflow:auto;
}
.wrapper_two_column .left{
	float:left;
	width:49%;
	margin-right:2%;
}
.wrapper_two_column .right{
	float:left;
	width:49%;
}
.wrapper_two_column .fob_price{
	float:left;
	width:69%;
	margin-right:2%;
}
.wrapper_two_column .currency{
	float:left;
	width:29%;
}
.wrapper_two_column .length, .wrapper_two_column .width, .wrapper_two_column .height{
	float:left;
	width:32%;
}
.wrapper_two_column .length, .wrapper_two_column .width{
	margin-right:2%;
}
.wrapper_addcar select, .wrapper_addcar input{
	width:100%;
	height:30px;
	border: 1px solid #cacaca;
	font-size: 12px;
    margin-top: 5px;
	margin-bottom:5px;
	text-indent:5px;
}
.wrapper_addcar input{
	text-indent:10px;
}
.wrapper_addcar textarea{
	width:100%;
	height:100px;
	text-indent:10px;
}

.btn-info{
	width:100px;
	height:30px;
	color:#fff;
	border:none;
	border-radius:4px;
	cursor:pointer;
	
	
	background: rgba(54,141,199,1);
	background: -moz-linear-gradient(top, rgba(54,141,199,1) 0%, rgba(7,115,186,1) 50%, rgba(7,115,186,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(54,141,199,1)), color-stop(50%, rgba(7,115,186,1)), color-stop(100%, rgba(7,115,186,1)));
	background: -webkit-linear-gradient(top, rgba(54,141,199,1) 0%, rgba(7,115,186,1) 50%, rgba(7,115,186,1) 100%);
	background: -o-linear-gradient(top, rgba(54,141,199,1) 0%, rgba(7,115,186,1) 50%, rgba(7,115,186,1) 100%);
	background: -ms-linear-gradient(top, rgba(54,141,199,1) 0%, rgba(7,115,186,1) 50%, rgba(7,115,186,1) 100%);
	background: linear-gradient(to bottom, rgba(54,141,199,1) 0%, rgba(7,115,186,1) 50%, rgba(7,115,186,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#368dc7', endColorstr='#0773ba', GradientType=0 );
}
.btn-info_cancel{
	width:100px;
	height:30px;
	color:#fff;
	border:none;
	border-radius:4px;
	cursor:pointer;
	
	background: rgba(136,136,136,1);
	background: -moz-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 54%, rgba(102,102,102,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(136,136,136,1)), color-stop(54%, rgba(102,102,102,1)), color-stop(100%, rgba(102,102,102,1)));
	background: -webkit-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 54%, rgba(102,102,102,1) 100%);
	background: -o-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 54%, rgba(102,102,102,1) 100%);
	background: -ms-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 54%, rgba(102,102,102,1) 100%);
	background: linear-gradient(to bottom, rgba(136,136,136,1) 0%, rgba(102,102,102,1) 54%, rgba(102,102,102,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#666666', GradientType=0 );
}

.upload_img{
	font-size:12px;
	color:#1c75bc;
	text-decoration:none;
	border:1px solid #dbdbdb;
	border-radius:4px;
	padding:3px 10px;
	
	
	background: rgba(250,250,250,1);
	background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(224,224,224,1) 54%, rgba(224,224,224,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(54%, rgba(224,224,224,1)), color-stop(100%, rgba(224,224,224,1)));
	background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(224,224,224,1) 54%, rgba(224,224,224,1) 100%);
	background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(224,224,224,1) 54%, rgba(224,224,224,1) 100%);
	background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(224,224,224,1) 54%, rgba(224,224,224,1) 100%);
	background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(224,224,224,1) 54%, rgba(224,224,224,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e0e0e0', GradientType=0 );

}

.clear{
	clear:both;
}


