/*table{
	 margin-top: 15px;
	 width:100%;

}
table td{
	text-align: center;
	padding: 7px 6px;
	width: 50%;
	border: 2px solid #F7F2ED;
    border-bottom-color: #ff0000;
    border-top-color:#F7F2ED;
    border-left-color:#F7F2ED;
    border-right-color:#F7F2ED;


}
.title span{
	 width: 300px;
     display: inline-block;
     overflow:auto;
}

table td a{
	text-decoration: none;
	color: #ed1c24;
}
.list_info{
	margin-top:16px;
}
.info_edite{
 float: left;
 border: 2px solid #F7F2ED;
 border-bottom-color: #02a650;
 border-top-color:#F7F2ED;
 border-left-color:#F7F2ED;
 border-right-color:#F7F2ED;
 width:45%;
 padding:2px;
 text-align: center;
 color: #03a156;

}
.info_delete{
	text-align: center;
	float: right;
	border: 2px solid #F7F2ED;
    border-bottom-color: #ec1d27;
    border-top-color:#F7F2ED;
    border-left-color:#F7F2ED;
    border-right-color:#F7F2ED;
    width:45%;
   padding:2px;
   color: #ed1c24;
}
.statust_car{
	left: 20px;
    position: absolute;
    top: -2px;
    width: 156px;
    z-index: 999;
}



.total{
	float: left;
	margin-top:18px;
}
.page_right{
	float: right;
}
.footer{
	margin-top: 10px;
}
a{
	text-decoration: none;

}
strong{
	background:#fef6f3;
	border:1px solid #076fae;
	color:#0872b0;
	padding: 1px; 
}
.total_wrapper{
	width:90%;
}

.td_total{
	float: left;
	text-align: left;
	width:30%;
	border: none;
	color: #535353;
	margin-top: 23px;
	font-size: 12px;
}
.td_page{
	  border: medium none;
    float: right;
    margin-top: 20px;
    max-width: 55%;
   min-width: 58%;
    text-align: left;
}
.td_page a{
	color: #0772ba;
	 padding: 4px;
}
.not_data{
	padding: 66px 0;
    text-align: center;
}
.btn_reset{
	background: #0772ba none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: right;
    height: 25px;
    margin-left: 4px;
    margin-top: 3px;
    width: 80px;
}
.left,.right{
	color: #3d3d3d;

}
#lable_selected{
	color: #555;
}


*/




/*============== Start New and updated car ============== */


.container{
  width: auto !important;
}

.content_new_update{

}

.content_new_update .new_update_title{
    background-color: #dcdee3;
    border-bottom: 1px solid #cacaca;
    height: 32px;
}

.content_new_update .new_update_title .title{
    padding-left: 16px;
    padding-top: 9px;
    width: 70%;
}

.content_new_update .new_update_title .title h5{
    color: #2380bf;
    font-size: 14px;
    margin:0;
    font-weight: bold;
}



.block_content{
	border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
} 

.block_content .list_item{
   	border-bottom: 1px solid #cacaca;
	display: inline-block;
	width: 100%;
}



.block_content .list_item .image_item{ 
   	float: left;
    padding: 12px 3px;
}

.block_content .list_item .image_item img{
  width: 117px;
  height: 82px;
}

/*.block_content .list_item .image_item img{
  width: 100%;
  height: auto;
}*/

/*.block_content .list_item .info_item{ 
    float: left;
    padding: 12px 5px;
    width: 80%;
}*/


.block_content .list_item .info_item{ 
    overflow: hidden;
    padding-left: 3px;
    width: 50%;
}
 

.block_content .list_item .info_item h5{
    color: #0772ba;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 10px;
} 

.block_content .list_item .info_item div{
      font-size: 12px;
    line-height: 18px;
} 
 
.block_content .list_item .info_item .wrap_item{

}

.block_content .list_item .info_item .wrap_item .text_left{
   display: inline;
    float: left;
}

.block_content .list_item .info_item .wrap_item .text_right{
   display: inline;
    float: left;
}

.block_content .list_item .info_item div span{
    font-weight: bold;
} 

.block_content .list_item .info_item p.fob_price{
   font-weight: bold;
  padding-top: 10px;
  font-size: 12px;
}


.block_content .list_item .info_item p span.fob_price_number{
  color: #ff0000;
}

.list_item .image_item .tools_edite_delete{
	margin-top: 9px;
}

.list_item .image_item .tools_edite_delete .tools_edite {
	float: left;
	margin-right: 9px;
	margin-left: 15px;
}

.list_item .image_item .tools_edite_delete .tools_delete{
	float: left;
}

.list_item .image_item .tools_edite_delete .tools_edite img{
	height: 26px;
    width: 37px;
}	

.list_item .image_item .tools_edite_delete .tools_delete img{
	height: 26px;
    width: 37px;
}

.content_new_update a{
	color: #666666;
}

.content_new_update strong{
	color: #FFF;
	 background-color: #008cba;
    border-radius: 2px;
    padding: 0 5px;


}

.first_page_paginate{
	 float: left;
}


.last_page_paginate{
	 float: left;
}

.list_page_paginate{
    margin: 54px 0 54px 0;
    min-width: 140px;
    overflow: hidden;
    width: 100%;
}

.list_page_paginate strong{
	float: left;
	padding: 5px;
}


.list_page_paginate a{
	float: left;
	padding: 5px;
}

.statust_car {
    left: 7%;
    position: absolute;
    width: 156px;
    z-index: 999;
}


/*============== end New and updated car ============== */


.clear{
	clear: both;
}
