.labe_data_thb{
	float: left;
	/*margin-left: 10px;*/
	    width: 94%;
	border: medium none;
	  padding:2px 12px;
}
.labe_data_thbs{
float: left;
	/*margin-left: 10px;*/
	width:97%;
	border: medium none;
	  padding:2px 12px;
}

.labe_data_thbsb{
	 width: 93%;
	border: medium none;
	  padding:2px 12px;

}



/*Rado start mobile css*/

.container {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    text-indent: 5%;
    min-height: 397px;
}
#mobile,#phone{
	
	 width: 93%;
}
.labe_data_thbb{
	width: 93%;
	border: medium none;
}
.labe_data_thbcon {
    border: medium none;
    width: 93%;
}
.mobile_myinfo{
	background: #dcdee3 none repeat scroll 0 0;
    color: #0772ba;
    margin-bottom: 10px;
    padding: 0 !important;
    text-indent: 5%;
    width: 100%;
}
.wrapp_mobile_info{
	border:3px solid #1c75bc;
	margin-left: 5%;
    margin-right: 15px;
    margin-top: 25px;
}
.wrapp_mobile_id{
	margin-bottom: 15px;
	text-indent: 3%;
	padding-top: 0.5%;
}
.mobile_id{
	font-size: 14px;
	font-weight: bold;
	color: #231f20;
}
.mobile_name{
	font-size: 14px;
	color: #414042;
	margin-top: 0.2%;
}
.mobile_name a{
	text-decoration: none;
	color: #0772ba;
}
.labe_data_thbsb {
    border: 1px solid #ccc !important;
    padding: 2px 12px;
    width: 85%;
}
.upload_iframe{
	border: none !important;
}
.intl-tel-input .selected-flag {
    padding: 0px !important;
    width: 36px !important;
}
.upload_iframe {
    width: 89% !important;
}
.upload_container a.close {
    background-color: none !important;
    border-radius: 0px !important;
    height: 0px !important;
    line-height: 0px !important;
    position: absolute !important;
    right: 0 !important;
    text-align: center !important;
    text-decoration: none !important;
    top: 0px !important;
    width: 20px !important;
}
.upload_container {
    color: rgba(255, 255, 255, 0.9);
    content: "" !important;
    font-size: 16px;
    text-shadow: 0 0 rgba(0, 0, 0, 0.9);
}
.btn_block{
	 text-align: center;
}
.btn_info{
	background: rgba(46,137,197,1);
	background: -moz-linear-gradient(top, rgba(46,137,197,1) 0%, rgba(46,137,197,1) 1%, rgba(9,116,187,1) 47%, rgba(7,115,186,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,137,197,1)), color-stop(1%, rgba(46,137,197,1)), color-stop(47%, rgba(9,116,187,1)), color-stop(100%, rgba(7,115,186,1)));
	background: -webkit-linear-gradient(top, rgba(46,137,197,1) 0%, rgba(46,137,197,1) 1%, rgba(9,116,187,1) 47%, rgba(7,115,186,1) 100%);
	background: -o-linear-gradient(top, rgba(46,137,197,1) 0%, rgba(46,137,197,1) 1%, rgba(9,116,187,1) 47%, rgba(7,115,186,1) 100%);
	background: -ms-linear-gradient(top, rgba(46,137,197,1) 0%, rgba(46,137,197,1) 1%, rgba(9,116,187,1) 47%, rgba(7,115,186,1) 100%);
	background: linear-gradient(to bottom, rgba(46,137,197,1) 0%, rgba(46,137,197,1) 1%, rgba(9,116,187,1) 47%, rgba(7,115,186,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e89c5', endColorstr='#0773ba', GradientType=0 );

	border: medium none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
    padding: 10px;
    width: 130px;
}
/*Rado end mobile css*/