#user-list, #msg-list{
	list-style: none;
	margin:0;
	padding:0;
	width: 100%;
	max-width: 300px;
	overflow: auto;
}
#user-list li{
	display: block;
	width: 100%;
	float: left;

	border-bottom: 1px dotted #ddd;
}
#user-list img{
	float: left;
	padding: 5px;
}
#user-list span{
	float: left;
}


/** Messages **/
#msg-list li{
	display: block;
	width: 100%;
	float: left;
	padding: 5px;
	box-sizing:border-box;
}


#msg-list .msg {
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 80px;
}

#msg-list .msg_s {
    text-align: right;
}
#msg-list .msg_s .msg {
    float: right;
}
#msg-list .msg_r .msg {
    float: left;
}
#msg-list .msg-text{
	padding: 5px;
}
#msg-list .msg-sender {
    background: none repeat scroll 0 0 #eef;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}